<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="germplasm-list-creation.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="closeModal()" [disabled]="isLoading">&times;
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<h5 jhiTranslate="germplasm-list-creation.folder-section-title"></h5>
				</div>
				<div class="col">
					<div class="pull-right">
						<img (click)="setMode(FolderModes.Add, $event)" src="/Fieldbook/static/img/add2.png" class="image-padding browse-action"
							 [ngClass]="{ 'disable-image': !selectedNode || selectedNode.data.id === 'CROPLISTS' || selectedNode && selectedNode.leaf }"/>
						<img (click)="setMode(FolderModes.Rename, $event)" src="/Fieldbook/static/img/edit.png" class="image-padding browse-action"
							 [ngClass]="{ 'disable-image': !selectedNode ||  isRootFolder() || selectedNode && selectedNode.leaf }"/>
						<img (click)="setMode(FolderModes.Delete, $event)" src="/Fieldbook/static/img/delete.png" class="image-padding browse-action"
							 [ngClass]="{ 'disable-image': !selectedNode ||  isRootFolder() || selectedNode && selectedNode.leaf }"/>
					</div>
				</div>
			</div>

			<div id="addFolderDiv" *ngIf="mode == FolderModes.Add || mode == FolderModes.Rename">
				<div class="form-group row">
					<label class="col-sm-5 col-form-label font-weight-bold">{{ FolderModes[mode] }} Folder<span class="required">*</span></label>
					<div class="col-sm-7 input-group" style="height: 34px">
						<input type="text" class="form-control" placeholder="Folder Name" [(ngModel)]="name" maxlength="{{ NAME_MAX_LENGTH }}"/>
						<button class="btn btn-success" [title]="FolderModes[mode]" (click)="submitAddOrRenameFolder()">
							<span class="fa fa-check"></span>
						</button>
						<button class="btn btn-danger" title="Cancel" (click)="mode = FolderModes.None">
							<span class="fa fa-close"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="table-responsive">
				<p-tree [value]="nodes"
						[(selection)]="selectedNode"
						[draggableNodes]="true"
						[droppableNodes]="true"
						[validateDrop]="true"
						(onNodeSelect)="onNodeSelect($event)"
						(onNodeDrop)="onDrop($event, $event.dragNode, $event.dropNode)"
						(onNodeExpand)="onNodeExpand($event)"
						autoLayout="true"
						selectionMode="single"
						draggableScope="self"
						droppableScope="self"
						styleClass="tree-table">
					<ng-template pTemplate="default" let-node>
					<span [ngClass]="{ 'folder': !node.leaf, 'file': node.leaf }"></span>
						{{node.data.name}}
					</ng-template>
				</p-tree>
			</div>
		</div>
		<div class="col">
			<h5 jhiTranslate="germplasm-list-creation.details-section-title"></h5>
			<br/>
			<form name="form" #f="ngForm">
				<div class="form-group row">
					<label for="name" class="col-sm-3 col-form-label" jhiTranslate="germplasm-list-creation.name"></label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required/>
					</div>
				</div>
				<div class="form-group row">
					<label for="description" class="col-sm-3 col-form-label" jhiTranslate="germplasm-list-creation.description"></label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="description" name="description" [(ngModel)]="model.description"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="type" class="col-sm-3 col-form-label" jhiTranslate="germplasm-list-creation.type"></label>
					<div class="col-sm-9">
						<select class="form-control" name="dropdownTypes" id="dropdownTypes" [(ngModel)]="model.type" #dropdownTypes="ngModel" required>
							<option *ngFor="let type of listTypes" [value]="type.code">
								<label>{{type.name}}</label>
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="type" class="col-sm-3 col-form-label" jhiTranslate="germplasm-list-creation.date"></label>
					<div class="input-group col-sm-9">
						<input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="selectedDate"
							   ngbDatepicker #date="ngbDatepicker" id="date" name="date" required />
						<div class="input-group-append">
							<button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"></button>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="notes" class="col-sm-3 col-form-label" jhiTranslate="germplasm-list-creation.notes"></label>
					<div class="col-sm-9">
						<textarea type="text" class="form-control" id="notes" name="notes" [(ngModel)]="model.notes"
							   rows="4" ></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="isLoading">
		<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="cancel"></span>
	</button>
	<button (click)="save()" [disabled]="!isFormValid(f)" class="btn btn-primary">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="save"></span>
	</button>
</div>
