<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="row">
			<div class="col-12">
				<label class="font-weight-bold">Level</label>
				<input class="ml-2" [disabled]="isLoading" type="number" [(ngModel)]="level" (ngModelChange)="showGraph()" min="1" max="50"/>
				<input class="ml-2" [disabled]="isLoading" type="checkbox" [(ngModel)]="includeDerivativeLines" (ngModelChange)="showGraph()"/><label class="ml-1" jhiTranslate="pedigree.tree.include.derivative.lines">Include derivative and maintenance lines </label>
				<input class="ml-2" [disabled]="isLoading" type="checkbox" [(ngModel)]="includeBreedingMethod" (ngModelChange)="showGraph()"/><label class="ml-1" jhiTranslate="pedigree.tree.include.breeding.method">Include Breeding Method </label>
				<span class="ml-2" *ngIf="isLoading" class="ml-3 throbber throbber-btn"></span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="pedigree-graph" style="height: 700px; width: 100%; border: 1px solid #e3e3e3; border-radius: 4px;"></div>
	</div>
</div>
