
<div *ngIf="sample">
    <h2><span jhiTranslate="bmsjHipsterApp.sample.detail.title">Sample</span> {{sample.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bmsjHipsterApp.sample.sampleName">Sample Name</span></dt>
        <dd>
            <span>{{sample.sampleName}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.sampleBusinessKey">Sample Business Key</span></dt>
        <dd>
            <span>{{sample.sampleBusinessKey}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.takenBy">Taken By</span></dt>
        <dd>
            <span>{{sample.takenBy}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.plantNumber">Plant Number</span></dt>
        <dd>
            <span>{{sample.plantNumber}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.plantBusinessKey">Plant Business Key</span></dt>
        <dd>
            <span>{{sample.plantBusinessKey}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.plateId">Plate Id</span></dt>
        <dd>
            <span>{{sample.plateId}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.well">Well</span></dt>
        <dd>
            <span>{{sample.well}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sample.samplingDate">Sampling Date</span></dt>
        <dd>
            <span>{{sample.samplingDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
