<jhi-app-modal modalId="{{modalId}}" modalTitle="Select Data File to Import" modalSize="large" closebtn="true">
    <div class="row form-group">
        <div class="col-xs-12 col-md-12">
            <label class=""><em> <span class='required'>*</span> indicates a mandatory field</em></label>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-7 col-md-7">
            <label class="control-label add_top_padding label-bold">Please specify the format you are importing:</label><span
                class="required">*</span>
        </div>
        <div class="col-xs-5 col-md-5">
            <select class="form-control" style="width: 205px" id="importType">
                <option>Please Choose</option>
                <option selected="selected" value="1">CSV</option>
            </select>
        </div>
    </div>

    <div class='row form-group add_top_padding'>

        <div class="col-md-12">
            <div class="fileupload fileupload-new fbk-import-upload-file" data-provides="fileupload">
							<span class="btn btn-info btn-file ">
							<span class="fileupload-new">Browse</span>
								<input #fileUpload id="fileupload" type="file" class="file-input" (change)="onFileChange($event)" multiple="false" />file</input>
							</span>
                <span class="fileupload-preview-wrap"><b>
								<span>Selected import file</span>:</b> <i
                        class="fileupload-preview"></i></span>
                <span style="display: inline-block; margin-left: 15px">
								<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Clear</a>
							</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="close()">Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="import()" aria-hidden="true" #importButton>Import
        </button>
    </div>
</jhi-app-modal>

<!-- The first row in the file is assumed to be the header row -->
<jhi-sample-import-plate-mapping  [importData]="importData" [header]="importData[0]" (onClose)="close()"></jhi-sample-import-plate-mapping>



