<div class="modal fade" id="sampleSearchListModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-large">
            <div class="modal-body">
                <div class="row form-group-lg">
                    <div class="col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal">Search for lists of Samples</label>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"
                                onclick="javascript: closeModal('sampleSearchListModal')" (click)="reset()"></button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br/>
                <div>Click results to work with.<br/></div>
                <br/>
                <div class="searchbody">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="searchbar">
                                <form #searchListForm="ngForm">
                                    <div class="col-md-6">
                                        <div class="float-component">
                                            <input type="text" [(ngModel)]="searchString" (keydown.enter)="searchList()" name="searchString" style="float: left;"/>&nbsp;
                                        </div>
                                        <div class="float-component">
                                            <button type="button" class="btn btn-info" (click)="searchList()" style="float: left;">Search
                                            </button>&nbsp;
                                        </div>
                                        <div class="float-component">
                                            <div class="popup-help-button"> ?</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="float-component">
                                            <input type="checkbox" [(ngModel)]="exactMatch" name="exactMatch" checked=""/>
                                        </div>
                                        <div class="float-component">
                                            Exact matches only
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <span>Total Results: <b>{{sampleListResults.length}}</b></span>
                    <br/>
                    <!--<div class="row">
                        <div class="col-md-12">-->
                    <table class="table table-striped table-curved">
                        <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let sampleList of sampleListResults" (click)="selectList(sampleList)" class="selected"
                            [ngClass]="{'highlight' : sampleList.id == selectedListId}">
                            <td [ngClass]="{ odd: odd, even: even }">{{sampleList.listName}}</td>
                            <td [ngClass]="{ odd: odd, even: even }">{{sampleList.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--   </div>
                    </div>-->
                    <div class="popup"
                         style="margin-left: 0px; margin-top: 0px; z-index: 20000; visibility: hidden; clip: rect(auto, auto, auto, auto); overflow: visible; position: absolute; left: 97px; top: 82px;">
                        <div class="popupContent">
                            <div class="v-label" aria-hidden="false" id="descLbl" style="width: 300px;">You may search for germplasm and
                                germplasm lists using
                                GIDs, Stock IDs, or partial or full germplasm names.<br><br><b>The search results will show:</b>
                                <ul>
                                    <li>Germplasm with matching GIDs</li>
                                    <li>Germplasm with matching Stock IDs</li>
                                    <li>Germplasm with name(s) containing the search term</li>
                                    <li>Parents of the matching germplasm (if selected)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
