<div class="container">
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="importSamplePlateHeader" jhitranslate="bmsjHipsterApp.sample.importPlate.title">Import Plate information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="close()">&times;
        </button>
    </div>
    <div class="row form-group clearfix">
        <div class="col-xs-12 col-md-12">
        </div>
    </div>
    <div class="row form-group add_top_padding" style="margin-bottom: 35px;">
        <div class="col-2"></div>
        <div class="col-md-8">
            <input type="file" class="custom-file-input" multiple="false" id="importFile" (change)="onFileChange($event)" accept="{{selectedFileType}}">
            <label class="custom-file-label" #fileUpload for="importFile"><i class="fa fa-search"></i><span jhiTranslate="bmsjHipsterApp.sample.importPlate.select-file"></span></label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button (click)="import()" class="btn btn-primary" [disabled]="fileName === '' ? 'disabled' : null">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.import">Import</span>
        </button>
    </div>
</div>


