<div>
	<h2>
		<!--<span jhiTranslate="bmsjHipsterApp.sample.home.title">Samples</span>-->
		<!--
		<button class="btn btn-primary float-right jh-create-entity create-sample" [routerLink]="['/', { outlets: { popup: ['sample-new'] } }]">
			<span class="fa fa-plus"></span>
			<span class="hidden-sm-down"  jhiTranslate="bmsjHipsterApp.sample.home.createLabel">
			Create new Sample
			</span>
		</button>
		-->
	</h2>
	<jhi-alert></jhi-alert>
	<!--
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bmsjHipsterApp.sample.home.search' | translate }}">
					<button class="input-group-append btn btn-info" (click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	-->
	<br/>
	<div class="table-responsive" *ngIf="samples">
		<table class="table table-striped">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

				<!-- WITH PAGINATION -->
				<!--
				<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="sampleName"><span jhiTranslate="bmsjHipsterApp.sample.sampleName">Sample Name</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="sampleBusinessKey"><span jhiTranslate="bmsjHipsterApp.sample.sampleBusinessKey">Sample Business Key</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="takenBy"><span jhiTranslate="bmsjHipsterApp.sample.takenBy">Taken By</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="plantNumber"><span jhiTranslate="bmsjHipsterApp.sample.plantNumber">Plant Number</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="plantBusinessKey"><span jhiTranslate="bmsjHipsterApp.sample.plantBusinessKey">Plant Business Key</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="samplingDate"><span jhiTranslate="bmsjHipsterApp.sample.samplingDate">Sampling Date</span> <span class="fa fa-sort"></span></th>
				-->

				<!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>-->
				<th jhiSortBy="sampleId"><span jhiTranslate="bmsjHipsterApp.sample.sampleId">Sample ID</span> </th>
				<th jhiSortBy="sampleName"><span jhiTranslate="bmsjHipsterApp.sample.sampleName">Sample Name</span> </th>
				<th jhiSortBy="sampleBusinessKey"><span jhiTranslate="bmsjHipsterApp.sample.sampleBusinessKey">Sample Business Key</span> </th>
				<th jhiSortBy="takenBy"><span jhiTranslate="bmsjHipsterApp.sample.takenBy">Taken By</span> </th>
				<th jhiSortBy="plantNumber"><span jhiTranslate="bmsjHipsterApp.sample.plantNumber">Plant Number</span> </th>
				<th jhiSortBy="plantBusinessKey"><span jhiTranslate="bmsjHipsterApp.sample.plantBusinessKey">Plant Business Key</span> </th>
				<th jhiSortBy="samplingDate"><span jhiTranslate="bmsjHipsterApp.sample.samplingDate">Sampling Date</span> </th>

				<!--<th></th>-->
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let sample of samples ;trackBy: trackId">
				<td>
					<!--<a [routerLink]="['../sample', sample.id ]">{{sample.id}}</a>-->
					{{sample.id}}
				</td>
				<td>{{sample.sampleName}}</td>
				<td>{{sample.sampleBusinessKey}}</td>
				<td>{{sample.takenBy}}</td>
				<td>{{sample.plantNumber}}</td>
				<td>{{sample.plantBusinessKey}}</td>
				<td>{{sample.samplingDate | date:'medium'}}</td>
				<!--
				<td class="text-right">
					<div class="btn-group flex-btn-group-container">
						<button type="submit"
								[routerLink]="['../sample', sample.id ]"
								class="btn btn-info btn-sm">
							<span class="fa fa-eye"></span>
							<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/edit'} }]"
								replaceUrl="true"
								queryParamsHandling="merge"
								class="btn btn-primary btn-sm">
							<span class="fa fa-pencil"></span>
							<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
						</button>
						<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'sample/'+ sample.id + '/delete'} }]"
								replaceUrl="true"
								queryParamsHandling="merge"
								class="btn btn-danger btn-sm">
							<span class="fa fa-remove"></span>
							<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
						</button>
					</div>
				</td>
				-->
			</tr>
			</tbody>
		</table>
	</div>
	<!--
	<div *ngIf="samples && samples.length">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>
		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
		</div>
	</div>
	-->
	<!--<div class="modal fade" id="saveSampleListTreeModal" tabindex="-1" role="dialog" aria-labelledby="saveSampleListTreeModal" aria-hidden="true">-->
		<!--<div class="modal-dialog modal-large">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-body">-->
					<div class="row form-group">
						<div class="col-xs-11 col-md-11">
							<label class="modal-title fbk-modal-title" id="heading-modal">Open sample list</label>
						</div>
						<div class="col-xs-1 col-md-1">
							<button type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></button>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-6 col-md-6">
							<div class="form-horizontal form-group">
								<div id="addSampleFolderDiv" class="fbk-hide">
									<div class="col-xs-4 col-md-4 nopadding">
										<label class="control-label label-bold">Folder Name: <span class="required">*</span></label>
									</div>
									<div class="col-xs-8 col-md-8 nopadding">
										<div class="input-group">
											<input id="addFolderName" name="addFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="SaveSampleList.folderChangeKeypress(event, '1');"/>
											<div class="input-group-btn">
												<button class="btn btn-success" id="addSampleFolderOkButton" onclick="javascript: ListTreeOperation.createSampleFolder()">
													<span class="glyphicon glyphicon-ok"></span>
												</button>
												<button class="btn btn-danger" id="addSampleFolderCancelButton" onclick="javascript: ListTreeOperation.hideFolderDiv('#addSampleFolderDiv')">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div id="renameSampleFolderDiv" class="fbk-hide">
									<div class="col-xs-4 col-md-4 nopadding">
										<label class="control-label  label-bold">Folder Name: <span class="required">*</span></label>
									</div>
									<div class="col-xs-8 col-md-8 nopadding">
										<div class="input-group">
											<input id="renameFolderName" name="renameFolderName" type="text" class="form-control select2" placeholder="Folder Name" onkeypress="SaveSampleList.folderChangeKeypress(event, '2');"/>
											<div class="input-group-btn">
												<button class="btn btn-success" id="renameSampleFolderOkButton" onclick="javascript: ListTreeOperation.submitRenameSampleListFolder()">
													<span class="glyphicon glyphicon-ok"></span>
												</button>
												<button class="btn btn-danger" id="renameSampleFolderCancelButton" onclick="javascript: ListTreeOperation.hideFolderDiv('#renameSampleFolderDiv')">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div id="sampleFolderTree"></div>
						</div>
					</div>
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
</div>
