<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Ask support / Feedback</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Ask support / Feedback</h1>

<p><strong>Sent by:</strong> <span th:text="${fullName}">customer full name</span> (<span th:text="${email}">email@address.com</span>)</p>

<p><strong>Summary:</strong> <span th:text="${summary}">hello world this is a summary of my feedback</span></p>

<p><strong>Request Category:</strong> <span th:text="${requestCategory}"></span></p>

<p><strong>Description:</strong></p>

<p th:text="${description}">description</p>

<h2>Additional BMS details</h2>
<table cellpadding="5" style="border-collapse:collapse; border-color: #ccc">
	<tbody>
	<tr>
		<td>BMS Account Details</td>
		<td>Full Name: <span th:text="${accountFullName}"></span><br>
			Username: <span th:text="${accountUsername}"></span><br>
			Email: <span th:text="${accountEmail}"></span></td>
	</tr>
	<tr>
		<td>Browser</td>
		<td th:text="${browserInfo}"></td>
	</tr>
	<tr>
		<td>BMS Version</td>
		<td th:text="${bmsVersion}"></td>
	</tr>

	<tr>
		<td>Screen Resolution</td>
		<td th:text="${screenResolution}"></td>
	</tr>
	<tr>
		<td>Program</td>
		<td th:text="${lastOpenedProgram}"></td>
	</tr>
	<tr>
		<td>Crop</td>
		<td th:text="${lastOpenedCrop}"></td>
	</tr>
	<tr>
		<td>Last opened module</td>
		<td th:text="${lastOpenedModule}"></td>
	</tr>
	</tbody>
</table>

</body>
</html>
