<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="#{email.greeting(${recipientName})}">Hello, world</p>
    <p>
        We’ve received a request to reset the password for this BBM account. Click this link to reset your password:
        <a th:href="${forgotPasswordUrl}"><span th:text="${forgotPasswordUrl}"></span></a>
    </p>
    <p>
        If you no longer wish to make this change or if you did not initiate this request, please disregard this e-mail.
    </p>
</body>
</html>