<div class="modal-header" *ngIf="openedFromWorkbench">
	<h5 class="modal-title"><span jhiTranslate="lot-creation.title"></span></h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">&times;
	</button>
</div>
<div class="modal-body">
	<form name="form" #f="ngForm" class="form-horizontal">
		<div class="form-group row" [class.has-error]="!stockIdPrefix.valid">
			<label for="stockIdPrefix" class="col-sm-4 col-form-label">Stock ID Prefix
				<i class="fa fa-info-circle col-1" data-toggle="tooltip" data-placement="top" title="If no prefix is specified, the default SID prefix will be used"></i></label>
			<div class="col-sm-4">
				<input type="text" class="form-control" [pattern]="STOCK_ID_PREFIX_REGEX" name="stockIdPrefix" id="stockIdPrefix" [maxLength]="15" [(ngModel)]="model.stockIdPrefix" #stockIdPrefix="ngModel"/>
			</div>
		</div>
		<div class="form-group row required">
			<label class="col-sm-4 col-form-label">
				Storage Location
			</label>
			<div class="col-sm-4">
				<jhi-locations-select [(value)]="storageLocIdSelected" [showFilterOptions]="true" [storageLocationsOnly]="true"></jhi-locations-select>
			</div>
		</div>
		<div class="form-group row" [class.has-error]="!dropdownUnits.valid">
			<label for="dropdownUnits" class="col-sm-4">Units</label>
			<div class="col-sm-4">
				<select class="form-control" name="dropdownUnits" id="dropdownUnits" [(ngModel)]="lot.unitId" [required]="initialDepositRequired" #dropdownUnits="ngModel">
					<option *ngFor="let unit of units | async" [value]="unit.id">
						<label>{{unit.name}}</label>
					</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="lotNotes" class="col-sm-4 col-form-label">Notes</label>
			<div class="col-sm-4">
				<textarea class="form-control" rows="3" name="lotNotes" id="lotNotes" [(ngModel)]="lot.notes" #lotNotes="ngModel"></textarea>
			</div>
		</div>
		<div>
			<h4 class="modal-title">Deposit</h4>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label" [hidden]="initialDepositRequired">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" [(ngModel)]="initialDepositRequired" name="depositAvailable" id="depositAvailable">
						<label class="form-check-label" for="depositAvailable">
							Initial deposit
						</label>
					</div>
				</label>
			</div>
		</div>
		<div class="border-top my-3">
		</div>
		<br>
		<div class="form-group row" [ngStyle]="{'margin-bottom': depositAmount.touched && depositAmount.invalid ? '0px':'16px'}">
			<label for="depositAmount" class="col-sm-4 col-form-label">Amount</label>
			<div class="col-sm-4">
				<input type="number" class="form-control" name="depositAmount" id="depositAmount" [disabled]="!initialDepositRequired"
					   [(ngModel)]="deposit.amount" jhi-customMinGreaterThanValidator min="0" #depositAmount="ngModel"
					   [ngClass]="{ 'is-invalid': f.submitted && depositAmount.invalid }" [required]="initialDepositRequired"/>
			</div>
		</div>
		<div class="form-group row" [hidden]="!(depositAmount.touched && depositAmount.invalid)">
			<div class="form-text text-danger offset-4 col-sm-4">
				<small>Initial amount must be higher than zero</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="depositNotes" class="col-sm-4 col-form-label">
				Notes
			</label>
			<div class="col-sm-4">
				<div class="form-group row">
					<div class="col">
						<textarea class="form-control" rows="3" name="depositNotes" id="depositNotes" [disabled]="!initialDepositRequired" [(ngModel)]="deposit.notes" #depositNotes="ngModel"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" [(ngModel)]="isConfirmDeposit" id="isConfirmDeposit" name="isConfirmDeposit" [disabled]="!initialDepositRequired">
							<label class="form-check-label" for="isConfirmDeposit"><span jhiTranslate="lot-creation.confirm.transactions.checkbox.label"></span></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<jhi-alert *ngIf="!openedFromWorkbench" style="margin-right: auto;"></jhi-alert>
	<button *ngIf="openedFromWorkbench" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
		<span jhiTranslate="entity.action.cancel">Cancel</span>
	</button>
	<button (click)="save()" [disabled]="f.form.invalid || isSuccess || isLoading" class="btn btn-primary" data-test="createLotsButton">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
	</button>
</div>

