<div class="container">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold">
				<span *ngIf="nameId" jhiTranslate="germplasm-name-modal.edit.header"></span>
				<span *ngIf="!nameId" jhiTranslate="germplasm-name-modal.create.header"></span>
			</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="clear()">&times;
			</button>
		</div>
	</div>
	<div class="modal-body">
		<form name="form" #f="ngForm">
			<div class="form-group row required">
				<label for="dropdownTypes" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm-name-modal.type">Name Type</label>
				<div class="col-sm-9">
					<ng-select2 name="dropdownTypes" id="dropdownTypes" width="100%" [(ngModel)]="nameTypeCode"
								[data]="nameTypes | async | NameTypeSelect2Data">
					</ng-select2>
				</div>
			</div>
			<div class="form-group row required">
				<label for="germplasmname" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm-name-modal.name">Name</label>
				<div class="col-sm-9">
					<textarea rows="3" class="form-control" name="germplasmname" id="name" [(ngModel)]="name" #germplasmname="ngModel" maxlength="5000"></textarea>
				</div>
			</div>
			<div class="form-group row required">
				<label for="germplasmdate" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm-name-modal.date">Date</label>
				<div class="input-group col-sm-9">
					<input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date"
						   ngbDatepicker #germplasmdate="ngbDatepicker" id="germplasmdate" name="date" required/>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary calendar" (click)="germplasmdate.toggle()" type="button"></button>
					</div>
				</div>
			</div>
			<div class="form-group row required">
				<label for="dropdownLocations" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm-name-modal.location">Location</label>
				<div class="col-sm-9">
					<jhi-locations-select [(value)]="locationId" [showFilterOptions]="false"></jhi-locations-select>
				</div>
			</div>
			<div class="form-group row">
				<label for="germplasmpreferred" class="col-sm-3 col-form-label"></label>
				<div class="col-sm-9">
					<input type="checkbox" name="germplasmpreferred" id="germplasmpreferred" [(ngModel)]="preferred">&nbsp;<label for="germplasmpreferred" jhiTranslate="germplasm-name-modal.preferred">Preferred Name</label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="cancel"></span>
		</button>
		<button (click)="save()" [disabled]="!isFormValid(f)" class="btn btn-primary">
			<span *ngIf="isLoading" class="throbber throbber-btn"></span>
			<span class="fa fa-save"></span>&nbsp;
			<span *ngIf="nameId" jhiTranslate="update"></span>
			<span *ngIf="!nameId" jhiTranslate="create"></span>
		</button>
	</div>
</div>
