<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="germplasm.import.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="dismiss()">&times;
	</button>
</div>
<div class="modal-body">
	<div>
		<h3 jhiTranslate="germplasm.import.basicDetails.header"></h3>
		<form name="detailsForm" #detailsForm="ngForm">
			<div jhiTranslate="germplasm.import.basicDetails.description" *ngIf="!hasAllBasicDetails()"></div>
			<div class="form-group row">
				<label for="breedingMethod" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.basicDetails.breeding.methods"></label>
				<div class="col-sm-6" *ngIf="!hasAllBreedingMethods() else allGood">
					<ng-select2 *ngIf="!useFavoriteBreedingMethods" name="breedingMethod" id="breedingMethod" width="100%" [(ngModel)]="breedingMethodSelected"
								[data]="breedingMethods | async | BreedingMethodSelect2Data">
					</ng-select2>
					<ng-select2 *ngIf="useFavoriteBreedingMethods" name="breedingMethodFavorite" id="breedingMethodFavorite" width="100%" [(ngModel)]="breedingMethodSelected"
								[data]="favoriteBreedingMethods | async | BreedingMethodSelect2Data">
					</ng-select2>
					<a style="margin-left: 5px; float: right" jhiTranslate="breeding-method.browser.title"
					   (click)="openBreedingMethodManager()"></a>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" name="useFavoriteBreedingMethods" id="useFavoriteBreedingMethods"
							   [(ngModel)]="useFavoriteBreedingMethods">
						<label class="form-check-label" for="useFavoriteBreedingMethods" jhiTranslate="germplasm.import.basicDetails.breeding.methods.use.favorite">
						</label>
					</div>
				</div>
			</div>
			<!-- TODO finish basic details -->
		</form>
	</div>
	<br/>
	<div>
		<h3 jhiTranslate="germplasm.import.basicDetails.names.and.attributes.header"></h3>
		<form name="namesAndAttributesForm" #namesAndAttributesForm="ngForm">
			<div class="form-group row">
				<label for="names" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.basicDetails.names"></label>
				<div class="col-sm-8">
					<p-table styleClass="table table-striped table-bordered table-curved"
							 [autoLayout]="true"
							 [value]="names">

						<ng-template pTemplate="header">
							<tr>
								<th *ngIf="hasEmptyPreferredName"></th>
								<th *ngIf="hasEmptyPreferredName">PRIORITY</th>
								<th>NAME TYPE</th>
								<th>DESCRIPTION</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData let-index="rowIndex">
							<tr [pReorderableRow]="index">
								<td *ngIf="hasEmptyPreferredName">
									<i class="fa fa-bars" style="cursor: pointer" pReorderableRowHandle></i>
								</td>
								<td *ngIf="hasEmptyPreferredName">{{index+1}}</td>
								<td>{{rowData.code}}</td>
								<td>{{rowData.name}}</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
			<!-- TODO finish basic details -->
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">
		<span jhiTranslate="back"></span>
	</button>
	<button (click)="next()" [disabled]="!canProceed()" class="btn btn-primary">
		<span jhiTranslate="next"></span>
	</button>
</div>
<ng-template #allGood>
	<label class="col col-form-label">
		Complete!&nbsp;<span class="fa fa-check text-success"></span>
	</label>
</ng-template>
