<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="germplasm.import.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="dismiss()">&times;
	</button>
</div>
<div class="modal-body">
	<div>
		<h3 jhiTranslate="germplasm.import.inventory.header"></h3>
		<form name="inventoryDetailsForm" #inventoryDetailsForm="ngForm">
			<div jhiTranslate="germplasm.import.inventory.description" *ngIf="!hasAllInventoryDetails()"></div>
			<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
				<div class="col">
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" name="createInventoryLots" id="createInventoryLots"
							   [(ngModel)]="createInventoryLots">
						<label class="form-check-label" for="createInventoryLots" jhiTranslate="germplasm.import.inventory.create.lots">
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col" *ngIf="enableOptionsToComplete()">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="option-group" id="completeAllEntries" [value]="true" [(ngModel)]="completeAllEntries" [disabled]="!createInventoryLots">
						<label class="form-check-label" for="completeAllEntries" jhiTranslate="germplasm.import.inventory.complete.all.entries"></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="option-group" id="someInventoryData" [value]="false" [(ngModel)]="completeAllEntries" [disabled]="!createInventoryLots">
						<label class="form-check-label" for="someInventoryData" jhiTranslate="germplasm.import.inventory.complete.entries.with.some.data"></label>
					</div>
				</div>
			</div>
			<div class="form-group row" style="margin-top: 15px;margin-bottom: 15px;" [class.required]="createInventoryLots">
				<label for="stockIdPrefixInput" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.inventory.stock.id.prefix">
					<i class="fa fa-info-circle col-2" data-toggle="tooltip" data-placement="top" title="If no prefix is specified, the default SID prefix will be used"></i>
				</label>
				<div class="col-sm-6" *ngIf="!hasAllStockIds() else allGood">
					<div class="row">
						<div class="input-group col-xs-12 col-md-12">
							<input class="form-control" [(ngModel)]="stockIdPrefix" [pattern]="STOCK_ID_PREFIX_REGEX" [maxLength]="15" id="stockIdPrefixInput" name="stockIdPrefixInput"
								   [disabled]="!createInventoryLots" [required]="createInventoryLots" #stockIdPrefixInput="ngModel"/>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row" [class.required]="createInventoryLots">
				<label for="seedStorageLocation" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.inventory.seed.storage.location"></label>
				<div class="col-sm-6" *ngIf="!hasAllLocations() else allGood">
					<jhi-locations-select [(value)]="locationSelected" [showFilterOptions]="true" [storageLocationsOnly]="true" [disabled]="!createInventoryLots"></jhi-locations-select>
				</div>
			</div>
			<div class="form-group row" [class.required]="createInventoryLots">
				<label for="dropdownUnits" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.inventory.units"></label>
				<div class="col-sm-6" *ngIf="!hasAllUnits() else allGood">
					<select class="form-control" name="dropdownUnits" id="dropdownUnits" [(ngModel)]="unitSelected"
							[disabled]="!createInventoryLots" [required]="createInventoryLots" #dropdownUnits="ngModel">
						<option *ngFor="let unit of units | async" [value]="unit.name">
							<label>{{unit.name}}</label>
						</option>
					</select>
				</div>
			</div>
			<div class="form-group row" [class.required]="createInventoryLots">
				<label for="depositAmount" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm.import.inventory.amount">
				</label>
				<div class="col-sm-6" *ngIf="!hasAllAmounts() else allGood">
					<div class="row">
						<div class="input-group col-xs-12 col-md-12">
							<input type="number" class="form-control" name="depositAmount" id="depositAmount" [disabled]="!createInventoryLots"
								   [(ngModel)]="deposit.amount" jhi-customMinGreaterThanValidator min=0 #depositAmount="ngModel"
								   [ngClass]="{ 'is-invalid': inventoryDetailsForm.submitted && depositAmount.invalid }" [required]="createInventoryLots" />
						</div>
						<div class="form-group row" [hidden]="!(depositAmount.touched && depositAmount.invalid)">
							<div class="col-4"></div>
							<small class="form-text text-danger col-xs-12 col-md-12" style="margin-left: 20px;">
								Initial amount must be higher than zero
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;margin-bottom: 15px;">
				<div class="col-xs-12 col-md-12">
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" name="confirmDeposit" id="confirmDeposit" [(ngModel)]="context.amountConfirmed" [disabled]="!createInventoryLots">
						<label class="form-check-label" for="confirmDeposit" jhiTranslate="germplasm.import.inventory.transaction.confirm">
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">
		<span jhiTranslate="back"></span>
	</button>
	<button (click)="next()" [disabled]="!canProceed(inventoryDetailsForm)" class="btn btn-primary" data-test="importGermplasmInventoryButton">
		<span jhiTranslate="next"></span>
	</button>
</div>
<ng-template #allGood>
	<label class="col form-control-plaintext">
		Complete!&nbsp;<span class="fa fa-check text-success"></span>
	</label>
</ng-template>
