<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="germplasm.import.matches.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="dismiss()">&times;
	</button>
</div>
<div class="modal-body">
	<div>
		<div class="row mb-sm-3">
			<div class="col">
				<span jhiTranslate="germplasm.import.matches.matches.were.found" [translateValues]="{entryNo: entryNo, matchNumber: matchNumber, unassignedCount: unassignedCount}"></span>
				<span *ngIf="!!guidMatch" jhiTranslate="germplasm.import.matches.with.guid.match" [translateValues]="{guid: guidMatch.germplasmUUID}"></span>
				<span *ngIf="!guidMatch" jhiTranslate="germplasm.import.matches.click.on.an.entry"></span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-curved">
						<thead>
						<th>GID</th>
						<th>PREFERRED NAME</th>
						<th>NAMES</th>
						<th>LOCATION</th>
						<th>BREEDING METHOD</th>
						<th>CREATION DATE</th>
						</thead>
						<tbody>
						<tr [@tableAnimation] *ngFor="let germplasm of matches | slice: (page-1) * pageSize : page * pageSize"
							[class.selected]="selectMatchesResult[dataRow[HEADERS.ENTRY_NO]] == germplasm.gid || guidMatch?.gid == germplasm.gid"
							[class.selectable]="!guidMatch"
							(click)="!guidMatch && onSelectMatch(germplasm)">
							<td><a [routerLink]="['/', { outlets: { popup: 'germplasm-details-dialog/' + germplasm.gid } }]" [queryParams]="{designation: germplasm.preferredName}">{{germplasm.gid}}</a></td>
							<td><a [routerLink]="['/', { outlets: { popup: 'germplasm-details-dialog/' + germplasm.gid } }]" [queryParams]="{designation: germplasm.preferredName}">{{germplasm.preferredName}}</a></td>
							<td><span *ngFor="let name of germplasm.names; let last = last">{{name.name}}<span *ngIf="!last">, </span></span></td>
							<td>{{germplasm.breedingLocation}}</td>
							<td>{{germplasm.breedingMethod}}</td>
							<td>{{germplasm.creationDate}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col">
						<div class="pagination-container">
							<div class="pagination-box pagination-box-left">
								<div>
									<jhi-item-count [page]="page" [total]="matches.length" [itemsPerPage]="pageSize"></jhi-item-count>
								</div>
							</div>
							<div class="pagination-box">
								<ngb-pagination [collectionSize]="matches.length" [(page)]="page" [pageSize]="pageSize"
												[maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
							</div>
							<div class="pagination-box pagination-box-right">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col">
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" name="ignoreMatch" id="ignoreMatch"
						   [(ngModel)]="isIgnoreMatch" [disabled]="isIgnoreAllRemaining || !!guidMatch"
						   (change)="onIgnoreMatch()">
					<label class="form-check-label" for="ignoreMatch" jhiTranslate="germplasm.import.matches.ignore.match">
					</label>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col">
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" name="ignoreAllRemaining" id="ignoreAllRemaining"
						   [(ngModel)]="isIgnoreAllRemaining" [disabled]="!!guidMatch"
						   (change)="onIgnoreAllRemaining()">
					<label class="form-check-label" for="ignoreAllRemaining" jhiTranslate="germplasm.import.matches.ignore.all.remaining">
					</label>
				</div>
			</div>
		</div>
		<!--<div class="alert alert-warning" role="alert" *ngIf="size(matchesByGUID) && isIgnoreAllRemaining">
			<i class="fa fa-warning"></i>
			<span class="ml-3" jhiTranslate="germplasm.import.matches.guid.matches.warning"></span>
		</div>-->
	</div>
</div>
<div class="modal-footer">
	<button *ngIf="matchNumber === 1" type="button" class="btn btn-secondary" data-dismiss="modal"
			(click)="dismiss()">
		<span jhiTranslate="cancel"></span>
	</button>
	<button *ngIf="matchNumber > 1" type="button" class="btn btn-secondary"
			(click)="back()">
		<span jhiTranslate="back"></span>
	</button>
	<button (click)="next()" class="btn btn-primary" [disabled]="!(isIgnoreAllRemaining || isIgnoreMatch || guidMatch || selectMatchesResult[dataRow[HEADERS.ENTRY_NO]])">
		<span *ngIf="isFinish(); else nextButton" jhiTranslate="finish"></span>
		<ng-template #nextButton><span jhiTranslate="next"></span></ng-template>
	</button>
</div>
