<div class="row form-group">
	<div class="col-xs-12 col-md-12">
		<div class="container-fluid">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved" *ngIf="germplasmList.length else nodata">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="pedigree.gid-column">GID</th>
						<th scope="col" jhiTranslate="pedigree.preferred-name-column">PREFERRED NAME</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let germplasmDto of germplasmList">
						<td><a [href]="this.germplasmDetailsUrlService.getUrl(germplasmDto.gid)" target="_blank">{{germplasmDto.gid}}</a></td>
						<td jhiScrollableTooltip [tooltipText]="germplasmDto.preferredName" placement="bottom">{{germplasmDto.preferredName | truncateWithEllipsis:MAX_NAME_DISPLAY_SIZE}}</td>
					</tr>
					</tbody>
				</table>
				<ng-template #nodata>
					<table class="table table-striped table-bordered table-curved">
						<thead>
						<tr>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td jhiTranslate="no.data"></td>
						</tr>
						</tbody>
					</table>
				</ng-template>
			</div>
		</div>
	</div>
</div>
