<div class="row form-group">
	<div class="col-xs-12 col-md-12">
		<div class="row">
			<div class="col-12">
				<input type="checkbox" [(ngModel)]="includeDerivativeLines" (ngModelChange)="loadTree()"/><label class="ml-1" jhiTranslate="pedigree.tree.include.derivative.lines">Include derivative and maintenance lines </label>
				<button class="btn btn-info ml-3"><span jhiTranslate="pedigree.tree.view-pedigree-graph"></span></button>
			</div>
		</div>
		<div class="table-responsive pt-3">
			<label *ngIf="numberOfGenerations">{{numberOfGenerations}} Generations </label>
			<a class="pull-right" href="javascript: void(0)" (click)="loadTree(numberOfGenerations)">Expand All</a>
			<p-tree [value]="nodes"
					(onNodeExpand)="onNodeExpand($event)"
					autoLayout="true"
					styleClass="tree-table">
				<ng-template pTemplate="default" let-node>
					<a [href]="this.germplasmDetailsUrlService.getUrl(node.data.id)" target="_blank">{{node.data.name}} ({{node.data.id}})</a>
				</ng-template>
			</p-tree>
		</div>
	</div>
</div>
