<div class="container pt-3">
	<jhi-collapsible heading="{{translateService.instant('pedigree.progenitors.title')}}">
		<div class="container">
			<table class="table table-striped table-bordered table-curved">
				<thead>
				<th scope="col" jhiTranslate="pedigree.progenitors.male-parent">Male Parent</th>
				<th scope="col" jhiTranslate="pedigree.progenitors.female-parent">Female Parent</th>
				<th scope="col" jhiTranslate="pedigree.progenitors.group-source">Group Source</th>
				<th scope="col" jhiTranslate="pedigree.progenitors.immediate-source">Immediate Source</th>
				<th scope="col" jhiTranslate="pedigree.progenitors.breeding-method">Breeding Method</th>
				<th scope="col" jhiTranslate="germplasm-details.actions">Actions</th>
				</thead>
				<tbody>
				<tr>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td><a><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</jhi-collapsible>
	<iframe [src]="" style="border: 0" width="100%" height="100%"></iframe>
</div>