@media (min-width: 1200px) {
	.container {
		width: 970px !important;
	}
}

.container {
	margin-top: 20pt;
	margin-bottom: 20pt;
}

h2 {
	color: #5C6F82;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
}

.thumbnail {
	box-shadow: 1px 1px 1px 1px #888;
	margin: 5pt;
}

.thumbnail .img-responsive {
	margin: auto auto;
	padding: 5pt
}

.about-header {
	@extend h2;
}

.about-header img {
	vertical-align: middle;
}
