<div class="navbar-container" >
	<mat-toolbar color="primary" class="mat-elevation-z1">
		<button mat-icon-button id="menu" (click)="sideNav.toggle()">
			<mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
		</button>
	</mat-toolbar>
	<mat-sidenav-container>
		<mat-sidenav #sideNav mode="side">
			<mat-nav-list>
				<a mat-list-item (click)="openTool('/ibpworkbench/controller/jhipster#germplasm-manager')">Germplasm Manager</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<iframe #viewport *ngIf="safeUrl" [src]="safeUrl" style="border: 0; width: 100%; height: 100%" ></iframe>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

