<div class="navbar-container">
	<mat-toolbar color="primary" class="mat-elevation-z1">
		<button mat-icon-button id="menu" (click)="sideNav.toggle()" *ngIf="isSideNavAvailable()">
			<mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
		</button>
		<button (click)="myPrograms()" mat-icon-button color="accent" class="navbar-brand">
			<img src="../../content/images/ibp_logo.jpg" alt="">
		</button>
		<span id="programName">{{program?.name}}</span>
		<div class="toolbar-filler"></div>
		<button mat-button (click)="siteAdmin()" *jhiHasAnyAuthority="SITE_ADMIN_PERMISSIONS">Site Admin</button>
		<button mat-button *ngIf="toolUrl" (click)="myPrograms()">My Programs</button>
		<ng-container *ngIf="!toolUrl">
			<button mat-button (click)="addProgram()" *jhiHasAnyAuthority="ADD_PROGRAM_PERMISSION"><i class="fa fa-plus"></i> Add a Program</button>
		</ng-container>

		<button mat-icon-button (click)="about()">
			<mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
		</button>

		<a mat-icon-button href="{{aboutBMSHelpLink}}" target="_blank">
			<mat-icon fontSet="fa" fontIcon="fa-question-circle"></mat-icon>
		</a>

		<a mat-icon-button href="{{askForSupportHelpLink}}" target="_blank">
			<mat-icon fontSet="fa" fontIcon="fa-comments"></mat-icon>
		</a>

		<button mat-button [matMenuTriggerFor]="memberMenu">
			<i class="fa fa-user"></i><span style="margin-left: 5px">{{user?.username}}</span>
		</button>
		<mat-menu #memberMenu="matMenu" yPosition="below" [overlapTrigger]="false">
			<div class="container">
				<div class="form-group" style="margin-bottom: 0px;">
					<button mat-icon-button id="menu" (click)="openMyProfile()">
						<i class="fa fa-pencil-square-o"></i><span style="margin-left: 5px">{{user?.firstName}} {{user?.lastName}}</span>
					</button>
				</div>
				<div class="row">
					<h6 class=col>{{user?.email}}</h6>
				</div>
			</div>
			<button class="btn btn-primary" style="margin-left: 15px; margin-top: 10px;" (click)="logout()">Sign out</button>
		</mat-menu>

	</mat-toolbar>
	<mat-sidenav-container>
		<mat-sidenav #sideNav mode="side" opened="true" *ngIf="isSideNavAvailable()"
					 fixedInViewport="true" fixedTopGap="40" fixedBottomGap="20">
			<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
				<!-- This is the tree node template for expandable nodes -->
				<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
					<button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
						<mat-icon class="mat-icon-rtl-mirror" fontSet="fa"
								  [fontIcon]="treeControl.isExpanded(node) ? 'fa-caret-down' : 'fa-caret-right'">
						</mat-icon>
					</button>
					{{node.name}}
				</mat-tree-node>
				<!-- This is the tree node template for leaf nodes -->
				<mat-tree-node class="leaf" [class.selected]="toolLinkSelected.startsWith(node.link)"
							   *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="34"
							   (click)="openTool(node.link)">
					{{node.name}}
				</mat-tree-node>
			</mat-tree>
			<div *ngIf="version" class="version">{{version}}</div>
		</mat-sidenav>
		<mat-sidenav-content>
			<iframe #viewport id="programFrame" name="PID_Sbrowser" *ngIf="toolUrl" [src]="toolUrl" style="border: 0; width: 100%; height: 100%"></iframe>
			<iframe *ngIf="!toolUrl" id="programsFrame" name="programs" src="/ibpworkbench/main/#programs" style="border: 0; width: 100%; height: 100%"></iframe>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
<jhi-alert></jhi-alert>
