body {
  margin: 0;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  a[mat-icon-button]:hover {
    color: white;
  }

  .mat-sidenav {
    background-color: #e9e9e9;
    min-width: 270px;

    $left-sidenav-padding: 34px;

    .version {
      position: fixed;
      left: 0;
      bottom: 0;
      font-size: 8pt;
      color: #9e9e9e;
      padding-left: 3px;
      height: 20px;
    }

    .mat-tree {
      background: none;

      .mat-tree-node {
        font-weight: bold;
        min-height: auto;
        cursor: pointer;

        $right-tree-node-padding: 20px;

        &.leaf {
          color: #428bca;
          font-size: 13px;
          padding: 5px $right-tree-node-padding 5px $left-sidenav-padding;

          &:hover, &.selected {
            color: #fff;
            background-color: #428bca;
            border-color: #357ebd;
          }
        }

        &:not(.leaf) {
          color: #9e9e9e;
          text-transform: uppercase;
          font-size: 14px;
          padding-right: $right-tree-node-padding;
        }

        .mat-icon-button {
          width: $left-sidenav-padding;
        }
      }

      .node-hidden {
        display: none;
      }
    }

    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      padding: 0;
    }
  }

  .mat-sidenav-content {
    overflow: visible;
    background-color: #fff;
  }

  .mat-sidenav-container {
    flex: 1;
    background-color: #e9e9e9;
  }

  .mat-toolbar {
    height: 40px;
    padding: 0;

    .toolbar-filler {
      flex: 1 1 auto
    }

    .toolbar-right {
      display: flex;
    }

    .btn {
      background-color: var(--primary);
    }

    .navbar-brand {
      img {
        width: 34px;
        height: 34px;
        border-radius: 6px;
      }
    }
  }
}
