<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="key-sequence-register.title"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="dismiss()">&times;
	</button>
</div>
<div class="modal-body">
	<div class="form-group row">
		<div class="col">
			<span jhiTranslate="key-sequence-register.description"></span>
		</div>
	</div>
	<div class="form-group row">
		<label for="prefix" class="col-sm-3 col-form-label"><span jhiTranslate="key-sequence-register.enter.prefix"></span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" autocomplete="off" name="prefix" id="prefix" [maxLength]="20" [(ngModel)]="prefixValue"/>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary" (click)="add(prefixValue)"><span jhiTranslate="key-sequence-register.add.prefix"></span></button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped table-curved" *ngIf="prefixes.length else nodata">
				<thead>
				<tr>
					<th><span jhiTranslate="key-sequence-register.prefix"></span></th>
					<th><span jhiTranslate="key-sequence-register.remove"></span></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let prefix of prefixes; let i = index;">
					<td><span>{{prefix}}</span></td>
					<td>
						<button type="button" class="btn btn-danger" (click)="remove(i)"><span jhiTranslate="key-sequence-register.remove"></span></button>
					</td>
				</tr>
				<tr>
				</tr>
				</tbody>
			</table>
			<ng-template #nodata>
				<table class="table table-striped table-curved">
					<thead>
					<tr>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td jhiTranslate="key-sequence-register.no.prefix.added"></td>
					</tr>
					</tbody>
				</table>
			</ng-template>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()">
		<span jhiTranslate="cancel"></span>
	</button>
	<button (click)="delete()" class="btn btn-primary" [disabled]="prefixes.length <= 0">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span jhiTranslate="key-sequence-register.delete"></span>
	</button>
</div>