<div class="om-ap-view">

	<button ng-click="goBack()">{{'button.back' | translate}}</button>

	<h2>{{'addNew.property.title' | translate}}</h2>
	<form>
		<button ng-click="saveProperty($event, property)" type="submit">{{'button.save' | translate}}</button>

		<om-input om-id="om-name" om-label="{{'formField.name' | translate}}" om-property="name" om-model="property" om-adding="true"></om-input>

		<om-text-area om-id="om-description" om-label="{{'formField.description' | translate}}" om-property="description" om-model="property" om-adding="true"></om-text-area>

		<om-multi-select om-id="om-classes" om-label="{{'formField.classes' | translate}}" om-property="classes" om-model="property" om-options="classes" om-tags="true" om-adding="true"></om-multi-select>

		<om-input om-id="om-ontology-id" om-label="{{'formField.ontologyId' | translate}}" om-property="cropOntologyId" om-model="property" om-adding="true"></om-input>
	</form>
</div>
