<div ng-show="editable()">
	<div class="label-wrapper tag-wrapper" ng-repeat="selectedItem in model[property]">
		<span class="label label-primary tag" title="{{selectedItem}}">
			<span class="tag-text">{{selectedItem}}</span>
			<a class="tag-remove" href="#" ng-click="removeItem($event, $index)">
				<span class="glyphicon glyphicon-remove glyphicon-white" aria-hidden="true"></span>
			</a>
		</span>
	</div>
	<div class="suggestions-wrapper" ng-class="{'show-suggestions': suggestionsShown}" om-click-anywhere-but-here om-callback="hideSuggestions()" om-enabled="suggestionsShown">
		<ng-form name="tagSelectForm" ng-show="editable()">
			<input name="omTagSelectText" type="input" class="label-input form-control" placeholder="{{'multiSelect.placeholder' | translate}}" ng-model="searchText" ng-change="showSuggestions()" ng-click="toggleSuggestions()" ng-keydown="checkKeyDown($event)">
		</ng-form>
		<ul class="suggestions-list">
			<li class="suggestion" ng-repeat="suggestion in suggestions" ng-click="onClick($index)" ng-class="{active: selectedIndex === $index}">{{suggestion}}</li>
			<li class="text-too-long" ng-show="textTooLong && suggestions.length === 0">{{'multiSelect.tooLong' | translate }}</li>
			<li class="no-suggestions" ng-show="!textTooLong && suggestions.length === 0">{{'multiSelect.noMatchesFound' | translate}}</li>
		</ul>
	</div>
</div>
<p ng-hide="editable()" class="form-control-static">
	<span>{{formatForDisplay(model[property])}} </span>
</p>
