<div class="container">
	<div class="modal-body">
		<form class="form-horizontal" #userRoleForm="ngForm">
			<div class="form-group">
				<div class="col-sm-12">
					<span class="mandatory-asterisk"></span> Indicates a mandatory field when field is enabled
				</div>
			</div>
			<div class="col-sm-12"><br></div>
			<div class="row form-group required" [class.has-feedback]="!(roleTypeInput.valid || roleTypeInput.pristine)" [class.has-error]="!(roleTypeInput.valid || roleTypeInput.pristine)">
				<div class="col-md-3" style="padding-left: 25px;">
					<label class="control-label pull-right">Role type</label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" [(ngModel)]="roleTypeSelected" #roleTypeInput="ngModel" required name="roleTypeSelected" id="roleTypeCombo"
							(ngModelChange)="changeRole()">
						<option value="">Please select a role type</option>
						<option *ngFor="let roleType of roleTypes" [ngValue]="roleType.id">{{roleType.name}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group required">
				<div class="col-md-3" style="padding-left: 25px;">
					<label class="control-label pull-right">Role name</label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" [(ngModel)]="roleSelected" name="roleSelected" id="roleNameCombo"
							[disabled]="isRoleNameComboDisable()">
						<option value="">Please select a role</option>
						<option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group required">
				<div class="col-md-3" style="padding-left: 25px;">
					<label class="control-label pull-right">Crop</label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" [(ngModel)]="cropSelected" name="cropSelected" id="cropCombo"
							(ngModelChange)="changeCrop()" [disabled]="isCropComboDisable()">
						<option value="">Please select a crop</option>
						<option *ngFor="let crop of crops" [ngValue]="crop">{{crop.cropName}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group required">
				<div class="col-md-3" style="padding-left: 25px;">
					<label class="control-label pull-right">Program</label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" [(ngModel)]="programSelected" name="programSelected" id="programCombo"
							[disabled]="isProgramComboDisable()">
						<option value="">Please select a program</option>
						<option *ngFor="let program of programs" [ngValue]="program">{{program.name}}</option>
					</select>
				</div>
			</div>
			<!--
							<div [class]="errorClass" role="alert" *ngIf="errorUserRoleMessage">Errors: {{errorUserRoleMessage}}</div>
			-->
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">
			<span jhiTranslate="back"></span>
		</button>
		<button type="button" class="btn btn-primary" (click)="assignRole()" [disabled]="isAssignRoleButtonDisable()" aria-hidden="true">Assign role
		</button>
	</div>
</div>
