<div class="container">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold">
				<span jhiTranslate="site-admin.user.modal.role.title"></span>
			</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="back()">&times;
			</button>
		</div>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" #userRoleForm="ngForm">
			<div class="form-group">
				<div class="col-sm-12">
					<span class="mandatory-asterisk"></span><span jhiTranslate="site-admin.user.modal.role.mandatory.fields"></span>
				</div>
			</div>
			<div class="form-group row required">
				<div class="col-md-3">
					<label for="roleTypeSelected" class="col-form-label font-weight-bold pull-right" jhiTranslate="site-admin.user.modal.role.type"></label>
				</div>
				<div class="col-sm-7">
					<select class="form-control" [(ngModel)]="roleTypeSelected" #roleTypeInput="ngModel" required name="roleTypeSelected" id="roleTypeCombo"
							(ngModelChange)="changeRole()">
						<option value="">Please select a role type</option>
						<option *ngFor="let roleType of roleTypes" [ngValue]="roleType.id">{{roleType.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group row required">
				<div class="col-md-3">
					<label for="roleSelected" class="col-form-label font-weight-bold pull-right" jhiTranslate="site-admin.user.modal.role.name"></label>
				</div>
				<div class="col-sm-7">
					<ng-select2 name="roleSelected" id="roleNameCombo" width="100%"
								[data]="roleOptions"
								[(ngModel)]="roleSelected"
								placeholder="Select a role"
								data-test="roleDropdown"
								[allowClear]="true"
								[disabled]="isRoleNameComboDisable()">
					</ng-select2>
				</div>
			</div>
			<div class="row form-group required">
				<div class="col-md-3">
					<label class="col-form-label font-weight-bold pull-right" jhiTranslate="site-admin.user.modal.role.crop"></label>
				</div>
				<div class="col-md-7">
					<ng-select2 name="cropSelected" id="cropCombo" width="100%"
								[data]="cropOptions | CropSelect2Data"
								[(ngModel)]="cropSelected"
								placeholder="Select a crop"
								data-test="cropDropdown"
								[allowClear]="true"
								[disabled]="isCropComboDisable()"
								(ngModelChange)="changeCrop()">
					</ng-select2>
				</div>
			</div>
			<div class="row form-group required">
				<div class="col-md-3">
					<label class="col-form-label font-weight-bold pull-right" jhiTranslate="site-admin.user.modal.role.program"></label>
				</div>
				<div class="col-md-7">
					<ng-select2 name="programSelected" id="programCombo" width="100%"
								[data]="programOptions"
								[(ngModel)]="programSelected"
								placeholder="Select a program"
								data-test="programDropdown"
								[allowClear]="true"
								[disabled]="isProgramComboDisable()">
					</ng-select2>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back()">
			<span jhiTranslate="back"></span>
		</button>
		<button type="button" class="btn btn-primary" (click)="assignRole()" [disabled]="isAssignRoleButtonDisable()" aria-hidden="true" jhiTranslate="site-admin.user.modal.role.assign">
		</button>
	</div>
</div>
