<div class="container">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold">
				<span *ngIf="model.id" jhiTranslate="site-admin.user.modal.edit.header"></span>
				<span *ngIf="!model.id" jhiTranslate="site-admin.user.modal.create.header"></span>
			</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="clear()">&times;
			</button>
		</div>
	</div>
	<div class="modal-body">
		<form name="form" #f="ngForm">
			<div class="form-group row">
				<label for="firstName" class="col-sm-3 col-form-label font-weight-bold">First Name</label>
				<input type="text" class="col-sm-4 form-control" [(ngModel)]="model.firstName" #firstName="ngModel"
					   required name="firstName" id="firstName" placeholder="First Name" maxlength="20">
				<input type="text" class="col-sm-4 form-control" [(ngModel)]="model.lastName" #lastName="ngModel"
					   required name="lastName" id="lastName" placeholder="Last Name" maxlength="50" style="margin-left: 51px;">
			</div>
			<div class="form-group row">
				<label for="userName" class="col-sm-3 col-form-label font-weight-bold">Username</label>
				<input type="text" class="col-sm-9 form-control" [(ngModel)]="model.username" #username="ngModel" required name="username" id="username"
					   [pattern]="EMAIL_LOCAL_PART_REGEX"
					   title="username field only accepts letters, numbers and special characters - _ . (e.g. user_name, user.name, user-name.company)"
					   placeholder="Username" maxlength="30">
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-3 col-form-label font-weight-bold">Email</label>
				<input type="text" class="col-sm-9 form-control" [(ngModel)]="model.email" #email="ngModel" jhiValidateEmail required name="email" id="email"
					   placeholder="Email" maxlength="255">
			</div>
			<div class="form-group row">
				<label for="userCrops" class="col-sm-3 col-form-label font-weight-bold">Crops</label>
				<div class="col-sm-9" style="padding-left: 0px;padding-right: 0px;">
					<ng-select2  required id="userCrops" name="userCrops"
								 [data]="crops | toSelect2OptionData"
								 [options]="select2Options"
								 [value]="model.crops | toSelect2OptionId"
								 [width]="'100%'"
								 (valueChanged)="onChangeCrop($event)"></ng-select2>
					<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
				<div class="row">
					<div class="col-sm-3">
					</div>
					<label>
						<input type="checkbox"  id="selectAllCrops" [checked]="model.crops.length === crops.length" (click)="onSelectAllCrops($event)"/>
						Select all
					</label>
				</div>

				<div class="form-group row">
					<label for="userRoles" class="col-sm-3 col-form-label font-weight-bold">Role(s)</label>
					<div class="col-sm-9" style="padding-right: 0px;padding-left: 0px;">
						<div>
							<a href="javascript:void(0)" (click)="AssignRole()">+ Assign role</a>
						</div>
						<div *ngIf="model.userRoles?.length > 0" style="overflow-x: auto">
							<table id="userRoles" class="table table-striped">
								<thead>
								<th>Role name</th>
								<th>Role type</th>
								<th>Crop</th>
								<th>Program</th>
								<th></th>
								</thead>
								<tbody>
								<tr *ngFor="let userRole of model.userRoles">
									<td>{{userRole.role.name}}</td>
									<td>{{userRole.role.roleType.name}}</td>
									<td>{{userRole.crop?.cropName}}</td>
									<td>{{userRole.program?.name}}</td>
									<td><a href="javascript:void(0)" (click)="showDeleteUserRoleConfirmPopUp(userRole)"><i class="fa fa-times" style="color:red"></i></a></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			<div class="form-group row">
				<label for="status" class="col-sm-3 col-form-label font-weight-bold">User status</label>
				<div class="col-sm-9" style="padding-left: 0px;">
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="options-status" [(ngModel)]="model.active" id="statuson" [value]="true" checked> Active
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="options-satus" [(ngModel)]="model.active" id="statusoff" [value]="false"> Inactive
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-9" style="padding-left: 0px;">
					<div class="checkbox">
						<label *ngIf="!isEditing">
							<input type="checkbox" [(ngModel)]="sendMail" name="sendMail"> Send an invitation email for the user to set their password
						</label>
						<label *ngIf="isEditing">
							<input type="checkbox" [(ngModel)]="sendMail" name="sendMail"> Send an email for the user to reset their password
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" *ngIf="context.enableTwoFactorAuthentication">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" [(ngModel)]="model.multiFactorAuthenticationEnabled" name="multiFactorAuthenticationEnabled"> Enable Multi-factor Authentication
						</label>
					</div>
				</div>
			</div>
		</form>
		<div *ngIf="sendingEmail">
			<span class="throbber throbber-lg"></span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="cancel"></span>
		</button>
		<button type="submit" *ngIf="!userSaved"  class="btn btn-primary" [disabled]="!isFormValid(f)">
			<span class="fa fa-save"></span>&nbsp;
			<span (click)="addUser()" *ngIf="!model.id">Add user</span>
			<span (click)="updateUser()" *ngIf="model.id">Update user</span>
		</button>
		<button *ngIf="userSaved" type="submit" class="btn btn-success" [disabled]="!isFormValid(f)">User saved!</button>
	</div>
</div>
