<form novalidate>
	<om-input om-id="om-name" om-label="{{'form-field.name' | translate}}" om-property="name" om-editing="editing" om-model="model"></om-input>

	<om-text-area om-id="om-description" om-label="{{'form-field.description' | translate}}" om-property="description" om-editing="editing" om-model="model"></om-text-area>

	<div ng-show="showRangeWidget">
		<span>{{'scales-list.details.valid-range' | translate}}</span>
		<om-range om-property="validValues" om-editing="editing" om-model="model"></om-range>
	</div>

	<div ng-show="showCategoriesWidget">
		<span>{{'scales-list.details.categories' | translate}}</span>
		<om-categories om-property="validValues" om-editing="editing" ng-model="model"></om-categories>
	</div>

	<button ng-hide="editing" ng-click="editScale($event)">{{'button.edit' | translate}}</button>
	<button ng-hide="editing" ng-click="deleteScale($event, scaleId)">{{'button.delete' | translate}}</button>

	<button ng-show="editing" ng-click="saveChanges($event, scaleId, model)" type="submit">{{'button.save' | translate}}</button>
	<button ng-show="editing" ng-click="cancel($event)">{{'button.cancel' | translate}}</button>
</form>
