<form novalidate>
	<om-input om-id="om-name" om-label="Name" om-property="name" om-editing="editing" om-model="model"></om-input>

	<om-text-area om-id="om-description" om-label="Description" om-property="description" om-editing="editing" om-model="model"></om-text-area>

	<button ng-hide="editing" ng-click="editScale($event)">Edit</button>
	<button ng-show="editing" ng-click="saveChanges($event, propertyId, model)" type="submit">Save</button>
	<button ng-show="editing" ng-click="cancel($event)">Cancel</button>
</form>
