<div class="container">
    <div class="modal-header">
        <div class="col-xs-11 col-md-11">
            <h4 class="modal-title font-weight-bold word-wrap"><span jhiTranslate="bmsjHipsterApp.sample.genotypes.header">Import Genotypes</span></h4>
        </div>
        <div class="col-xs-1 col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-3 col-form-label">
                <label class="col-form-label" jhiTranslate="bmsjHipsterApp.sample.genotypes.study.label">Genotyping Study:</label>
            </label>
            <div class="col-5">
                <div class="form-group row">
                    <select style="width: 85%" [disabled]="!genotypingStudies || genotypingStudies?.length === 0" class="form-control" name="genotypingStudy" id="genotypingStudy" [(ngModel)]="selectedGenotypingStudy" (ngModelChange)="selectStudyOnChange()" #genotypingStudy="ngModel">
                        <option value="">Please Choose</option>
                        <option *ngFor="let item of genotypingStudies" [ngValue]="item">{{item.studyName}}</option>
                    </select>&nbsp;&nbsp;&nbsp;<span *ngIf="isStudyLoading" class="throbber"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">
                <label class="col-form-label" jhiTranslate="bmsjHipsterApp.sample.genotypes.run.label">Run:</label>
            </label>
            <div class="col-5">
                <div class="form-group row">
                    <select style="width: 85%" [disabled]="!genotypingVariantsets || genotypingVariantsets?.length === 0" class="form-control" name="variantSetSelect" id="variantSetSelect" [(ngModel)]="selectedVariantSet" (ngModelChange)="selectVariantsetOnChange()" #variantSetSelect="ngModel">
                        <option value="">Please Choose</option>
                        <option *ngFor="let item of genotypingVariantsets" [ngValue]="item">{{item.variantSetName}}</option>
                    </select>&nbsp;&nbsp;<span *ngIf="isVariantSetLoading" class="throbber"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">
                <label class="col-form-label" jhiTranslate="bmsjHipsterApp.sample.genotypes.mapping.label">Map Markers</label>
            </label>
            <div class="col-5">
                <div class="form-group row">
                    <ng-select #variantSelect
                               [ngStyle]="{'min-width': '85%'}"
                               placeholder="Select Variant"
                               [items]="variantSelectItems" [(ngModel)]="selectedVariant"
                               [disabled]="!variantSelectItems || variantSelectItems?.length === 0"
                               bindLabel="variantName"
                               [searchFn]="searchVariant"
                               name="variantSelect" id="variantSelect"
                               [dropdownPosition]="'bottom'"
                               [virtualScroll]="true"
                               appendTo="body">
                        <ng-template ng-option-tmp let-variant="item">
                            <div title="{{variant.variantName}}">{{variant.variantName}}</div>
                        </ng-template>
                    </ng-select>
                    <jhi-variable-select name="dropdownvariable" id="dropdownvariable"
                                         (onVariableSelectedChange)="selectVariable($event)"
                                         [value]="variable?.id"
                                         [variableTypeIds]="[genotypeMarkersId]"
                                         [disabled]="!variantSelectItems || variantSelectItems?.length === 0">
                    </jhi-variable-select>
                    <span *ngIf="isVariantsLoading" class="throbber"></span>
                    <button type="button" class="btn btn-primary"  [disabled]="disableMapButton()" (click)="mapVariant()">Map</button>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3 col-form-label">
                <label class="col-form-label" jhiTranslate="bmsjHipsterApp.sample.genotypes.mapped.label">Mapped Variants</label>
            </label>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-curved" *ngIf="((mappedVariantsArray && mappedVariantsArray.length) || showAddMappingRow) else nodata">
                        <thead>
                        <tr>
                            <th jhiTranslate="bmsjHipsterApp.sample.genotypes.marker.column">Marker</th>
                            <th jhiTranslate="bmsjHipsterApp.sample.genotypes.variable.column">Variable</th>
                            <th jhiTranslate="bmsjHipsterApp.sample.genotypes.action.column">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of mappedVariantsArray">
                            <td>{{item.variant.variantName}}</td>
                            <td>{{item.variable.name}}</td>
                            <td class="fit">
                                <button class="btn btn-info mr-2" (click)="removeMappedVariant(item.variant.variantDbId)">
                                    <i class="fa fa-trash fa-md" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="showAddMappingRow">
                            <td>
                                <ng-select #rowVariantSelect
                                           [ngStyle]="{'min-width': '85%'}"
                                           placeholder="Select Variant"
                                           [items]="rowVariantSelectItems" [(ngModel)]="rowSelectedVariant"
                                           [disabled]="!rowVariantSelectItems || rowVariantSelectItems?.length === 0"
                                           bindLabel="variantName"
                                           [searchFn]="searchVariant"
                                           name="rowVariantSelect" id="rowVariantSelect"
                                           [dropdownPosition]="'bottom'"
                                           [virtualScroll]="true"
                                           appendTo="body">
                                    <ng-template ng-option-tmp let-variant="item">
                                        <div title="{{variant.variantName}}">{{variant.variantName}}</div>
                                    </ng-template>
                                </ng-select>
                            </td>
                            <td>
                                <jhi-variable-select name="dropdownRowVariable" id="dropdownRowVariable"
                                         (onVariableSelectedChange)="selectRowVariable($event)"
                                         [value]="rowVariable?.id"
                                         [variableTypeIds]="[genotypeMarkersId]"
                                         [disabled]="!rowVariantSelectItems || rowVariantSelectItems?.length === 0">
                                </jhi-variable-select>
                            </td>
                            <td class="fit">
                                <button type="button" class="btn btn-primary" [disabled]="!rowSelectedVariant || !rowVariable" (click)="mapAddedRowVariant()">Map</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary"  *ngIf="showAddMappingButton()" [disabled]="!rowVariantSelectItems || rowVariantSelectItems?.length === 0" (click)="addMapping()">Add Mapping</button>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">
                <button type="button" class="btn btn-primary"  [disabled]="!mappedVariantsArray || mappedVariantsArray.length === 0" (click)="importGenotypes()">Import</button>
                <span *ngIf="isGenotypesSaving" class="throbber"></span>
            </label>
        </div>
    </div>
</div>

<ng-template #nodata>
    <table class="table table-striped table-bordered table-curved">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td jhiTranslate="no.data"></td>
        </tr>
        </tbody>
    </table>
</ng-template>