<div class="container-fluid pt-3">
	<jhi-collapsible heading="{{translateService.instant('basic-details.title')}}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<label class="font-weight-bold" jhiTranslate="basic-details.preferred-name">Preferred Name:</label>
				</div>
				<div class="col word-wrap">{{germplasm?.preferredName}}</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label class="font-weight-bold" jhiTranslate="basic-details.gid">GID:</label>
				</div>
				<div class="col">{{germplasm?.gid}}</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label class="font-weight-bold" jhiTranslate="basic-details.guid">GUID:</label>
				</div>
				<div class="col">{{germplasm?.germplasmUUID}}</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label class="font-weight-bold" jhiTranslate="basic-details.group-id">Group ID:</label>
				</div>
				<div class="col"><a *ngIf="germplasm && germplasm?.groupId !== 0" [href]="this.germplasmDetailsUrlService.getUrl(germplasm?.groupId)" target="_blank">{{germplasm?.groupId}}</a></div>
			</div>
			<div class="row">
				<div class="col-3">
					<label class="font-weight-bold" jhiTranslate="basic-details.created-by">Created By:</label>
				</div>
				<div class="col">{{germplasm?.createdBy}}</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved table-fixed">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="basic-details.created-date">Created Date</th>
						<th scope="col" jhiTranslate="basic-details.location">Location</th>
						<th scope="col" jhiTranslate="basic-details.reference">Reference</th>
						<th scope="col" jhiTranslate="germplasm-details.actions" *jhiHasAnyAuthority="EDIT_BASIC_DETAILS_PERMISSIONS">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{germplasm?.creationDate}}</td>
						<td>{{germplasm?.breedingLocation}}</td>
						<td class="word-wrap">{{germplasm?.reference}}</td>
						<td class="text-center" *jhiHasAnyAuthority="EDIT_BASIC_DETAILS_PERMISSIONS">
							<button class="btn btn-info" (click)="editGermplasmBasicDetails()">
								<i class="fa fa-edit fa-fa-md" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('basic-details.names.title')}}">
		<div class="container-fluid">
			<div class="pull-right pb-3">
			<button class="btn btn-outline-info" *jhiHasAnyAuthority="MODIFY_NAMES_PERMISSIONS" (click)="createGermplasmName()"><i class="fa fa-asterisk fa-md" aria-hidden="true"></i> New</button>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved table-fixed">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="basic-details.names.name-type" style="width: 13%">Name type</th>
						<th scope="col" jhiTranslate="basic-details.names.name-description" style="width: 15%">Name Description</th>
						<th scope="col" jhiTranslate="basic-details.names.value">Value</th>
						<th scope="col" jhiTranslate="basic-details.names.location">Location</th>
						<th scope="col" jhiTranslate="basic-details.names.date">Date</th>
						<th scope="col" jhiTranslate="basic-details.names.preferred">Preferred</th>
						<th scope="col" jhiTranslate="germplasm-details.actions" *jhiHasAnyAuthority="NAMES_ACTIONS_PERMISSIONS">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let name of germplasm?.names">
						<td>{{name.nameTypeCode}}</td>
						<td>{{name.nameTypeDescription}}</td>
						<td class="word-wrap">{{name.name}}</td>
						<td>{{name.locationName}}</td>
						<td>{{name.date}}</td>
						<td>{{name.preferred ? 'Yes' : 'No'}}</td>
						<td class="text-center" *jhiHasAnyAuthority="NAMES_ACTIONS_PERMISSIONS">
							<button class="btn btn-info mr-2" (click)="editGermplasmName(name)" *jhiHasAnyAuthority="MODIFY_NAMES_PERMISSIONS">
								<i class="fa fa-edit fa-md" aria-hidden="true"></i>
							</button>
							<button class="btn btn-info mr-2" (click)="deleteGermplasmName(name)" *jhiHasAnyAuthority="MODIFY_NAMES_PERMISSIONS">
								<i class="fa fa-trash fa-md" aria-hidden="true"></i>
							</button>
							<button class="btn btn-info" (click)="openGermplasmNameAuditModal(name)" *jhiHasAnyAuthority="GERMPLASM_AUDIT_PERMISSION">
								<i class="fa fa-list fa-md" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('basic-details.germplasm-origin.title')}}">
		<div class="container-fluid pb-3">
			<div class="row">
				<div class="col">
					<table class="table table-striped table-bordered table-curved" *ngIf="germplasm?.germplasmOrigin?.observationUnitId else nogermplasmorigin">
						<thead>
						<tr>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.study">Study</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.obs-unit">Obs_Unit_ID</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.plot">Plot</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.rep">Rep</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.block">Block</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.x">X</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.y">Y</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><a *ngIf="germplasmDetailsContext.isModal && isStudyClickable(germplasm?.germplasmOrigin?.programUUID)" href (click)="urlService.openStudy(germplasm?.germplasmOrigin?.studyId)">{{germplasm?.germplasmOrigin?.studyName}}</a>
								<span *ngIf="germplasmDetailsContext.isModal && !isStudyClickable(germplasm?.germplasmOrigin?.programUUID)" class="btn btn-link disabled p-0">{{germplasm?.germplasmOrigin?.studyName}}</span>
								<span *ngIf="!germplasmDetailsContext.isModal">{{germplasm?.germplasmOrigin?.studyName}}</span></td>
							<td>{{germplasm?.germplasmOrigin?.observationUnitId}}</td>
							<td>{{germplasm?.germplasmOrigin?.plotNumber}}</td>
							<td>{{germplasm?.germplasmOrigin?.repNumber}}</td>
							<td>{{germplasm?.germplasmOrigin?.blockNumber}}</td>
							<td>{{germplasm?.germplasmOrigin?.positionCoordinateX}}</td>
							<td>{{germplasm?.germplasmOrigin?.positionCoordinateY}}</td>
						</tr>
						</tbody>
					</table>
					<ng-template #nogermplasmorigin>
						<table class="table table-striped table-bordered table-curved">
							<thead>
							<tr>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td jhiTranslate="basic-details.no-germplasm-origin"></td>
							</tr>
							</tbody>
						</table>
					</ng-template>
				</div>
				<div class="col">
					<div style="height: 350px; width: 100%">
						<jhi-geojson-map [geojson]="germplasm?.germplasmOrigin?.geoCoordinates" *ngIf="germplasm?.germplasmOrigin?.geoCoordinates">
						</jhi-geojson-map>
					</div>

				</div>
			</div>
		</div>
	</jhi-collapsible>
</div>
