<div class="container-fluid pt-3">
	<jhi-collapsible heading="{{translateService.instant('basic-details.title')}}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-2">
					<label class="font-weight-bold" jhiTranslate="basic-details.preferred-name">Preferred Name:</label>
				</div>
				<div class="col">{{germplasm?.germplasmPeferredName}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<label class="font-weight-bold" jhiTranslate="basic-details.gid">GID:</label>
				</div>
				<div class="col">{{germplasm?.gid}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<label class="font-weight-bold" jhiTranslate="basic-details.guid">GUID:</label>
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col-2">
					<label class="font-weight-bold" jhiTranslate="basic-details.group-id">Group ID:</label>
				</div>
				<div class="col">{{germplasm?.groupId}}</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="basic-details.created-date">Created Date</th>
						<th scope="col" jhiTranslate="basic-details.location">Location</th>
						<th scope="col" jhiTranslate="basic-details.reference">Reference</th>
						<th scope="col" jhiTranslate="germplasm-details.actions">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{germplasm?.germplasmDate}}</td>
						<td>{{germplasm?.locationName}}</td>
						<td></td>
						<td class="text-center">
							<button class="btn btn-info"><i class="fa fa-edit fa-fa-md" aria-hidden="true"></i></button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('basic-details.names.title')}}">
		<div class="container-fluid">
			<div class="pull-right pb-3">
				<button class="btn btn-outline-info"><i class="fa fa-asterisk fa-md" aria-hidden="true"></i> New</button>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="basic-details.names.name-type">Name type</th>
						<th scope="col" jhiTranslate="basic-details.names.name-description">Name Description</th>
						<th scope="col" jhiTranslate="basic-details.names.value">Value</th>
						<th scope="col" jhiTranslate="basic-details.names.location">Location</th>
						<th scope="col" jhiTranslate="basic-details.names.preferred">Preferred</th>
						<th scope="col" jhiTranslate="germplasm-details.actions">Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td class="text-center">
							<button class="btn btn-info"><i class="fa fa-edit fa-md" aria-hidden="true"></i></button>&nbsp;&nbsp;<button class="btn btn-info"><i class="fa fa-trash fa-md" aria-hidden="true"></i></button>
						</td>
					</tr>
					<tr>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td class="text-center">
							<button class="btn btn-info"><i class="fa fa-edit fa-md" aria-hidden="true"></i></button>&nbsp;&nbsp;<button class="btn btn-info"><i class="fa fa-trash fa-md" aria-hidden="true"></i></button>
						</td>
					</tr>
					<tr>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td> -</td>
						<td class="text-center">
							<button class="btn btn-info"><i class="fa fa-edit fa-md" aria-hidden="true"></i></button>&nbsp;&nbsp;<button class="btn btn-info"><i class="fa fa-trash fa-md" aria-hidden="true"></i></button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('basic-details.germplasm-origin.title')}}">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<table class="table table-striped table-bordered table-curved">
						<thead>
						<tr>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.study">Study</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.obs-unit">Obs_Unit</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.id">ID</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.plot">Plot</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.rep">Rep</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.block">Block</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.x">X</th>
							<th scope="col" jhiTranslate="basic-details.germplasm-origin.y">Y</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
				</div>
			</div>
		</div>
	</jhi-collapsible>
</div>