<div class="container pt-3">
	<div class="row">
		<div class="col">
			<h5 jhiTranslate="basic-details.title">Basic Details</h5>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<label class="font-weight-bold" jhiTranslate="basic-details.preferred-name">Preferred Name:</label>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col">
				<label class="font-weight-bold" jhiTranslate="basic-details.gid">GID:</label>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col">
				<label class="font-weight-bold" jhiTranslate="basic-details.guid">GUID:</label>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col">
				<label class="font-weight-bold" jhiTranslate="basic-details.group-id">Group ID:</label>
			</div>
			<div class="col"></div>
		</div>
		<table class="table table-striped table-bordered table-curved">
			<thead>
			<th scope="col" jhiTranslate="basic-details.created-date">Created Date</th>
			<th scope="col" jhiTranslate="basic-details.location">Location</th>
			<th scope="col" jhiTranslate="basic-details.reference">Reference</th>
			<th scope="col" jhiTranslate="germplasm-details.actions">Actions</th>
			</thead>
			<tbody>
			<tr>
				<td> -</td>
				<td> -</td>
				<td> -</td>
				<td><i class="fa fa-edit fa-lg" aria-hidden="true"></i></td>
			</tr>
			</tbody>
		</table>
	</div>
	<jhi-collapsible heading="{{translateService.instant('basic-details.names.title')}}">
		<div class="container">
			<a class="link pull-right">New</a>
			<table class="table table-striped table-bordered table-curved">
				<thead>
				<th scope="col" jhiTranslate="basic-details.names.name-type">Name type</th>
				<th scope="col" jhiTranslate="basic-details.names.name-description">Name Description</th>
				<th scope="col" jhiTranslate="basic-details.names.value">Value</th>
				<th scope="col" jhiTranslate="basic-details.names.location">Location</th>
				<th scope="col" jhiTranslate="basic-details.names.preferred">Preferred</th>
				<th scope="col" jhiTranslate="germplasm-details.actions">Actions</th>
				</thead>
				<tbody>
				<tr>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td> -</td>
					<td><i class="fa fa-edit fa-lg" aria-hidden="true"></i>&nbsp;<i class="fa fa-trash fa-lg" aria-hidden="true"></i></td>
				</tr>
				</tbody>
			</table>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('basic-details.germplasm-origin.title')}}">
		<div class="container">
			<div class="row">
				<div class="col">
					<table class="table table-striped table-bordered table-curved">
						<thead>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.study">Study</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.obs-unit">Obs_Unit</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.id">ID</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.plot">Plot</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.rep">Rep</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.block">Block</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.x">X</th>
						<th scope="col" jhiTranslate="basic-details.germplasm-origin.y">Y</th>
						</thead>
						<tbody>
						<tr>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
							<td> -</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<iframe title="Germplasm Origin Map" style="width:100%; height: 300px"></iframe>
				</div>
			</div>
		</div>
	</jhi-collapsible>
</div>