<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8"/>

	<!-- IE 10+ 'Metro' Tiles - 144x144 pixels in size -->
	<meta name="msapplication-TileColor" content="#f58120"/>
	<meta name="msapplication-TileImage" th:content="@{/controller/static/images/favicon-144.png}"/>

	<title>Log In to the BMS</title>
	<link th:href='@{/VAADIN/themes/vaadin-retro/fonts/font-min.css}' rel='stylesheet'/>

	<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
	<!--[if IE]><link th:href="@{/controller/static/images/favicon-32.ico}" rel="shortcut icon" /><![endif]-->

	<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size. -->
	<link th:href="@{/controller/static/images/favicon-96.ico}" rel="icon"/>
	<link th:href="@{/controller/static/images/favicon-152.png}" rel="apple-touch-icon-precomposed"/>

	<link th:href="@{/controller/static/lib/font-awesome-4.2.0/css/font-awesome.css}" rel="stylesheet">
	<link th:href="@{/controller/static/lib/select2/select2.css}" rel="stylesheet">
	<link th:href="@{/controller/static/lib/bootstrap-3.3.7.min.css}" rel="stylesheet"/>
	<link th:href="@{/controller/static/css/login.css}" rel="stylesheet">
</head>
<body>
	<div th:include="login-fragments :: header-logo"></div>
	<!--/*
		The novalidate attribute disables form validation on submit which means that red outlines are not
		applied to input elements in IE.
	*/-->
	<form th:action="@{/login}" th:attr="data-alt-action=@{/controller/auth/signup},data-forgot-password-action=@{/controller/auth/forgotPassword}, data-validate-login-action=@{/controller/auth/validateLogin}, data-reset-password-action=@{/controller/auth/sendResetEmail}" autocomplete="off" class="js-login-form login-form" method="post" novalidate="" th:classappend="${param.error != null} ? login-form-invalid">
		<!-- This is a dirty, necessary hack to avoid disgusting yellow inputs in Chrome. See http://stackoverflow.com/a/23467772/1712802 -->
		<input class="js-fake-username" type="text" value="" style="display: none"/>
		<input class="js-fake-password" type="password" value="" style="display: none"/>

		<div class="login-form-control login-create-account-control login-name-control login-first-name-control">
			<span class="login-icon fa" title="First Name">&#xf007;</span>
			<input class="js-login-create-account-input login-input login-flat-control" disabled="disabled" name="firstName" placeholder="First Name" type="text"></input>
		</div
		><div class="login-form-control login-create-account-control login-name-control login-last-name-control">
			<span class="login-icon login-last-name-icon fa" title="Last Name">&#xf007;</span>
			<input class="js-login-create-account-input login-last-name-input login-input login-flat-control" disabled="disabled" name="lastName" placeholder="Last Name" type="text"></input>
		</div>
		<div class="login-form-control login-create-account-control login-clear-float">
			<span class="login-icon fa" title="Role">&#xf023;</span>
			<span class="fa login-select-icon">&#xf063;</span>
			<select class="login-select login-flat-control" name="roleId">
				<option></option>
				<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"/>
			</select>
		</div>

		<div class="login-forgot-password-email-notify" th:text="#{login.forgot.request.mail.sent}">
			Your request for reset password has been sent to your email.
		</div>

		<div class="login-forgot-password-note" th:text="#{login.forgot.request.note}">
			To reset your password, enter the email address and username you use to sign in to BMS. You will receive an email with the link to change your password.
		</div>

		<div class="login-form-control login-create-account-control login-forgot-password-control">
			<span class="login-icon fa" title="Email">&#xf0e0;</span>
			<input class="js-login-create-account-input js-login-forgot-password-input login-input login-flat-control" disabled="disabled" name="email" placeholder="Email" type="email"></input>
		</div>
		<div class="login-form-control">
			<span class="login-icon fa" title="Username">&#xf06c;</span>
			<input class="js-login-username login-input login-flat-control" name="username" placeholder="Username" type="text"></input>
		</div>
		<div class="login-form-control login-forgot-password-control-hide">
			<span class="login-icon fa login-icon" title="Password">&#xf084;</span>
			<input class="js-login-password login-input login-flat-control" name="password" placeholder="Password" type="password"></input>
		</div>
		<div class="login-form-control login-create-account-control login-confirm-password-control">
			<span class="login-icon fa login-icon" title="Confirm Password">&#xf084;</span>
			<input class="js-login-create-account-input login-input login-flat-control" disabled="disabled" name="passwordConfirmation" placeholder="Confirm Password" type="password"></input>
		</div>
		<div class="login-form-control login-grid">
			<div class="js-login-checkbox-control login-input-inline login-checkbox-control login-unselectable">
				<input class="js-login-checkbox-input login-checkbox-input" checked="checked" name="remember-me" type="checkbox"></input>
				<button class="js-login-remember-me ac-login-remember-me login-checkbox login-clickable" type="button">
					<span class="js-login-check fa fa-check"></span>
				</button
				><span class="js-login-remember-me login-checkbox-label login-unselectable">Remember Me</span>
			</div>
			<div class="login-input-inline login-input-right">
				<a class="ac-login-forgot-password login-link login-unselectable" href="#">Can't Log In?</a>
			</div>
		</div>
		<div class="js-login-error login-valid">
			<span class="fa login-warning-icon">&#xf12a;</span>
			<span class="js-login-error-text"></span>
		</div>

		<div class="js-th-login-error" th:if="${param.error != null}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
			<span class="fa login-warning-icon">&#xf12a;</span>
			<span class="ac-th-login-error-text">Your login attempt was not successful. Please try again.</span>
		</div>

		<button class="js-login-submit login-submit login-flat-control login-clickable" formnovalidate="" type="button">
			<span class="login-submit-label">Sign In</span>
			<span class="throbber"></span>
		</button>
	</form>

	<form id="one-time-password-form" class="login-form">
		<div>
			<h1>One Time Password</h1>
		</div>
		<p>Please enter the verification code sent to your registered email:</p>
		<div class="login-form-control">
			<input class="js-otp-code login-otp-input login-flat-control" id="otpCode" name="otpCode" type=text" th:maxlength="${otpCodeLength}" autocomplete="off"></input>
		</div>
		<div class="js-login-otp-error login-otp-valid">
			<span class="fa login-warning-icon">&#xf12a;</span>
			<span class="js-login-otp-error-text"></span>
		</div>
		<button class="js-verify-otp-submit login-submit login-flat-control login-clickable" formnovalidate="" type="button">
			<span class="login-submit-label">Verify</span>
			<span class="throbber"></span>
		</button>
	</form>

	<form id="authorize-form" class="login-form">
		<div>
			<h1><span id="displayName"></span> wants to access your BMS Account</h1>
		</div>
		<button class="js-authorize-submit login-submit login-flat-control login-clickable" formnovalidate="" type="button">
			<span class="login-submit-label">Authorize</span>
		</button>
	</form>

	<div class="login-mode-toggle" th:if="${isCreateAccountEnable}">
		<a class="js-login-mode-toggle ac-login-mode-toggle login-link login-unselectable" href="#">Create Account</a>
	</div>

	<div th:include="login-fragments :: message"></div>
	<div th:include="login-fragments :: footer"></div>

	<input id="isLicenseValidationEnabled" type="hidden" th:value="${isLicenseValidationEnabled}" />

	<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery.fix-vulnerability.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/modernizr-custom.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery.placeholder.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/get-url-parameter.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/login.js}"></script>
</body>

</html>
