<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8" />

    <!-- IE 10+ 'Metro' Tiles - 144x144 pixels in size -->
    <meta name="msapplication-TileColor" content="#f58120" />
    <meta name="msapplication-TileImage" th:content="@{/controller/static/images/favicon-144.png}" />

    <title>Log In to the BMS</title>
    <link th:href='@{/VAADIN/themes/vaadin-retro/fonts/font-min.css}' rel='stylesheet'/>

    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link th:href="@{/controller/static/images/favicon-32.ico}" rel="shortcut icon" /><![endif]-->

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 96x96 pixels in size. -->
    <link th:href="@{/controller/static/lib/bootstrap-3.3.7.min.css}" rel="stylesheet"/>
    <link th:href="@{/controller/static/images/favicon-96.ico}" rel="icon" />
    <link th:href="@{/controller/static/images/favicon-152.png}" rel="apple-touch-icon-precomposed" />

    <link th:href="@{/controller/static/lib/font-awesome-4.2.0/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/controller/static/lib/select2/select2.css}" rel="stylesheet" />
    <link th:href="@{/controller/static/css/login.css}" rel="stylesheet" />

    <style type="text/css">
        h2 {
            text-align: center;
        }

        .login-input[disabled] {
            border: none;
        }

        .password-progress {
            height: 20px;
        }

    </style>
</head>
<body>

<div th:include="login-fragments :: header-logo"></div>

<!--/*
    The novalidate attribute disables form validation on submit which means that red outlines are not
    applied to input elements in IE.
*/-->


<h2>Reset your password</h2>

<form id="passwordForm" th:action="@{/login}" th:attr="data-reset-action=@{/controller/auth/reset}" autocomplete="off" class="js-reset-form login-form login-forgot-password" method="post" novalidate="" >
    <!-- This is a dirty, necessary hack to avoid disgusting yellow inputs in Chrome. See http://stackoverflow.com/a/23467772/1712802 -->
    <p>Now you can reset a new password for your account</p>
    <p>Please fill in the form below.</p>

    <input name="email" th:value="${user.person.email}" type="hidden">
    <input name="username" th:value="${user.name}" type="hidden">

    <div class="login-form-control">
        <span class="login-icon fa" title="Email">&#xf0e0;</span>
        <input class="js-reset-email-field login-input login-flat-control" disabled="disabled" name="fake-email" placeholder="Email" type="email" th:value="${user.person.email}">
    </div>
    <div class="login-form-control">
        <span class="login-icon fa" title="Username">&#xf06c;</span>
        <input class="js-reset-username login-input login-flat-control" name="fake-username" disabled="disabled" placeholder="Username" th:value="${user.name}" type="text">
    </div>

    <div class="login-form-control">
        <span class="login-icon fa login-icon" title="Password">&#xf084;</span>
        <input class="js-reset-password login-input login-flat-control" name="password" placeholder="Password" type="password"
               data-toggle="tooltip" th:title="${passwordRequirementsMessage}">
    </div>

    <div class="progress password-progress">
        <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;">
            <span id="strengthMessage"></span>
        </div>
    </div>

    <div class="login-form-control login-confirm-password-control">
        <span class="login-icon fa login-icon" title="Confirm Password">&#xf084;</span>
        <input class="js-reset-forgot-password login-input login-flat-control" name="passwordConfirmation" placeholder="Confirm Password" type="password">
    </div>

    <div class="js-login-error login-valid">
        <span class="fa login-warning-icon">&#xf12a;</span>
        <span class="js-reset-error-text"></span>
    </div>

    <div class="js-th-login-error" th:if="${param.error != null}">
        <span class="fa login-warning-icon">&#xf12a;</span>
        <span class="ac-th-login-error-text">Your login attempt was not successful. Please try again.</span>
    </div>

    <button class="js-login-submit login-submit login-flat-control login-clickable" formnovalidate="" type="submit">
        <span class="login-submit-label">Reset Password</span>
        <span class="throbber"></span>
    </button>
</form>

<div th:include="login-fragments :: message"></div>
<div th:include="login-fragments :: footer"></div>

<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery.fix-vulnerability.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/modernizr-custom.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery.placeholder.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/jquery.serialize-object.min.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/reset-password.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/controller/static/js/lib/zxcvbn.js}"></script>

</body>
</html>
