<form class="form-horizontal" name="pdForm" ng-submit="saveChanges($event, propertyId, model)" novalidate>

	<div ng-class="formGroupClass('omName')">
		<label for="omName" class="col-sm-2 control-label">{{'formField.name' | translate}}</label>
		<div class="col-sm-10">
			<om-input om-name="omName" om-property="name" om-editing="editing" om-model="model" om-required="true" om-max-length="200"></om-input>
			<ng-messages for="pdForm.omName.$error" ng-if="pdForm.$submitted || pdForm.omName.$touched">
				<ng-message when="required"><p class="text-danger">{{'validation.property.nameRequired' | translate}}</p></ng-message>
				<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<div ng-class="formGroupClass('omDescription')">
		<label for="omDescription" class="col-sm-2 control-label">{{'formField.description' | translate}}</label>
		<div class="col-sm-10">
			<om-text-area om-name="omDescription" om-property="description" om-editing="editing" om-model="model" om-max-length="255"></om-text-area>
			<ng-messages for="pdForm.omDescription.$error" ng-if="pdForm.$submitted || pdForm.omDescription.$touched">
				<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "255"}'}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<om-multi-select name="omClasses" om-id="om-classes" om-label="{{'formField.classes' | translate}}" om-property="classes" om-editing="editing" ng-model="model" om-options="data.classes" om-tags="true"></om-multi-select>

	<ng-messages for="pdForm.omClasses.$error" ng-if="pdForm.$submitted">
		<ng-message when="emptyValue">{{'validation.property.classesEmpty' | translate}}</ng-message>
	</ng-messages>

	<om-input om-id="omOntologyId" om-label="{{'formField.ontologyId' | translate}}" om-property="cropOntologyId" om-editing="editing" om-model="model" om-max-length="200"></om-input>

	<ng-messages for="pdForm.omOntologyId.$error" ng-if="pdForm.$submitted || pdForm.omName.$touched">
		<ng-message when="maxlength">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</ng-message>
	</ng-messages>

	<button class="btn btn-primary" ng-hide="editing" ng-click="editProperty($event)">{{'button.edit' | translate}}</button>
	<button class="btn btn-default" ng-hide="editing || !deletable" ng-click="deleteProperty($event, propertyId)">{{'button.delete' | translate}}</button>

	<input class="btn btn-primary" ng-show="editing" type="submit" value="{{'button.save' | translate}}"></input>
	<button class="btn btn-default" ng-show="editing" ng-click="cancel($event)">{{'button.cancel' | translate}}</button>
</form>
