<form class="form-horizontal" name="pdForm" ng-submit="saveChanges($event, propertyId, model)" novalidate>

	<div ng-class="formGroupClass('omName')">
		<label for="omName" class="col-sm-3 control-label">{{'formField.name' | translate}}</label>
		<div class="col-sm-9">
			<om-input om-name="omName" om-property="name" om-editing="editing" om-model="model" om-required="true" om-max-length="200"></om-input>
			<ng-messages for="pdForm.omName.$error" ng-if="pdForm.$submitted || pdForm.omName.$touched">
				<ng-message when="required"><p class="text-danger">{{'validation.property.nameRequired' | translate}}</p></ng-message>
				<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<div ng-class="formGroupClass('omDescription')">
		<label for="omDescription" class="col-sm-3 control-label">{{'formField.description' | translate}}</label>
		<div class="col-sm-9">
			<om-text-area om-name="omDescription" om-property="description" om-editing="editing" om-model="model" om-max-length="255"></om-text-area>
			<ng-messages for="pdForm.omDescription.$error" ng-if="pdForm.$submitted || pdForm.omDescription.$touched">
				<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "255"}'}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<div ng-class="formGroupClass('omClasses')">
		<label for="omClasses" class="col-sm-3 control-label">{{'formField.classes' | translate}}</label>
		<div class="col-sm-9">
			<om-multi-select name="omClasses" om-name="om-classes" om-property="classes" om-editing="editing" ng-model="model" om-options="data.classes" om-tags="true"></om-multi-select>
			<ng-messages for="pdForm.omClasses.$error" ng-if="pdForm.$submitted">
				<ng-message when="emptyValue"><p class="text-danger">{{'validation.property.classesEmpty' | translate}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<div ng-class="formGroupClass('omOntologyId')">
		<label for="omOntologyId" class="col-sm-3 control-label">{{'formField.ontologyId' | translate}}</label>
		<div class="col-sm-9">
			<om-input om-id="omOntologyId" om-label="{{'formField.ontologyId' | translate}}" om-property="cropOntologyId" om-editing="editing" om-model="model" om-max-length="200"></om-input>
			<ng-messages for="pdForm.omOntologyId.$error" ng-if="pdForm.$submitted || pdForm.omName.$touched">
				<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
			</ng-messages>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button class="btn btn-primary" ng-hide="editing" ng-click="editProperty($event)">{{'button.edit' | translate}}</button>

			<button class="btn btn-default" ng-hide="editing || !deletable" ng-click="deleteProperty($event, propertyId)">{{'button.delete' | translate}}</button>

			<button ng-show="editing" class="btn btn-primary" type="submit">
				{{'button.save' | translate}}
				<span ng-show="showThrobber" class="throbber-btn-wrapper">
					<span class="throbber throbber-btn throbber-white"></span>
				</span>
			</button>

			<button class="btn btn-default" ng-show="editing" ng-click="cancel($event)">{{'button.cancel' | translate}}</button>
		</div>
	</div>
</form>
