<div>
    <div class="row">
        <div class="col-md-12">
            <div [hidden]="!errorMessage">
				<!--TODO-->
            </div>
            <div [hidden]="!error403">
                <div class="access-notifcation-container">
                    <h1 class="access-notification-title">
                        <span class="fa access-denied-icon">&#xf023;</span> Access Denied
                    </h1>
                    <p>This functionality is restricted. See your administrator for additional permissions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
