<ng-select2 width="100%" [(ngModel)]="locationSelected" [value]="locationSelected" [data]="initialData" [options]="locationsOptions" (valueChanged)="onValueChanged($event)">
</ng-select2>
<div class="row" *ngIf="showFilterOptions">
	<div class="col-xs-12 col-md-12">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="option-group" id="allLocations" [value]="false" [(ngModel)]="isBreedingAndCountryLocationsOnly">
			<label class="form-check-label" for="allFavoriteLocations" jhiTranslate="germplasm.import.basicDetails.all.locations"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="option-group" id="breedingAndCountryLocations" [value]="true" [(ngModel)]="isBreedingAndCountryLocationsOnly">
			<label class="form-check-label" for="breedingAndCountryFavoriteLocations" jhiTranslate="germplasm.import.basicDetails.breeding.and.country.locations"></label>
		</div>
	</div>
</div>
<div class="row" *ngIf="showFilterOptions">
	<div class="col-xs-12 col-md-12">
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" name="useFavoriteBreedingLocations" id="useFavoriteBreedingLocations"
				   [(ngModel)]="useFavoriteLocations">
			<label class="form-check-label" for="useFavoriteBreedingLocations" jhiTranslate="germplasm.import.basicDetails.locations.use.favorite">
			</label>
		</div>
	</div>
</div>
