<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!-- Declare property file locations -->
    <context:property-placeholder location="classpath:workbench.properties" />
    <util:properties id="workbenchProperties" location="classpath:workbench.properties"/>

    <!-- Enable Spring annotations -->
    <context:annotation-config />

    <!-- Enable load-time-weaving so we can use @Configurable annotation. To 
        make this work, we need to set the -java.agent VM argument to the spring-instrument 
        JAR file's path. In windows, you can use: -javaagent:${env_var:HOMEDRIVE}${env_var:HOMEPATH}\.m2\repository\org\springframework\spring-instrument\3.1.1.RELEASE\spring-instrument-3.1.1.RELEASE.jar 
        Mac and Linux users, add your path here. -->
    <context:load-time-weaver />

    <!-- The application class. -->
    <bean id="workbenchMain" class="org.generationcp.ibpworkbench.IBPWorkbenchApplication"
        scope="prototype" />

    <bean id="workbenchContent" class="org.generationcp.ibpworkbench.WorkbenchContentApp"
          scope="prototype" />

    <bean id="sessionData" class="org.generationcp.ibpworkbench.SessionData" scope="session" />

    <!-- Reuseable UI components can be declared here, but don't do it just 
        so you can have auto-wiring. Add @Configurable annotation to your class if 
        you only need auto-wiring. -->

    <!-- The Message Source -->
    <bean id="messageSource"
        class="org.generationcp.commons.vaadin.spring.SimpleResourceBundleMessageSource">
        <property name="basenames">
		  <list>
		    <value>I18NMessages</value>
		    <value>VaadinCommonMessages</value>
		  </list>
		</property>
        <property name="locale">
            <util:constant static-field="java.util.Locale.ENGLISH" />
        </property>
    </bean>

    <!-- Data Managers -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${workbench.driver}"/>
        <property name="url" value="${workbench.url}"/>
        <property name="username" value="${workbench.username}"/>
        <property name="password" value="${workbench.password}"/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:ibpworkbench_hib.cfg.xml"/>
    </bean>
    
    <bean id="hibernateSessionProvider" class="org.generationcp.middleware.hibernate.HibernateSessionPerRequestProvider" scope="request" destroy-method="close">
        <property name="sessionFactory" ref="sessionFactory"/>
        
        <!-- JDK Standard Proxy around this request scoped bean, so we can use it on longer scoped beans -->
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
    
    <!--
    <bean id="hibernateUtil" class="org.generationcp.middleware.util.HibernateUtil" destroy-method="shutdown">
        <constructor-arg value="ibpworkbench_hib.cfg.xml" />
        <constructor-arg value="${workbench.host}" />
        <constructor-arg value="${workbench.port}" />
        <constructor-arg value="${workbench.dbname}" />
        <constructor-arg value="${workbench.username}" />
        <constructor-arg value="${workbench.password}" />
    </bean>
    -->
	 <!-- The data source configuration -->
    <bean id="localDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName" value="${workbench.driver}"/>
        <property name="url" value="${workbench.url}"/>
        <property name="username" value="${workbench.username}"/>
        <property name="password" value="${workbench.password}"/>
    </bean>
    
    <bean id="centralDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${workbench.driver}"/>
        <property name="url" value="${workbench.url}"/>
        <property name="username" value="${workbench.username}"/>
        <property name="password" value="${workbench.password}"/>
    </bean>
    
    <!-- Manager Factory Provider -->
    <bean id="managerFactoryProvider" class="org.generationcp.commons.hibernate.DefaultManagerFactoryProvider" destroy-method="close">
    	<constructor-arg ref="workbenchDataManager" />
    	<constructor-arg ref="mysqlUtil" />
    	<property name="localUsername" value="${local.user}"/>
    	<property name="localPassword" value="${local.password}"/>
    	<property name="localPort"     value="${workbench.port}"/>
    	<property name="centralUsername" value="${central.user}"/>
    	<property name="centralPassword" value="${central.password}"/>
    	<property name="centralPort"     value="${workbench.port}"/>
    </bean>

    <bean id="workbenchDataManager"
        class="org.generationcp.middleware.manager.WorkbenchDataManagerImpl">
        <constructor-arg ref="hibernateSessionProvider" />
    </bean>
    
    <bean id="localHibernateSessionProvider" class="org.generationcp.middleware.hibernate.HibernateSessionPerRequestProvider" scope="request" destroy-method="close">
        <property name="sessionFactory" ref="localSessionFactory"/>
        
        <!-- JDK Standard Proxy around this request scoped bean, so we can use it on longer scoped beans -->
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
    
    <bean id="centralHibernateSessionProvider" class="org.generationcp.middleware.hibernate.HibernateSessionPerRequestProvider" scope="request" destroy-method="close">
        <property name="sessionFactory" ref="centralSessionFactory"/>
        
        <!-- JDK Standard Proxy around this request scoped bean, so we can use it on longer scoped beans -->
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>
    
     <bean id="localSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="localDataSource"/>
        <property name="configLocation" value="classpath:ibpworkbench_hib.cfg.xml"/>
    </bean>
    
    <bean id="centralSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="centralDataSource"/>
        <property name="configLocation" value="classpath:ibpworkbench_hib.cfg.xml"/>
    </bean>
    
   
    
    <bean id="studyDataManager" class="org.generationcp.middleware.manager.StudyDataManagerImpl">
        <property name="sessionProviderForLocal" ref="localHibernateSessionProvider"/>
        <property name="sessionProviderForCentral" ref="centralHibernateSessionProvider"/>
    </bean>
   
    

	<bean id="mysqlUtil" class="org.generationcp.commons.util.MySQLUtil" >
        <property name="mysqlDriver" value="${workbench.driver}"/>
        <property name="mysqlHost" value="${workbench.host}"/>
        <property name="mysqlPort" value="${workbench.port}"/>
        <property name="username" value="${workbench.username}"/>
        <property name="password" value="${workbench.password}"/>
        <property name="mysqlDumpPath" value="${workbench.mysqlDumpPath}"/>
        <property name="mysqlPath" value="${workbench.mysqlExePath}"/>
    </bean>

    <bean id="toolUtil" class="org.generationcp.ibpworkbench.util.ToolUtil">
        <property name="jdbcHost"           value="${workbench.host}"/>
        <property name="jdbcPort"           value="${workbench.port}"/>
        <property name="centralUser"        value="${central.user}"/>
        <property name="centralPassword"    value="${central.password}"/>
        <property name="localUser"          value="${local.user}"/>
        <property name="localPassword"      value="${local.password}"/>
        <property name="workbenchDbName"    value="workbench"/>
        <property name="workbenchUser"      value="${workbench.username}"/>
        <property name="workbenchPassword"  value="${workbench.password}"/>
    </bean>
    
    <bean id="tomcatUtil" class="org.generationcp.ibpworkbench.util.tomcat.TomcatUtil">
        <property name="managerUrl"         value="${tomcat.manager.url}"/>
        <property name="username"           value="${tomcat.manager.username}"/>
        <property name="password"           value="${tomcat.manager.password}"/>
    </bean>

    <bean id="traitsAndMeansCVSUtil" class="org.generationcp.ibpworkbench.util.TraitsAndMeansCSVUtil">
        <property name="columnMapping">
            <map>
                <entry key="Environments!" value="environments" />
                <entry key="Genotypes!" value="genotypes" />
                <entry key="MAT50_Means" value="mat50Means" />
                <entry key="MAT50_UnitErrors" value="mat50UnitErrors" />
                <entry key="PODWT_Means" value="podwtMeans" />
                <entry key="PODWT_UnitErrors" value="podwtUnitErrors" />
                <entry key="SEEDWT_Means" value="seedwtMeans" />
                <entry key="SEEDWT_UnitErrors" value="seedwtUnitErrors" />
            </map>
        </property>
    </bean>

    <bean id="backupIBDBService" class="org.generationcp.ibpworkbench.service.BackupIBDBService"></bean>

    <bean id="springAppContextProvider" class="org.generationcp.commons.util.SpringAppContextProvider"></bean>
</beans>