#Workbench hibernate configuration 
central.password=central
central.user=central
local.password=local
local.user=local
workbench.driver=com.mysql.jdbc.Driver
workbench.url=jdbc:mysql://localhost:13306/workbench
workbench.host=localhost
workbench.port=3306
workbench.dbname=workbench
workbench.username=root
workbench.password=fs0123456
workbench.mysqlDumpPath=infrastructure/mysql/bin/mysqldump.exe
#env settings
web.api.url=http://localhost:18080/web/api/url.do