<section>
    <header>
        <h1><span jhiTranslate="germplasm-list.title">Germplasm Lists</span>&nbsp;
            <a href="{{helpLink}}" target="_blank"><i class="fa fa-question-circle bms-helpicon" aria-hidden="true"></i></a>
        </h1>
        <div class="row col mb-3">
            <a href (click)="browseList($event)" jhiTranslate="germplasm-list.browse-link"></a>&nbsp;
            <span jhiTranslate="germplasm-list.browse-text"></span>
        </div>
    </header>
    <div class="row">
        <section class="col">
            <nav>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#germplasm-list" [class.active]="!hideSearchTab" (click)="setSearchTabActive()" jhiTranslate="germplasm-list.nav.search">Search</a>
                    </li>
                    <li class="nav-item" *ngFor="let list of lists" role="presentation">
                        <a class="nav-link" [class.active]="list.active" href="#list-{{list.id}}" aria-controls="home" (click)="setActive(list.id)" role="tab" data-toggle="tab">
                            {{list.listName}}
                            <i class="fa fa-times close-nav-tab" (click)="closeTab(list)"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="col-xs-12 col-md-12" [hidden]="hideSearchTab">
                        <jhi-germplasm-list-search></jhi-germplasm-list-search>
                    </div>
                    <!-- Tab panes -->
                    <div *ngFor="let list of lists; trackBy: trackId" role="tabpanel" class="tab-pane container-fluid row" [class.active]="list.active" id="list-{{list.id}}">
                        <div class="col-xs-12 col-md-12">
                            <jhi-list [listId]="list.id"></jhi-list>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </div>
</section>
<jhi-alert></jhi-alert>
