<span *ngIf="this.shouldHasLink() else noLink">
	<a *ngIf="this.isGidColumn()"
	   (click)="$event.stopPropagation()"
	   [routerLink]="['/', { outlets: { popup: 'germplasm-details-dialog/' + this.getRowData() } }]"
	   queryParamsHandling="merge">{{this.getRowData()}}</a>

	<a *ngIf="this.isDesignationColumn()"
	   (click)="$event.stopPropagation()"
	   [routerLink]="['/', { outlets: { popup: 'germplasm-details-dialog/' + this.getGidData() } }]"
	   queryParamsHandling="merge">{{this.getRowData()}}</a>

	<a *ngIf="this.isLotsColumn() && this.getRowData()"
	   (click)="$event.stopPropagation()"
	   [routerLink]="['/', { outlets: { popup: 'inventory-details-dialog' } }]"
	   [queryParams]="{gid: this.getGidData()}"
	   queryParamsHandling="merge">{{this.getRowData()}}</a>
	<span *ngIf="this.isLotsColumn() && this.getRowData() === 0">-</span>

	<a *ngIf="this.isLocationNameColumn()"
	   (click)="$event.stopPropagation()"
	   [routerLink]="['/', { outlets: { popup: 'location/' + this.getLocationIdData() } }]"
	   queryParamsHandling="merge">{{this.getRowData()}}</a>

	<a *ngIf="this.isBreedingMethodNameColumn()"
	   (click)="$event.stopPropagation()"
	   [routerLink]="['/', { outlets: { popup: 'breeding-method/' + this.getBreedingMethodIdData() } }]"
	   queryParamsHandling="merge">{{this.getRowData()}}</a>
</span>
<ng-template #noLink>
	<span>{{this.getRowData()}}</span>
</ng-template>
