<div class="tab-pane active container-fluid" role="tabpanel" aria-labelledby="germplasm-list-data-tab">
	<div class="row pt-4">
		<div class="col">
			<div class="row"></div>
			<jhi-variable-container [title]="title" [selectedVariables]="selectedVariables" [variables]="variables" [hideAddAndRemove]="this.germplasmList?.locked" (onAddVariable)="addVariable($event)" (onDeleteVariable)="deleteVariables($event)"></jhi-variable-container>
		</div>
		<div class="col">
		</div>
	</div>
	<div class="row pt-4">
		<div class="col">
			<div class="float-right" placement="bottom-right">
				<jhi-list-columns *ngIf="!this.germplasmList?.locked" class="ml-2 float-right"
								  [listId]="this.listId"
								  (columnsSelectedEvent)="onColumnsSelected($event)">
				</jhi-list-columns>
				<button class="btn btn-info float-right"
						mat-button id="actionMenu" [matMenuTriggerFor]="mainActions"
						*ngIf="isActionMenuAvailable()" data-test="germplasmListActionButton">
					<span jhiTranslate="actions"></span>&nbsp;<span class="fa fa-caret-down"></span>
				</button>

				<mat-menu #mainActions="matMenu" aria-labelledby="actionMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
					<button mat-menu-item [hidden]="this.germplasmList?.locked" type="submit"
							*jhiHasAnyAuthority="IMPORT_GERMPLASM_LIST_UPDATES_PERMISSION"
							[routerLink]="['/', { outlets: { popup: 'germplasm-list-import-update'} }]"
							replaceUrl="true"
							queryParamsHandling="merge" data-test="importListButton">
						<span jhiTranslate="germplasm-list.actions.import-list.update"></span>
					</button>
					<button mat-menu-item [hidden]="this.germplasmList?.locked" type="submit"
							*jhiHasAnyAuthority="REORDER_ENTRIES_GERMPLASM_LISTS_PERMISSIONS"
							(click)="openReorderEntries()" data-test="reorderEntriesButton">
						<span jhiTranslate="germplasm-list.list-data.actions.reorder-entries"></span>
					</button>
					<button mat-menu-item [hidden]="this.germplasmList?.locked" type="submit"
							*jhiHasAnyAuthority="REMOVE_ENTRIES_GERMPLASM_LISTS_PERMISSIONS"
							(click)="removeEntries()" data-test="removeEntriesButton">
						<span jhiTranslate="germplasm-list.list-data.actions.remove-entries"></span>
					</button>
					<button mat-menu-item [hidden]="this.germplasmList?.locked" type="submit"
							*jhiHasAnyAuthority="ADD_GERMPLASM_LIST_ENTRIES_PERMISSIONS"
							(click)="openGermplasmSelectorModal()" data-test="addEntriesButton">
						<span jhiTranslate="germplasm-list.list-data.actions.add-entries"></span>
					</button>
					<button mat-menu-item type="submit"
							*jhiHasAnyAuthority="ADD_ENTRIES_TO_LIST_PERMISSIONS"
							(click)="openAddToList()" data-test="addToListButton">
						<span jhiTranslate="germplasm-list.list-data.actions.add-entries-to-another"></span>
					</button>
					<button mat-menu-item *ngIf="isDeleteActionItemAvailable()" type="submit"
							(click)="deleteList()" data-test="deleteListButton">
						<span jhiTranslate="germplasm-list.list-data.actions.delete-list"></span>
					</button>
					<button mat-menu-item type="submit" *jhiHasAnyAuthority="CLONE_GERMPLASM_LIST_PERMISSIONS"
							(click)="openCloneGermplasmList()" data-test="cloneListButton">
						<span jhiTranslate="germplasm-list.list-data.actions.clone-list"></span>
					</button>
					<button mat-menu-item [hidden]="this.germplasmList?.locked" type="submit"
							*jhiHasAnyAuthority="EDIT_LIST_METADATA_PERMISSIONS"
							(click)="moveToFolder()" data-test="moveToFolderButton">
						<span jhiTranslate="germplasm-list.list-data.actions.move-to-folder"></span>
					</button>
					<button mat-menu-item type="submit" *jhiHasAnyAuthority="GERMPLASM_LIST_LABEL_PRINTING_PERMISSIONS"
							(click)="exportDataAndLabels()" data-test="exportListButton">
						<span jhiTranslate="germplasm-list.list-data.actions.export-data-and-labels"></span>
					</button>
					<!-- COP candidate release: calculate selected gids, don't reuse db values (reset always) -->
					<button mat-menu-item type="submit" (click)="calculateCop(true)"><span jhiTranslate="germplasm-list.list-data.actions.cop.menu"></span></button>
					<!-- TODO cop for list hidden for now
					<button mat-menu-item [matMenuTriggerFor]="cop"><span jhiTranslate="germplasm-list.list-data.actions.cop.menu"></span></button>
					-->
				</mat-menu>
				<!--
				<mat-menu #cop="matMenu">
					<button mat-menu-item [matMenuTriggerFor]="calculateCopSubMenu"><span jhiTranslate="germplasm-list.list-data.actions.cop.calculate-cop"></span></button>
					<button mat-menu-item type="submit" (click)="viewCop()"><span jhiTranslate="germplasm-list.list-data.actions.cop.view-cop"></span></button>
					<button mat-menu-item type="submit" (click)="calculateCopForList()"><span jhiTranslate="germplasm-list.list-data.actions.cop.calculate-for-list"></span></button>
					<button mat-menu-item type="submit" (click)="viewCopForList()"><span jhiTranslate="germplasm-list.list-data.actions.cop.view-cop-for-list"></span></button>
				</mat-menu>
				<mat-menu #calculateCopSubMenu="matMenu">
					<button mat-menu-item type="submit" (click)="calculateCop()"><span jhiTranslate="germplasm-list.list-data.actions.cop.calculate-cop.not.reset"></span></button>
					<button mat-menu-item type="submit" (click)="calculateCop(true)"><span jhiTranslate="germplasm-list.list-data.actions.cop.calculate-cop.reset"></span></button>
				</mat-menu>
				-->
			</div>
		</div>
	</div>
	<div class="row mt-2 mb-2">
		<div class="col">
			<div style="float: right">
				<button class="btn btn-light" [hidden]="this.germplasmList?.locked"
						*jhiHasAnyAuthority="EDIT_LIST_METADATA_PERMISSIONS"
						(click)="openEditListMetadata()"
						data-test="editListMetadataButton">
					<i [ngClass]="'fa fa-edit'"></i>
				</button>
				<button class="btn btn-light" (click)="toggleListStatus()" [disabled]="!(principal.hasAnyAuthorityDirect(LOCK_UNLOCK_PERMISSIONS) || user?.id === germplasmList?.ownerId)" data-test="lockListButton">
					<i [ngClass]="germplasmList?.locked ? 'fa fa-lock': 'fa fa-unlock'" aria-hidden="true" data-test="lockListIcon"></i>
				</button>
			</div>
			<div class="form-group form-inline">
				<jhi-item-count-custom [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count-custom>
				<span style="margin-left: 20px;">Selected:</span>
				<span style="padding-left: 5px;" class="font-weight-bold">
					{{this.size()}}
				</span>
				<div style="margin-left: 10px;">
					<a href (click)="onClearSort($event)" jhiTranslate="global.clear-sort"></a>
				</div>
				<span *ngIf="isLoading" style="margin-left: 10px;" class="throbber throbber-2x"></span>
			</div>
		</div>
	</div>

	<div class="table-responsive" *ngIf="entries">
		<table class="table table-striped table-bordered table-curved" data-test="germplasmListTable">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="this.transition.bind(this)">
				<th *ngIf="!isSelectAll" class="non-editable"><input type="checkbox" tooltip="select current page" [checked]="isPageSelected()" (click)="onSelectPage()" [title]="'select current page'" data-test="selectCurrentPageCheckbox"></th>
				<th *ngFor="let column of header" [ngClass]="{'non-editable': isNotEditableColumn(column)}">
					<span *ngIf="isColumnSortable(column)" jhiSortBy="{{this.getColumnSortName(column)}}">
						<span>{{this.getHeaderDisplayName(column)}}</span>
						<span class="fa fa-sort"></span>
					</span>
					<span *ngIf="!isColumnSortable(column)">
						{{this.getHeaderDisplayName(column)}}
						<span *ngIf="column.termId === TermIdEnum.CROSS && !this.germplasmList?.locked">
							<!-- TODO [title] with translation not resolving correctly when opening from my-lists -->
							<i class="fa fa-edit ml-2" role="button" title="Fill with cross expansion"
							   [ngbPopover]="crossOptionsPopover" [placement]="['bottom', 'left']" [autoClose]="'outside'"
							></i>
						</span>
					</span>
					<jhi-column-filter-inline *ngIf="isColumnFilterable(column)" [filter]="this.getFilter(column)"
											  (onApply)="this.applyFilters()"
											  (onReset)="this.resetFilters()"></jhi-column-filter-inline>
				</th>
			</tr>
			</thead>
			<tbody *ngIf="entries.length else nodata">
			<tr *ngFor="let entry of entries; trackBy: trackId; index as index">
				<td *ngIf="!isSelectAll"><input type="checkbox" [checked]="isSelected(entry)" (click)="toggleSelect($event, index, entry, true); $event.stopPropagation()"></td>
				<td *ngFor="let column of header">
					<jhi-list-data-row [germplasmList]="germplasmList" [listId]="listId" [column]="column" [entry]="entry"></jhi-list-data-row>
				</td>
			</tr>
			</tbody>
		</table>
		<ng-template #nodata>
			<tbody>
			<tr>
				<td [attr.colspan]="(this.header.length)+1" jhiTranslate="no.data"></td>
			</tr>
			</tbody>
		</ng-template>
	</div>
	<div *ngIf="entries && entries.length">
		<div class="row">
			<div class="col">
				<div class="pagination-container">
					<div class="pagination-box pagination-box-left">
						<div>
							<jhi-item-count-custom [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count-custom>
						</div>
					</div>
					<div class="pagination-box">
						<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [disabled]="isLoading"
										[maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
					</div>
					<div class="pagination-box pagination-box-right">
						<div class="form-inline">
							<label for="itemsPerPage" class="control-label control-label-left">Items Per Page</label>
							<select [(ngModel)]="itemsPerPage" class="form-control ml-2" id="itemsPerPage" [disabled]="isLoading" (change)="resetTable();" style="width:95px">
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="75">75</option>
								<option value="100">100</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #crossOptionsPopover>
	<form>
		<div class="form-group">
			<label for="generationLevel" class="font-weight-bold" jhiTranslate="germplasm-list.list-data.cross.generation.level.label"></label>
			<select class="form-control" id="generationLevel" name="generationLevel" [(ngModel)]="generationLevel">
				<option *ngFor="let level of generationLevels" [value]="level">{{level}}</option>
			</select>
		</div>
		<div class="footer text-center"><br>
			<button type="submit" class="btn btn-primary btn-sm" jhiTranslate="apply"
					[disabled]="isLoading"
					(click)="fillWithCrossExpansion()"></button>
		</div>
	</form>
</ng-template>
