<div class="row float-right" placement="bottom-right">
	<div class="column column-filter-badge" ngbDropdown #columnsDropdown="ngbDropdown">
		<button class="btn btn-info" id="columnMenu" ngbDropdownToggle jhiTranslate="germplasm-list.list-data.show-columns-button"></button>
		<div ngbDropdownMenu aria-labelledby="columnMenu" class="column-menu p-2">
			<form #f='ngForm'>
				<div class="inner-addon right-addon mb-2">
					<i class="fa fa-search"></i>
					<input type="text" class="form-control" placeholder="{{ 'search' | translate }}" (keyup)="onSearchColumn($event)" />
				</div>
				<div class="columns-container">
					<div *ngIf="filteredStaticColumns.length > 0">
						<div class="form-check" *ngFor="let column of filteredStaticColumns">
							<input class="form-check-input" type="checkbox" [(ngModel)]="column.selected"
								   id="check-static-{{column.id}}" name="'check-static-{{column.id}}'"
								   [disabled]="column.id === TermIdEnum.ENTRY_NO">
							<label class="form-check-label" for="check-static-{{column.id}}">
								{{column.displayName}}
							</label>
						</div>
					</div>

					<div *ngIf="filteredNameColumns.length > 0" class="mt-3">
						<label class="form-check-label font-weight-bold" jhiTranslate="germplasm-list.list-data.columns.types.names">NAMES</label>
						<hr class="mt-1 mb-1" />
						<div class="form-check" *ngFor="let column of filteredNameColumns">
							<input class="form-check-input" type="checkbox"  [(ngModel)]="column.selected"
								   id="check-name-{{column.id}}" name="'check-name-{{column.id}}'">
							<label class="form-check-label" for="check-name-{{column.id}}">
								{{column.displayName}}
							</label>
						</div>
					</div>

					<div *ngIf="filteredPassportColumns.length > 0" class="mt-3">
						<label class="form-check-label font-weight-bold" jhiTranslate="germplasm-list.list-data.columns.types.passport">PASSPORT</label>
						<hr class="mt-1 mb-1" />
						<div class="form-check" *ngFor="let column of filteredPassportColumns">
							<input class="form-check-input" type="checkbox" [(ngModel)]="column.selected"
								   id="check-passport-{{column.id}}" name="'check-passport-{{column.id}}'">
							<label class="form-check-label" for="check-passport-{{column.id}}">
								{{column.displayName}}
							</label>
						</div>
					</div>

					<div *ngIf="filteredAttributesColumns.length > 0" class="mt-3">
						<label class="form-check-label font-weight-bold" jhiTranslate="germplasm-list.list-data.columns.types.attributes">ATTRIBUTES</label>
						<hr class="mt-1 mb-1" />
						<div class="form-check" *ngFor="let column of filteredAttributesColumns">
							<input class="form-check-input" type="checkbox" [(ngModel)]="column.selected"
								   id="check-attributes-{{column.id}}" name="'check-attributes-{{column.id}}'">
							<label class="form-check-label" for="check-attributes-{{column.id}}">
								{{column.displayName}}
							</label>
						</div>
					</div>
				</div>
				<hr class="mt-3 mb-0" />
				<div class="text-center"><br>
					<button type="submit" class="btn btn-primary btn-sm" (click)="apply()">Apply</button>
				</div>
			</form>
		</div>
	</div>
	<div class="column" ngbDropdown>
		<button class="btn btn-info" id="actionMenu" ngbDropdownToggle *jhiHasAnyAuthority="ACTION_BUTTON_PERMISSIONS" jhiTranslate="germplasm-list.list-data.actions-button"></button>
		<div ngbDropdownMenu aria-labelledby="actionMenu">
			<button class="dropdown-item" type="submit" *jhiHasAnyAuthority="GERMPLASM_LIST_LABEL_PRINTING_PERMISSIONS" jhiTranslate="germplasm-list.list-data.actions.export-data-and-labels"
					(click)="exportDataAndLabels()">
			</button>
		</div>
	</div>
</div>
