<div class="om-av-view">

	<button ng-click="goBack()">Back</button>

	<h2>Add New Variable</h2>
	<form novalidate>
		<button ng-click="saveVariable($event, variable)" type="submit">Save</button>
		<div>
			<label for="om-av-name">Name</label>
			<input type="text" name="om-av-name" id="om-av-name" ng-model="variable.name"></input>
		</div>

		<div>
			<label for="om-av-description">Description</label>
			<textarea type="text" name="om-av-description" id="om-av-description" ng-model="variable.description"></textarea>
		</div>

		<div>
			<label for="om-av-property">Property</label>
			<select name="om-av-property" id="om-av-property" ng-model="variable.property" ng-options="property.name for property in data.properties"></select>

			<a href="#" ng-click="addNew($event, 'property')">Add a new property</a>
		</div>

		<div>
			<label for="om-av-method">Method</label>
			<select name="om-av-method" id="om-av-method" ng-model="variable.method" ng-options="method as method.name for method in data.methods"></select>

			<a href="#" ng-click="addNew($event, 'method')">Add a new method</a>
		</div>

		<div>
			<label for="om-av-scale">Scale</label>
			<select name="om-av-scale" id="om-av-scale" ng-model="variable.scale" ng-options="scale as scale.name for scale in data.scales"></select>

			<a href="#" ng-click="addNew($event, 'scale')">Add a new scale</a>
		</div>

		<div>
			<label for="om-av-type">Variable Type</label>
			<select name="om-av-type" id="om-av-type" ng-model="variable.type" ng-options="type as type.name for type in data.types"></select>
		</div>

		<div>
			<label for="om-av-ontology-id">Crop Ontology Id</label>
			<input type="text" name="om-av-ontology-id" id="om-av-ontology-id" ng-model="variable.ontologyId"></input>
		</div>

		<div ng-show="showRangeWidget">
			<label for="om-av-min">Minimum Expected Value</label>
			<input type="text" name="om-av-min" id="om-av-min" ng-model="variable.range.min"></input>

			<label for="om-av-max">Maximum Expected Value</label>
			<input type="text" name="om-av-max" id="om-av-max" ng-model="variable.range.max"></input>
		</div>
	</form>
</div>
