<div class="om-av-view">
		<h2>Add New Variable</h2>
	<form>
		<button ng-click="saveVariable($event)" type="submit">Save</button>
		<div>
			<label for="om-av-name">Name</label>
			<input type="text" name="om-av-name" id="om-av-name"></input>
		</div>

		<div>
			<label for="om-av-description">Description</label>
			<textarea type="text" name="om-av-description" id="om-av-description"></textarea>
		</div>

		<div>
			<label for="om-av-property">Property</label>
			<select name="om-av-property" id="om-av-property">
				<option value="" selected>Select a property..</option>
				<option ng-repeat="property in properties" value="property.id">{{property.name}}</option>
			</select>

			<a href="#" ng-click="addProperty($event)">Add a new property</a>
		</div>

		<div>
			<label for="om-av-method">Method</label>
			<select name="om-av-method" id="om-av-method">
				<option value="" selected>Select a method..</option>
				<option ng-repeat="method in methods" value="method.id">{{method.name}}</option>
			</select>

			<a href="#" ng-click="addMethod($event)">Add a new method</a>
		</div>

		<div>
			<label for="om-av-scale">Scale</label>
			<select name="om-av-scale" id="om-av-scale">
				<option value="" selected>Select a scale..</option>
				<option ng-repeat="scale in scales" value="scale.id">{{scale.name}}</option>
			</select>

			<a href="#" ng-click="addScale($event)">Add a new scale</a>
		</div>

		<div>
			<label for="om-av-variable type">Variable Type</label>
			<select name="om-av-variable type" id="om-av-variable type">
				<option value="" selected>Select a variable type..</option>
				<option ng-repeat="type in types" value="type.id">{{type.name}}</option>
			</select>
		</div>

		<div>
			<label for="om-av-ontology-id">Crop Ontology Id</label>
			<input type="text" name="om-av-ontology-id" id="om-av-ontology-id"></input>
		</div>

		<div ng-show="numericVariable">
			<label for="om-av-min">Minimum Expected Value</label>
			<input type="text" name="om-av-min" id="om-av-min"></input>

			<label for="om-av-max">Maximum Expected Value</label>
			<input type="text" name="om-av-max" id="om-av-max"></input>
		</div>
	</form>
</div>
