<div class="container-fluid pt-3">
	<jhi-collapsible heading="{{translateService.instant('observations.studies.title')}}">
		<div class="container-fluid">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved">
					<thead>
					<th scope="col" jhiTranslate="observations.studies.study-name">Study Name</th>
					<th scope="col" jhiTranslate="observations.studies.description">Description</th>
					</thead>
					<tbody>
					<tr>
						<td> -</td>
						<td> -</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</jhi-collapsible>
	<jhi-collapsible heading="{{translateService.instant('observations.observations.title')}}">
	</jhi-collapsible>
</div>