<div class="om-ap-view">

	<button ng-click="goBack()">Back</button>

	<h2>Add New Property</h2>
	<form>
		<button ng-click="saveProperty($event, property)" type="submit">Save</button>
		<div>
			<label for="om-ap-name">Name</label>
			<input type="text" name="om-ap-name" id="om-ap-name" ng-model="property.name"></input>
		</div>

		<div>
			<label for="om-ap-description">Description</label>
			<textarea type="text" name="om-ap-description" id="om-ap-description" ng-model="property.description"></textarea>
		</div>

		<!-- TODO: Make this into a tag selector thing-->
		<div>
			<label for="om-ap-class">Class</label>
			<select name="om-ap-class" id="om-ap-class" ng-model="property.class" ng-options="class for class in classes"></select>
		</div>

		<div>
			<label for="om-ap-ontology-id">Crop Ontology Id</label>
			<input type="text" name="om-ap-ontology-id" id="om-ap-ontology-id" ng-model="property.ontologyId"></input>
		</div>
	</form>
</div>
