<section aria-labelledby="list-builder" role="dialog" class="h-100">
	<header>
		<h4 class="mb-0">
			<img src="../../../content/images/list-builder.png"/>
			<span jhiTranslate="list-builder.header"></span>
		</h4>
	</header>
	<div class="card h-100">
		<div class="card-body d-flex flex-column">
			<h5>
				<img src="../../../content/images/list-entries.png" />
				<span jhiTranslate="list-builder.entries"></span>
			</h5>
			<div jhiTranslate="list-builder.description"></div>
			<div class="row my-2">
				<div class="col form-inline">
					<span class="mr-1 font-weight-bold" jhiTranslate="global.total.entries"></span>
					<span>{{data.length}}</span>
					<span class="ml-3 mr-1 font-weight-bold" jhiTranslate="global.selected"></span>
					<span>{{isSelectAllPages ? data.length : size(selectedItems)}}</span>
					<div class="form-check form-check-inline ml-3">
						<input type="checkbox" [checked]="isSelectAllPages" (click)="onSelectAllPages()" id="list-builder-select-all">
						<label class="form-check-label ml-1" for="list-builder-select-all" jhiTranslate="global.select.all"></label>
					</div>
					<div ngbDropdown class="ml-auto" placement="bottom-right">
						<button class="btn btn-info" id="actionMenu" ngbDropdownToggle [disabled]="!data.length">
							<span>Actions</span>
						</button>
						<div ngbDropdownMenu aria-labelledby="actionMenu">
							<button class="dropdown-item" type="submit" (click)="deleteSelected()" jhiTranslate="list-builder.delete.selected.items">
							</button>
							<button class="dropdown-item" type="submit" (click)="deleteDuplicates()" jhiTranslate="list-builder.delete.duplicated.items">
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive flex-grow-1"
				 id="listBuilderDrop" cdkDropList (cdkDropListDropped)="drop($event)" data-test="listBuilderDropSection">
				<table class="table table-striped table-bordered table-curved" >
					<thead>
						<tr *ngIf="!data.length">
							<th></th>
						</tr>
						<th *ngIf="data.length && !isSelectAllPages">
							<input type="checkbox" tooltip="select current page" [checked]="isPageSelected()" (click)="onSelectPage()" [title]="'select current page'" />
						</th>
						<th *ngIf="data.length">#</th>
						<th *ngFor="let header of headers()">
							<span>{{header}}</span>
						</th>
					</thead>
					<tbody>
						<tr *ngFor="let row of data | slice: pageOffset() : page * context.pageSize; let index = index"
							[class.selected]="isSelected(row.internal_id)"
							(click)="toggleSelect($event, index, row.internal_id)"
							cdkDrag >
							<td *ngIf="!isSelectAllPages">
								<input type="checkbox" [checked]="isSelected(row.internal_id)" (click)="toggleSelect($event, index, row.internal_id, true); $event.stopPropagation()">
							</td>
							<td>{{pageOffset() + index + 1}}</td>
							<td *ngFor="let header of headers()">
								{{row[header]}}
							</td>
						</tr>
						<tr *ngIf="!data.length">
							<td jhiTranslate="list-builder.no.data"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col">
					<div class="pagination-container">
						<div class="pagination-box pagination-box-left">
							<div>
								<jhi-item-count [page]="page" [total]="data.length" [itemsPerPage]="context.pageSize"></jhi-item-count>
							</div>
						</div>
						<div class="pagination-box pagination-wrap">
							<ngb-pagination [collectionSize]="data.length" [(page)]="page" [pageSize]="context.pageSize"
											[maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
						</div>
						<div class="pagination-box pagination-box-right">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="reset()" [disabled]="!data.length">
				<span jhiTranslate="reset"></span>
			</button>
			<button (click)="save()" class="btn btn-primary" [disabled]="!data.length" data-test="listBuilderSaveButton">
				<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="save"></span>
			</button>
		</div>
	</div>
</section>
