<div class="modal-body">
	<form name="form" #f="ngForm" class="form-horizontal">
		<!-- Breeding method selection -->
		<h4 jhiTranslate="advance-study.breeding-methods.title"></h4>
		<div class="form-group row">
			<div class="col-sm-6">
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" name="breedingMethodCheck" (click)="onSelectMethodVariable($event)" [(ngModel)]="breedingMethodCheck">
					<label class="col-form-label font-weight-bold" for="breedingMethodCheck" id="breedingMethodCheck" jhiTranslate="advance-study.breeding-methods.description">Breeding Method is the same for each advance</label>
				</div>
			</div>
			<div class="col-sm-6">
				<ng-select2 name="breedingMethod" id="breedingMethod" width="90%"
							[(ngModel)]="breedingMethodSelectedId"
							[options]="breedingMethodOptions"
							[value]="breedingMethodSelectedId"
							(valueChanged)="onMethodChange($event)"
							[disabled]="showBreedingMethodVariableSelection">
				</ng-select2>
				<a href="{{helpLink}}" target="_blank" class="align-middle ml-2"><i class="fa fa-info-circle bms-helpicon"></i></a>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-check form-check-inline">
							<input type="radio" name="methodType" [(ngModel)]="breedingMethodType" value="1">
							<span class="ml-1" jhiTranslate="advance-study.breeding-methods.derivative-and-mantenance">Derivative and Maintenance methods</span>
						</div>
						<div class="form-check form-check-inline">
							<input type="radio" name="methodType" [(ngModel)]="breedingMethodType" value="2" disabled>
							<span class="ml-1" jhiTranslate="advance-study.breeding-methods.all-methods">All methods</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" name="useFavoriteBreedingMethods" id="useFavoriteBreedingMethods"
								   [(ngModel)]="useFavoriteBreedingMethods">
							<label class="form-check-label" for="useFavoriteBreedingMethods" jhiTranslate="advance-study.breeding-methods.favorite">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="showBreedingMethodVariableSelection" class="form-group row">
			<div class="col-sm-6">
				<label for="breedingMethod" class="col-form-label font-weight-bold" jhiTranslate="advance-study.breeding-methods.variable">Choose a variate that defines the breeding method for each advance</label>
			</div>
			<div class="col-sm-6">
				<select class="form-control" name="breedingMethodVariable" id="breedingMethodVariable" [(ngModel)]="breedingMethodSelectedVariableId">
					<option *ngFor="let variable of selectionMethodVariables" [value]="variable.termId">
						<label>{{variable.name}}</label>
					</option>
				</select>
			</div>
		</div>

		<!-- Selection Trait -->
		<div *ngIf="showSelectionTraitSelection">
			<h4 jhiTranslate="advance-study.selection-trait.title">Selection Trait</h4>
			<p for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.description"></p>
			<div class="col-sm-12">
				<div class="form-group row">
					<div class="col-sm-6">
						<label for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.level">Level</label>
						<select class="form-control" name="selectionTraitLevel" id="selectionTraitLevel" [(ngModel)]="selectedSelectionTraitDatasetId" (ngModelChange)="onSelectionTraitLevelChanged($event)">
							<option *ngFor="let level of selectionTraitLevelOptions" [hidden]="!level.show" [value]="level.value">
								<label>{{level.label}}</label>
							</option>
						</select>
					</div>
					<div class="col-sm-6">
						<label for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.variables">Variables</label>
						<select class="form-control" name="selectionTraitVariables" id="selectionTraitVariables" [(ngModel)]="selectedSelectionTraitVariableId" [disabled]="selectionTraitVariables.length === 0">
							<option *ngFor="let variable of selectionTraitVariables" [value]="variable.termId">
								<label>{{variable.name}}</label>
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<!-- Line selection -->
		<div *ngIf="showBreedingMethodVariableSelection || showLinesSelection">
			<h4 jhiTranslate="advance-study.lines.title"></h4>
			<div class="col-sm-12 form-check form-check-inline">
				<input type="checkbox" class="form-check-input" name="linesCheck" (click)="onSelectLineVariable($event)" [(ngModel)]="linesCheck">
				<label for="linesCheck" id="linesCheck" class="col-form-label font-weight-bold" jhiTranslate="advance-study.lines.description">Same number of lines is selected for each plot</label>
			</div>
			<div *ngIf="linesCheck">
				<div class="form-group row">
					<div class="col-sm-6">
						<label class="col-form-label font-weight-bold" for="linesNumber" id="linesNumber" jhiTranslate="advance-study.lines.lines-number">Lines Selected per Plot:</label>
					</div>
					<div class="col-sm-6">
						<input type="number" class="ml-0 form-check-input" name="linesNumber" [(ngModel)]="selectedLinesNumber">
					</div>
				</div>
			</div>
			<div *ngIf="!linesCheck" class="form-group row">
				<div class="col-sm-6">
					<label class="col-form-label font-weight-bold" for="breedingMethod" jhiTranslate="advance-study.lines.variable">Choose a variate that defines the breeding method for each advance</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" name="lineSelectionVariable" id="lineSelectionVariable" [(ngModel)]="selectedLinesVariableId">
						<option *ngFor="let variable of selectionPlantVariables" [value]="variable.termId">
							<label>{{variable.name}}</label>
						</option>
					</select>
				</div>
			</div>
		</div>

		<!-- Bulking selection -->
		<div *ngIf="showBulkingSelection">
			<h4 jhiTranslate="advance-study.bulks.title"></h4>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="bulksCheck" (click)="onSelectPlotVariable($event)" [(ngModel)]="bulksCheck">
				<label class="col-form-label font-weight-bold" id="bulksCheck" for="bulksCheck" jhiTranslate="advance-study.bulks.description">All plots are selected</label>
			</div>
			<div *ngIf="!bulksCheck" class="form-group row">
				<div class="col-sm-6">
					<label class="col-form-label font-weight-bold" for="breedingMethod" jhiTranslate="advance-study.bulks.variable">Choose a variate that defines which plots were selected</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" name="lineSelectionBulkingVariable" id="lineSelectionBulkingVariable" [(ngModel)]="selectedPlotVariableId">
						<option *ngFor="let variable of selectionPlantVariables" [value]="variable.termId">
							<label>{{variable.name}}</label>
						</option>
					</select>
				</div>
			</div>
		</div>

		<!-- Repetition selection -->
		<div *ngIf="replicationsOptions.length > 0">
			<h4 jhiTranslate="advance-study.reps.title"></h4>
			<div class="form-group">
				<div *ngFor="let rep of replicationsOptions" class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" [(ngModel)]="rep.selected" (click)="toggleCheck(rep.selected)"
						   name="check-{{rep.index}}" id="check-{{rep.index}}">
					<label class="col-form-label font-weight-bold" for="check-{{rep.index}}">
						{{rep.index}}
					</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" [(ngModel)]="checkAllReplications" (click)="toggleAll()" name="selectAllReps" id="selectAllReps"/>
					<span class="col-form-label font-weight-bold" for="selectAllReps" jhiTranslate="advance-study.reps.select.all">Select All</span>
				</div>
			</div>
		</div>

		<!-- Location Details -->
		<h4 jhiTranslate="advance-study.location.title"></h4>
		<div class="col-xs-12 col-md-12">
			<div class="tab-pane active container-fluid" role="tabpanel" aria-labelledby="location-tab" style="padding-left: 0px;">
				<table class="table table-striped table-bordered table-curved">
					<thead>
					<th><span jhiTranslate="advance-study.location.trial.instance">TRIAL_INSTANCE</span></th>
					<th><span jhiTranslate="advance-study.location.name">LOCATION_NAME</span></th>
					</thead>
					<tbody this.trialInstances>
					<tr *ngFor="let trialInstance of trialInstances">
						<td>{{trialInstance.instanceNumber}}</td>
						<td>{{trialInstance.locAbbr}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back('study')">
		<span jhiTranslate="entity.action.back">Back</span>
	</button>
	<button (click)="save()" [disabled]="!isValid() || isLoading" class="btn btn-primary" data-test="advanceStudyButton">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span jhiTranslate="advance.action">Advance</span>
	</button>
</div>
<jhi-alert></jhi-alert>
