<div *ngIf="!isPreview">
<div class="modal-body">
	<form name="form" #f="ngForm" class="form-horizontal" >
		<!-- Breeding method selection -->
		<h4 jhiTranslate="advance-study.breeding-methods.title"></h4>
		<div class="form-group row">
			<div class="col-sm-6">
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" name="breedingMethodCheck" (click)="onSelectMethodVariable($event)" [(ngModel)]="breedingMethodCheck">
					<label class="col-form-label font-weight-bold" for="breedingMethodCheck" id="breedingMethodCheck" jhiTranslate="advance-study.breeding-methods.description">Breeding Method is the same for each advance</label>
				</div>
			</div>
			<div class="col-sm-6">
				<ng-select2 name="breedingMethod" id="breedingMethod" width="90%"
							[(ngModel)]="breedingMethodSelectedId"
							[options]="breedingMethodOptions"
							[value]="breedingMethodSelectedId"
							(valueChanged)="onMethodChange($event)"
							[disabled]="showBreedingMethodVariableSelection">
				</ng-select2>
				<a href="{{helpLink}}" target="_blank" class="align-middle ml-2"><i class="fa fa-info-circle bms-helpicon"></i></a>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="form-check form-check-inline">
							<input type="radio" name="methodType" [(ngModel)]="breedingMethodType" value="1">
							<span class="ml-1" jhiTranslate="advance-study.breeding-methods.derivative-and-mantenance">Derivative and Maintenance methods</span>
						</div>
						<div class="form-check form-check-inline">
							<input type="radio" name="methodType" [(ngModel)]="breedingMethodType" value="2" disabled>
							<span class="ml-1" jhiTranslate="advance-study.breeding-methods.all-methods">All methods</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-12">
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" name="useFavoriteBreedingMethods" id="useFavoriteBreedingMethods"
								   [(ngModel)]="useFavoriteBreedingMethods">
							<label class="form-check-label" for="useFavoriteBreedingMethods" jhiTranslate="advance-study.breeding-methods.favorite">
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="showBreedingMethodVariableSelection" class="form-group row">
			<div class="col-sm-6">
				<label for="breedingMethod" class="col-form-label font-weight-bold" jhiTranslate="advance-study.breeding-methods.variable">Choose a variate that defines the breeding method for each advance</label>
			</div>
			<div class="col-sm-6">
				<select class="form-control" name="breedingMethodVariable" id="breedingMethodVariable" [(ngModel)]="breedingMethodSelectedVariableId">
					<option *ngFor="let variable of selectionMethodVariables" [value]="variable.termId">
						<label>{{variable.name}}</label>
					</option>
				</select>
			</div>
		</div>

		<!-- Selection Trait -->
		<div *ngIf="showSelectionTraitSelection">
			<h4 jhiTranslate="advance-study.selection-trait.title">Selection Trait</h4>
			<p for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.description"></p>
			<div class="col-sm-12">
				<div class="form-group row">
					<div class="col-sm-6">
						<label for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.level">Level</label>
						<select class="form-control" name="selectionTraitLevel" id="selectionTraitLevel" [(ngModel)]="selectedSelectionTraitDatasetId" (ngModelChange)="onSelectionTraitLevelChanged($event)">
							<option *ngFor="let level of selectionTraitLevelOptions" [hidden]="!level.show" [value]="level.value">
								<label>{{level.label}}</label>
							</option>
						</select>
					</div>
					<div class="col-sm-6">
						<label for="selectionTraitLevel" class="col-form-label font-weight-bold" jhiTranslate="advance-study.selection-trait.variables">Variables</label>
						<select class="form-control" name="selectionTraitVariables" id="selectionTraitVariables" [(ngModel)]="selectedSelectionTraitVariableId" [disabled]="selectionTraitVariables.length === 0">
							<option *ngFor="let variable of selectionTraitVariables" [value]="variable.termId">
								<label>{{variable.name}}</label>
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<!-- Line selection -->
		<div *ngIf="showBreedingMethodVariableSelection || showLinesSelection">
			<h4 jhiTranslate="advance-study.lines.title"></h4>
			<div class="col-sm-12 form-check form-check-inline">
				<input type="checkbox" class="form-check-input" name="linesCheck" (click)="onSelectLineVariable($event)" [(ngModel)]="linesCheck">
				<label for="linesCheck" id="linesCheck" class="col-form-label font-weight-bold" jhiTranslate="advance-study.lines.description">Same number of lines is selected for each plot</label>
			</div>
			<div *ngIf="linesCheck">
				<div class="form-group row">
					<div class="col-sm-6">
						<label class="col-form-label font-weight-bold" for="linesNumber" id="linesNumber" jhiTranslate="advance-study.lines.lines-number">Lines Selected per Plot:</label>
					</div>
					<div class="col-sm-6">
						<input type="number" class="ml-0 form-check-input" name="linesNumber" [(ngModel)]="selectedLinesNumber">
					</div>
				</div>
			</div>
			<div *ngIf="!linesCheck" class="form-group row">
				<div class="col-sm-6">
					<label class="col-form-label font-weight-bold" for="breedingMethod" jhiTranslate="advance-study.lines.variable">Choose a variate that defines the breeding method for each advance</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" name="lineSelectionVariable" id="lineSelectionVariable" [(ngModel)]="selectedLinesVariableId">
						<option *ngFor="let variable of selectionPlantVariables" [value]="variable.termId">
							<label>{{variable.name}}</label>
						</option>
					</select>
				</div>
			</div>
		</div>

		<!-- Bulking selection -->
		<div *ngIf="showBulkingSelection">
			<h4 jhiTranslate="advance-study.bulks.title"></h4>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="bulksCheck" (click)="onSelectPlotVariable($event)" [(ngModel)]="bulksCheck">
				<label class="col-form-label font-weight-bold" id="bulksCheck" for="bulksCheck" jhiTranslate="advance-study.bulks.description">All plots are selected</label>
			</div>
			<div *ngIf="!bulksCheck" class="form-group row">
				<div class="col-sm-6">
					<label class="col-form-label font-weight-bold" for="breedingMethod" jhiTranslate="advance-study.lines.variable">Choose a variate that defines the breeding method for each advance</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" name="lineSelectionBulkingVariable" id="lineSelectionBulkingVariable" [(ngModel)]="selectedPlotVariableId">
						<option *ngFor="let variable of selectionPlantVariables" [value]="variable.termId">
							<label>{{variable.name}}</label>
						</option>
					</select>
				</div>
			</div>
		</div>

		<!-- Repetition selection -->
		<div *ngIf="replicationsOptions.length > 0">
			<h4 jhiTranslate="advance-study.reps.title"></h4>
			<div class="form-group">
				<div *ngFor="let rep of replicationsOptions" class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" [(ngModel)]="rep.selected" (click)="toggleCheck(rep.selected)"
						   name="check-{{rep.index}}" id="check-{{rep.index}}">
					<label class="col-form-label font-weight-bold" for="check-{{rep.index}}">
						{{rep.index}}
					</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="checkbox" class="form-check-input" [(ngModel)]="checkAllReplications" (click)="toggleAll()" name="selectAllReps" id="selectAllReps"/>
					<span class="col-form-label font-weight-bold" for="selectAllReps" jhiTranslate="advance-study.reps.select.all">Select All</span>
				</div>
			</div>
		</div>

		<!-- Location Details -->
		<h4 jhiTranslate="advance-study.location.title"></h4>
		<div class="col-xs-12 col-md-12">
			<div class="tab-pane active container-fluid" role="tabpanel" aria-labelledby="location-tab" style="padding-left: 0px;">
				<table class="table table-striped table-bordered table-curved">
					<thead>
					<th><span jhiTranslate="advance-study.location.trial.instance">TRIAL_INSTANCE</span></th>
					<th><span jhiTranslate="advance-study.location.name">LOCATION_NAME</span></th>
					</thead>
					<tbody this.trialInstances>
					<tr *ngFor="let trialInstance of trialInstances">
						<td>{{trialInstance.instanceNumber}}</td>
						<td>{{trialInstance.locAbbr}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="back('study')">
		<span jhiTranslate="entity.action.back">Back</span>
	</button>
	<button (click)="preview()" [disabled]="!isValid() || isLoading" class="btn btn-primary" data-test="advanceStudyPreviewButton">
		<span *ngIf="isLoadingPreview" class="throbber throbber-btn"></span>
		<span jhiTranslate="advance.preview">Preview</span>
	</button>
	<button (click)="save()" [disabled]="!isValid() || isLoading" class="btn btn-primary" data-test="advanceStudyButton">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span jhiTranslate="advance.action">Advance</span>
	</button>
</div>
<jhi-alert></jhi-alert>
</div>
<div *ngIf="isPreview" >
	<div class="modal-body">
		<jhi-collapsible heading="{{translateService.instant('advance-preview.summary.title')}}">
			<div class="container-fluid">
				<table class="table table-striped table-bordered table-curved table-fixed" style="width: 40%">
					<thead>
						<th></th>
						<th><span jhiTranslate="advance-preview.summary.column">#</span></th>
					</thead>
					<tbody>
						<tr>
							<td><span jhiTranslate="advance-preview.summary.count.environment"></span></td>
							<td>{{selectedInstances.length}}</td>
						</tr>
						<tr>
							<td><span jhiTranslate="advance-preview.summary.count.reps"></span></td>
							<td>{{replicationNumber}}</td>
						</tr>
						<tr *ngIf="isPlotDataset()">
							<td><span jhiTranslate="advance-preview.summary.count.plots"></span></td>
							<td>{{totalItems}}</td>
						</tr>
						<tr *ngIf="isPlantDataset()">
							<td><span jhiTranslate="advance-preview.summary.count.plants"></span></td>
							<td>{{totalItems}}</td>
						</tr>
						<tr>
							<td><span jhiTranslate="advance-preview.summary.count.germplasm"></span></td>
							<td>{{totalItems}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</jhi-collapsible>
		<jhi-collapsible heading="{{translateService.instant('advance-preview.data.title')}}">
			<div class="table-responsive p-3" *ngIf="currentPagePreviewList">
				<table class="table table-striped table-bordered table-curved table-fixed" >
					<thead>
					<tr>
						<th scope="col">
							<input type="checkbox" tooltip="select current page"  [title]="'select current page'">
						</th>
						<th scope="col" >
							<span jhiTranslate="advance-preview.data.columns.environment"></span>
							<jhi-column-filter-inline [filter]="filters.environment"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th  *ngIf="isPlotDataset()" scope="col">
							<span jhiTranslate="advance-preview.data.columns.plotNumber"></span>
							<jhi-column-filter-inline [filter]="filters.plotNumber"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th  *ngIf="isPlantDataset()" scope="col" >
							<span jhiTranslate="advance-preview.data.columns.plantNumber"></span>
							<jhi-column-filter-inline [filter]="filters.plantNumber"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th scope="col">
							<span jhiTranslate="advance-preview.data.columns.entryNumber"></span>
							<jhi-column-filter-inline [filter]="filters.entryNumber"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th scope="col">
							<span jhiTranslate="advance-preview.data.columns.cross"></span>
							<jhi-column-filter-inline [filter]="filters.cross"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th scope="col" >
							<span jhiTranslate="advance-preview.data.columns.immediateSource"></span>
							<jhi-column-filter-inline [filter]="filters.immediateSource"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th scope="col">
							<span jhiTranslate="advance-preview.data.columns.breedingMethod"></span>
							<jhi-column-filter-inline [filter]="filters.breedingMethod"
													  (onApply)="applyFilters()"
													  (onReset)="applyFilters()">
							</jhi-column-filter-inline>
						</th>
						<th scope="col" >
							<span jhiTranslate="advance-preview.data.columns.gid"></span>
						</th>
						<th scope="col" >
							<span jhiTranslate="advance-preview.data.columns.designation"></span>
						</th>
					</tr>
					</thead>
					<tbody *ngIf="currentPagePreviewList.length else nodata">
					<tr *ngFor="let advancedGermplasm of currentPagePreviewList">
						<td><input type="checkbox" [value]="advancedGermplasm.previewRowNum" [checked]="true" (click)="toggleSelect($event, index, entry, true); $event.stopPropagation()"></td>
						<td>{{advancedGermplasm.trialInstance + "-" + advancedGermplasm.locationName}}</td>
						<td  *ngIf="isPlotDataset()">{{advancedGermplasm.plotNumber}}</td>
						<td  *ngIf="isPlantDataset()">{{advancedGermplasm.plantNumber}}</td>
						<td>{{advancedGermplasm.entryNumber}}</td>
						<td>{{advancedGermplasm.cross}}</td>
						<td>{{advancedGermplasm.immediateSource}}</td>
						<td>{{advancedGermplasm.breedingMethodAbbr}}</td>
						<td jhiTranslate="advance-preview.data.pending"></td>
						<td>{{advancedGermplasm.designation}}</td>
					</tr>
					</tbody>
				</table>
				<ng-template #nodata>
					<tbody>
						<tr>
							<td colspan="8" jhiTranslate="no.data"></td>
						</tr>
					</tbody>
				</ng-template>
				<div *ngIf="currentPagePreviewList && currentPagePreviewList.length">
					<div class="row">
						<div class="col">
							<div class="pagination-container">
								<div class="pagination-box pagination-box-left">
									<div>
										<jhi-item-count [page]="page" [total]="currentPageCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
									</div>
								</div>
								<div class="pagination-box">
									<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [disabled]="isLoading"
													[maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
								</div>
								<div class="pagination-box pagination-box-right">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</jhi-collapsible>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="exitPreview()">
			<span jhiTranslate="entity.action.back">Back</span>
		</button>
		<button (click)="save()" [disabled]="!isValid() || isLoading" class="btn btn-primary" data-test="advanceStudyButton">
			<span *ngIf="isLoading" class="throbber throbber-btn"></span>
			<span jhiTranslate="advance.action">Advance</span>
		</button>
	</div>
</div>
