<div class="modal-header" *ngIf="isModal">
	<h5 class="modal-title">{{title}}</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">&times;
	</button>
</div>
<div class="modal-body">
	<nav>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" jhiTranslate="ontology.variable-details.nav.detail"
				   [routerLink]="['details']" [routerLinkActive]="['active']" queryParamsHandling="merge"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" jhiTranslate="ontology.variable-details.nav.valid-values"
				   [routerLink]="['valid-values/']" [routerLinkActive]="['active']" queryParamsHandling="merge"></a>
			</li>
		</ul>
	</nav>
	<div class="tab-content p-3">
		<router-outlet></router-outlet>
		<jhi-alert></jhi-alert>
	</div>
</div>
