<div class="modal-header">
	<h4 class="modal-title font-weight-bold">
		<span jhiTranslate="germplasm-list.import.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			(click)="dismiss()">&times;
	</button>
</div>
<div class="modal-body">
	<div class="form-group row">
		<div class="col">
			<span jhiTranslate="template.download.description"></span>&nbsp;<a href (click)="export($event)" data-test="downloadImportTemplate" jhiTranslate="template.download.here"></a>.
		</div>
	</div>
	<div class="form-group row">
		<div class="col-1"></div>
		<div class ="col-md-10">
			<div class="alert alert-warning"  role="alert">
				<i class="fa fa-warning mr-3"></i>
				<span jhiTranslate="template.download.warning"></span>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-2"></div>
		<div class="col-md-8">
			<input type="file" class="custom-file-input" id="importFile" data-test="importFileInput"
				   (change)="onFileChange($event)" accept="{{selectedFileType}}">
			<label class="custom-file-label" #fileUpload for="importFile">
				<i class="fa fa-search"></i>&nbsp;<span jhiTranslate="germplasm-list.import.file.input.description"></span></label>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()" data-test="cancelImport">
		<span jhiTranslate="cancel"></span>
	</button>
	<button (click)="next()" class="btn btn-primary" [disabled]="isLoading" data-test="importFileNext">
		<span *ngIf="isLoading" class="throbber throbber-btn"></span>
		<span jhiTranslate="next"></span>
	</button>
</div>
