<!DOCTYPE html>
<html ng-app="ontology" xmlns:th="http://www.thymeleaf.org" data-om-crop-name="" data-th-attr="om-crop=${currentCrop}">

<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8"></meta>
	<title>{{'title' | translate}}</title>

	<link th:href="@{/controller/static/lib/angular-ui-select/angular-ui-select.min.css}" rel="stylesheet"></link>
	<link rel="stylesheet" th:href="@{/controller/static/lib/select2/select2.css}"></link>
	<link rel="stylesheet" th:href="@{/controller/static/lib/select2/select2-bootstrap.css}"></link>
	<link th:href="@{/controller/static/lib/styleGuide/bootstrap.min.css}" rel="stylesheet"></link>
	<link th:href="@{/controller/static/lib/styleGuide/styles.css}" rel="stylesheet"></link>
	<link th:href="@{/controller/static/css/ontology.css}" rel="stylesheet"></link>
</head>
<body class="om-ontology-manager" ng-controller="OntologyController as ctrl">

	<header>
		<h1>{{'title' | translate}}</h1>

		<button class="btn btn-default om-add-new-btn" ng-click="addNewSelection()">{{'button.addNew' | translate}}</button>
		<nav>
			<ol class="nav nav-tabs">
				<li role="presentation" class="active">
					<a href="#variables">
						{{'variables' | translate}}
					</a>
				</li>
				<li role="presentation">
					<a href="#properties">
						{{'properties' | translate}}
					</a>
				</li>
				<li role="presentation">
					<a href="#methods">
						{{'methods' | translate}}
					</a>
				</li>
				<li role="presentation">
					<a href="#scales">
						{{'scales' | translate}}
					</a>
				</li>
			</ol>
		</nav>
	</header>

	<div class="om-view" ng-view="ng-view"></div>

	<div om-mask-for-panel="panelName"></div>

	<om-panel om-panel-identifier="panelName" om-panel-small="">

		<h2>{{'addNew.title' | translate}}</h2>
		<nav class="list-group">
			<a href="#" class="list-group-item" ng-click="addNew($event, 'variable')">{{'addNew.variable.menuItem' | translate}}</a>
			<a href="#" class="list-group-item" ng-click="addNew($event, 'property')">{{'addNew.property.menuItem' | translate}}</a>
			<a href="#" class="list-group-item" ng-click="addNew($event, 'method')">{{'addNew.method.menuItem' | translate}}</a>
			<a href="#" class="list-group-item" ng-click="addNew($event, 'scale')">{{'addNew.scale.menuItem' | translate}}</a>
		</nav>
	</om-panel>

	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-route.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-messages.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-sanitize.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-ui-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-translate.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-translate-loader-static-files.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/ontology.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/* global angular */
	//<![CDATA[
		angular.injector(['ng', 'config']).get('configService').setCropName(/*[[${currentCrop}]]*/);
	//]]>
	</script>
</body>
</html>
