/*
Allow angular.js to be loaded in the body, hiding cloaked elements until
templates compile.  The !important is important given that there may be
other selectors that are more specific or come later and might alter display.
*/
[ng\:cloak],
[ng-cloak],
.ng-cloak {
	display: none !important;
}

/*
Class provided by angular-translate to hide the flicker of translation keys before
the translations are loaded. The class is removed as soon as the actual translations
have loaded.
*/
.translate-cloak {
	display: none !important;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0 10px;
}

ol {
	margin: 0;
	padding-left: 0;
}

.om-title {
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.om-ontology-manager {
	display: table;
	box-sizing: border-box;
}

.om-add-new-btn {
	float: right;
}

.om-add-new {
	list-style: none;
	margin: -1rem 0;

	li {
		padding: 8px;
		line-height: 1.42857;
		vertical-align: top;
		border-top: 1px solid #cfd7de;

		&:last-child {
			border-bottom: 1px solid #cfd7de;
		}

		&:hover {
			background-color: #f3f5f7;
			cursor: pointer;
		}
	}

	span {
		color: #6F889B;

		&:hover {
			text-decoration: underline;
		}
	}
}

.om-view {
	display: table-row;
	height: 100%;
	width: 100%;
}

.om-list-title {
	display: inline-block;
}

.om-list-throbber-wrapper {
	padding: 0.5rem;
	padding-left: 1.5rem;
}
