<!DOCTYPE html>
<html ng-app="ontology" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8"></meta>
	<title>Ontology Browser</title>

	<link th:href="@{/controller/static/css/ontology.css}" rel="stylesheet"></link>
</head>
<body class="om-ontology-manager" ng-controller="OntologyController as ctrl">
	<header class="om-header">
		<h1 class="om-title">Ontology Management</h1>
		<div class="om-nav-wrapper">
			<nav class="om-nav">
				<ol>
					<li class="om-nav-item">
						<a class="om-nav-item-link" href="#variables">
							Variables
						</a>
					</li>
					<li class="om-nav-item">
						<a class="om-nav-item-link" href="#properties">
							Properties
						</a>
					</li>
					<li class="om-nav-item">
						<a class="om-nav-item-link" href="#methods">
							Methods
						</a>
					</li>
					<li class="om-nav-item">
						<a class="om-nav-item-link" href="#scales">
							Scales
						</a>
					</li>
				</ol>
			</nav>
			<button class="om-add-new-button" ng-click="addNewSelection()">Add New</button>
		</div>
	</header>

	<div class="om-view" ng-view="ng-view"></div>

	<om-panel om-panel-identifier="panelName">
		<h3>Add New</h3>
		<ol>
			<li class="om-add-list-item"><a href="#" ng-click="addNew($event, 'variable')">Variable</a></li>
			<li class="om-add-list-item"><a href="#" ng-click="addNew($event, 'property')">Property</a></li>
			<li class="om-add-list-item"><a href="#" ng-click="addNew($event, 'method')">Method</a></li>
			<li class="om-add-list-item"><a href="#" ng-click="addNew($event, 'scale')">Scale</a></li>
		</ol>
	</om-panel>

	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/lib/angular-route.min.js}"></script>
	<script type="text/javascript" th:src="@{/controller/static/js/ontology.js}"></script>
</body>
</html>
