body {
	font-size: 16px;
}

ol {
	margin: 0;
	padding-left: 0;
}

.om-ontology-manager {
	margin: 1rem;
}

.om-header {
	border-bottom: 1px solid grey;
}

.om-title {
	margin: 0 0 2rem 0;
}

.om-nav {
	margin-bottom: 0.5rem;
}

.om-nav-item {
	display: inline;
	padding: 0 1rem 0 0;
}

.om-nav-item-link {
	text-decoration: none;
	font-size: 1.2rem;
}
