<div class="container">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold word-wrap"><span jhiTranslate="germplasm-details.header">Germplasm Details:</span> {{germplasm?.preferredName  | truncateWithEllipsis:MAX_NAME_DISPLAY_SIZE}} (GID: {{germplasm?.gid}})</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="clear()">&times;
			</button>
		</div>
	</div>
	<iframe [src]="safeUrl" style="border: 0" width="100%" height="850px"></iframe>
</div>




