<ui-select ng-show="editable()" name="{{name}}" ng-model="model[property]" theme="select2">
	<ui-select-match allow-clear="{{!!allowClear}}">{{$select.selected.name}}</ui-select-match>
	<ui-select-choices repeat="item as item in options | filter: {name: $select.search}">
		{{item.name}}
	</ui-select-choices>
</ui-select>

<div class="form-control-static" ng-hide="editable()">
	<div ng-hide="isHyperLink">{{model[property].name}}</div>
	<div ng-show="isHyperLink">
		<a ng-hide="editing" href="#" ng-click="showModelPanel($event)">{{model[property].name}}</a>
	</div>
</div>
