<div class="container">
	<div class="modal-header">
		<h4 class="modal-title font-weight-bold">
			<span jhitranslate="germplasm-import-updates.title">Import Germplasm Updates</span>
			<a href="{{helpLink}}" target="_blank"><i class="fa fa-question-circle bms-helpicon ml-2" aria-hidden="true"></i></a>
		</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="close()">&times;
		</button>
	</div>
	<div class="row form-group clearfix">
		<div class="col-xs-12 col-md-12">
		</div>
	</div>
	<div class="row form-group">
		<div class="col">
			<span jhiTranslate="template.download.description"></span>&nbsp;
			<a href (click)="export($event)" jhiTranslate="template.download.here" data-test="downloadTemplateLink"></a>.
			<span jhiTranslate="germplasm.import.description.extra"></span>&nbsp;<a target="_blank" [href]="templateHelpLink" jhiTranslate="template.download.here"></a>.
		</div>
	</div>
	<div class="row form-group add_top_padding" style="margin-bottom: 35px;">
		<div class="col-2"></div>
		<div class="col-md-8">
			<input type="file" class="custom-file-input" multiple="false" id="importFile" (change)="onFileChange($event)" accept="{{selectedFileType}}">
			<label class="custom-file-label" #fileUpload for="importFile"><i class="fa fa-search"></i><span jhiTranslate="germplasm-manager.file.import.description"></span></label>
		</div>
		<span *ngIf="isProcessing" style="margin-left: 10px;" class="throbber throbber-2x"></span>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" [disabled]="isProcessing ? 'disabled' : null" data-dismiss="modal" (click)="close()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button (click)="import()" class="btn btn-primary" [disabled]="fileName === '' || isProcessing ? 'disabled' : null"
				data-test="importGermplasmUpdateButton">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.import">Import</span>
		</button>
	</div>
</div>
