<div class="tab-pane active container-fluid" role="tabpanel" aria-labelledby="germplasm-search-tab">
	<jhi-column-filter [request]="request" [resultSearch]="resultSearch" [filters]="filters"></jhi-column-filter>
	<br/>
	<div class="row">
		<div class="col">
			<div style="float: right">
				<button class="btn btn-light" #colVisPopOver="ngbPopover" [ngbPopover]="columnvisibility" [placement]="['bottom-right']" [autoClose]="'outside'">
					<i class="fa fa-th" aria-hidden="true"></i>
				</button>
			</div>
			<ng-template #columnvisibility>
				<div id="columnVisibility">
					<jhi-col-vis-button [colName]="'gid'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.gid"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'groupId'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.groupId"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'names'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.names"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'methodName'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.methodName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'availableBalance'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.availableBalance"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'unit'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.unit"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'lotCount'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.lotCount"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'pedigreeString'" [hiddenColumns]="hiddenColumns" (click)="colVisPopOver.close()"><span jhiTranslate="search-germplasm.column.pedigreeString"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'germplasmPeferredId'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['germplasmPeferredId'], 'PREFERRED ID')"><span jhiTranslate="search-germplasm.column.germplasmPeferredId"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'germplasmPeferredName'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['germplasmPeferredName'], 'PREFERRED NAME')"><span jhiTranslate="search-germplasm.column.germplasmPeferredName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'germplasmDate'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['germplasmDate'], 'GERMPLASM DATE')"><span jhiTranslate="search-germplasm.column.germplasmDate"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'locationName'" [hiddenColumns]="hiddenColumns"><span jhiTranslate="search-germplasm.column.locationName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'methodCode'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['methodCode'], 'METHOD ABBREV')"><span jhiTranslate="search-germplasm.column.methodCode"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'methodNumber'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['methodNumber'], 'METHOD NUMBER')"><span jhiTranslate="search-germplasm.column.methodNumber"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'methodGroup'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['methodGroup'], 'METHOD GROUP')"><span jhiTranslate="search-germplasm.column.methodGroup"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'femaleParentGID'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['femaleParentGID'], 'FGID')"><span jhiTranslate="search-germplasm.column.femaleParentGID"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'femaleParentPreferredName'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['femaleParentPreferredName'], 'CROSS-FEMALE PREFERRED NAME')"><span jhiTranslate="search-germplasm.column.femaleParentPreferredName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'maleParentGID'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['maleParentGID'], 'MGID')"><span jhiTranslate="search-germplasm.column.maleParentGID"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'maleParentPreferredName'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['maleParentPreferredName'], 'CROSS-MALE PREFERRED NAME')"><span jhiTranslate="search-germplasm.column.maleParentPreferredName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'groupSourceGID'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['groupSourceGID'], 'GROUP SOURCE GID')"><span jhiTranslate="search-germplasm.column.groupSourceGID"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'groupSourcePreferredName'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['groupSourcePreferredName'], 'GROUP SOURCE')"><span jhiTranslate="search-germplasm.column.groupSourcePreferredName"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'immediateSourceGID'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['immediateSourceGID'], 'IMMEDIATE SOURCE GID')"><span jhiTranslate="search-germplasm.column.immediateSourceGID"></span></jhi-col-vis-button>
					<jhi-col-vis-button [colName]="'immediateSourcePreferredName'" [hiddenColumns]="hiddenColumns" (onToggle)="toggleAdditionalColumn(!hiddenColumns['immediateSourcePreferredName'], 'IMMEDIATE SOURCE')"><span jhiTranslate="search-germplasm.column.immediateSourcePreferredName"></span></jhi-col-vis-button>
				</div>
			</ng-template>
			<div class="form-group form-inline">
				<span>Total Entries:</span>
				<span style="padding-left: 5px;" class="font-weight-bold"> {{totalItems}}</span>
				<span style="margin-left: 20px;">Selected:</span>
				<span style="padding-left: 5px;" class="font-weight-bold"> {{allItemsPerPages ? totalItems : selectedItems.length}}</span>
				<!-- TODO Solution for the SELECT-ALL-PERFORMANCE-PROBLEM. Hide for the moment
				<div class="form-check form-check-inline" style="margin-left: 20px;">
					<input type="checkbox" tooltip="Select all pages" [checked]="allItemsPerPages" (click)="onSelectAllPages(allItemsPerPages)" id="check-select-all" name="check-select-all">
					<label class="form-check-label" for="check-select-all" style="padding-left: 5px;">
						Select all pages
					</label>
				</div>
				-->
				<div style="margin-left: 10px;">
					<a href (click)="onClearSort($event)" jhiTranslate="global.clear-sort"></a>
				</div>
				<span *ngIf="isLoading" class="throbber throbber-2x"></span>
			</div>
		</div>
	</div>
	<br/>
	<div class="table-responsive" *ngIf="germplasmList">
		<table class="table table-striped table-bordered table-curved" *ngIf="germplasmList.length else nodata">
			<thead>
			<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="sort.bind(this)">
				<th *ngIf="!allItemsPerPages"><input type="checkbox" tooltip="select current page" [checked]="isAllPageSelected()" (click)="onSelectAllPage()" [title]="'select current page'"></th>
				<th jhiSortBy="GID" [hidden]="hiddenColumns['gid']"><span jhiTranslate="search-germplasm.column.gid">GID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="GROUP ID" [hidden]="hiddenColumns['groupId']"><span jhiTranslate="search-germplasm.column.groupId">GROUP ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="NAMES" [hidden]="hiddenColumns['names']"><span jhiTranslate="search-germplasm.column.names">NAMES</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="AVAILABLE" [hidden]="hiddenColumns['availableBalance']"><span jhiTranslate="search-germplasm.column.availableBalance">AVAILABLE BALANCE</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="LOT_UNITS" [hidden]="hiddenColumns['unit']"><span jhiTranslate="search-germplasm.column.unit">UNIT</span> <span class="fa fa-sort"></span></th>
				<th [hidden]="hiddenColumns['lotCount']"><span jhiTranslate="search-germplasm.column.lotCount">LOTS</span></th>
				<th [hidden]="hiddenColumns['pedigreeString']"><span jhiTranslate="search-germplasm.column.pedigreeString">CROSS</span></th>
				<th jhiSortBy="PREFERRED ID" [hidden]="hiddenColumns['germplasmPeferredId']"><span jhiTranslate="search-germplasm.column.germplasmPeferredId">PREFERRED ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="PREFERRED NAME" [hidden]="hiddenColumns['germplasmPeferredName']"><span jhiTranslate="search-germplasm.column.germplasmPeferredName">PREFERRED NAME</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="GERMPLASM DATE" [hidden]="hiddenColumns['germplasmDate']"><span jhiTranslate="search-germplasm.column.germplasmDate">GERMPLASM DATE</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="LOCATIONS" [hidden]="hiddenColumns['locationName']"><span jhiTranslate="search-germplasm.column.locationName">LOCATION NAME</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="METHOD NAME" [hidden]="hiddenColumns['methodName']"><span jhiTranslate="search-germplasm.column.methodName">METHOD NAME</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="METHOD ABBREV" [hidden]="hiddenColumns['methodCode']"><span jhiTranslate="search-germplasm.column.methodCode">METHOD CODE</span><span class="fa fa-sort"></span></th>
				<th jhiSortBy="METHOD NUMBER" [hidden]="hiddenColumns['methodNumber']"><span jhiTranslate="search-germplasm.column.methodNumber">METHOD NUMBER</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="METHOD GROUP" [hidden]="hiddenColumns['methodGroup']"><span jhiTranslate="search-germplasm.column.methodGroup">METHOD GROUP</span> <span class="fa fa-sort"></span></th>
				<th [hidden]="hiddenColumns['femaleParentGID']"><span jhiTranslate="search-germplasm.column.femaleParentGID">FEMALE PARENT PREFERRED ID</span></th>
				<th [hidden]="hiddenColumns['femaleParentPreferredName']"><span jhiTranslate="search-germplasm.column.femaleParentPreferredName">FEMALE PARENT PREFERRED NAME</span></th>
				<th [hidden]="hiddenColumns['maleParentGID']"><span jhiTranslate="search-germplasm.column.maleParentGID">MALE PARENT PREFERRED ID</span></th>
				<th [hidden]="hiddenColumns['maleParentPreferredName']"><span jhiTranslate="search-germplasm.column.maleParentPreferredName">MALE PARENT PREFERRED NAME</span></th>
				<th jhiSortBy="GROUP SOURCE GID" [hidden]="hiddenColumns['groupSourceGID']"><span jhiTranslate="search-germplasm.column.groupSourceGID">GROUP SOURCE ID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="GROUP SOURCE" [hidden]="hiddenColumns['groupSourcePreferredName']"><span jhiTranslate="search-germplasm.column.groupSourcePreferredName">GROUP SOURCE PREFERRED NAME</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="IMMEDIATE SOURCE GID" [hidden]="hiddenColumns['immediateSourceGID']"><span jhiTranslate="search-germplasm.column.immediateSourceGID">IMMEDIATE SOURCE GID</span> <span class="fa fa-sort"></span></th>
				<th jhiSortBy="IMMEDIATE SOURCE" [hidden]="hiddenColumns['immediateSourcePreferredName']"><span jhiTranslate="search-germplasm.column.immediateSourcePreferredName">IMMEDIATE SOURCE PREFERRED NAME</span> <span class="fa fa-sort"></span></th>
				<ng-container *ngIf="germplasmList[0]">
					<th *ngFor="let entry of germplasmList[0].attributeTypesValueMap | keyvalue" jhiSortBy="{{entry.key}}"><span>{{entry.key}}</span><span class="fa fa-sort"></span></th>
				</ng-container>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let germplasm of germplasmList ;trackBy: trackId">
				<td *ngIf="!allItemsPerPages"><input type="checkbox" [checked]="isSelected(germplasm)" (click)="toggleSelect(germplasm)"></td>
				<td [hidden]="hiddenColumns['gid']"><a [routerLink]="['/', { outlets: { popup: 'germplasm/' + germplasm.gid } }]" [queryParams]="{designation: germplasm.germplasmPeferredName}">{{germplasm.gid}}</a></td>
				<td [hidden]="hiddenColumns['groupId']"><a *ngIf="germplasm.groupId" [routerLink]="['/', { outlets: { popup: 'germplasm/' + germplasm.groupId } }]">{{germplasm.groupId}}</a><span *ngIf="!germplasm.groupId">-</span></td>
				<td [hidden]="hiddenColumns['names']"><a [routerLink]="['/', { outlets: { popup: 'germplasm/' + germplasm.gid } }]" [queryParams]="{designation: germplasm.germplasmPeferredName}">{{germplasm.names}}</a></td>
				<td [hidden]="hiddenColumns['availableBalance']">{{germplasm.availableBalance}}</td>
				<td [hidden]="hiddenColumns['unit']">{{germplasm.unit}}</td>
				<td [hidden]="hiddenColumns['lotCount']">{{germplasm.lotCount}}</td>
				<td [hidden]="hiddenColumns['pedigreeString']">{{germplasm.pedigreeString}}</td>
				<td [hidden]="hiddenColumns['germplasmPeferredId']">{{germplasm.germplasmPeferredId}}</td>
				<td [hidden]="hiddenColumns['germplasmPeferredName']">{{germplasm.germplasmPeferredName}}</td>
				<td [hidden]="hiddenColumns['germplasmDate']">{{germplasm.germplasmDate}}</td>
				<td [hidden]="hiddenColumns['locationName']"><a [routerLink]="['/', { outlets: { popup: 'location/' + germplasm.locationId } }]">{{germplasm.locationName}}</a></td>
				<td [hidden]="hiddenColumns['methodName']"><a [routerLink]="['/', { outlets: { popup: 'breeding-method/' + germplasm.breedingMethodId } }]">{{germplasm.methodName}}</a></td>
				<td [hidden]="hiddenColumns['methodCode']">{{germplasm.methodCode}}</td>
				<td [hidden]="hiddenColumns['methodNumber']">{{germplasm.methodNumber}}</td>
				<td [hidden]="hiddenColumns['methodGroup']">{{germplasm.methodGroup}}</td>
				<td [hidden]="hiddenColumns['femaleParentGID']">{{germplasm.femaleParentGID}}</td>
				<td [hidden]="hiddenColumns['femaleParentPreferredName']">{{germplasm.femaleParentPreferredName}}</td>
				<td [hidden]="hiddenColumns['maleParentGID']">{{germplasm.maleParentGID}}</td>
				<td [hidden]="hiddenColumns['maleParentPreferredName']">{{germplasm.maleParentPreferredName}}</td>
				<td [hidden]="hiddenColumns['groupSourceGID']">{{germplasm.groupSourceGID}}</td>
				<td [hidden]="hiddenColumns['groupSourcePreferredName']">{{germplasm.groupSourcePreferredName}}</td>
				<td [hidden]="hiddenColumns['immediateSourceGID']">{{germplasm.immediateSourceGID}}</td>
				<td [hidden]="hiddenColumns['immediateSourcePreferredName']">{{germplasm.immediateSourcePreferredName}}</td>
				<td *ngFor="let entry of germplasm.attributeTypesValueMap | keyvalue">{{entry.value}}</td>
			</tr>
			</tbody>
		</table>
		<ng-template #nodata>
			<table class="table table-striped table-bordered table-curved">
				<thead>
				<tr>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><span jhiTranslate="no.data"></span>&nbsp;<span style="font-style: italic" jhiTranslate="search-germplasm.no.data"></span></td>
				</tr>
				</tbody>
			</table>
		</ng-template>
	</div>
	<div *ngIf="germplasmList && germplasmList.length">
		<div class="row">
			<div class="col">
				<div class="pagination-container">
					<div class="pagination-box pagination-box-left">
						<div>
							<jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
						</div>
					</div>
					<div class="pagination-box">
						<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [disabled]="isLoading"
										[maxSize]="5" [rotate]="true" (pageChange)="loadPage(page)"
										[boundaryLinks]="isFullPaginationEnabled()" [ellipses]="isFullPaginationEnabled()"
						></ngb-pagination>
					</div>
					<div class="pagination-box pagination-box-right">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
