table > thead > tr > th {
	cursor: pointer;
}
table > thead > tr > th.sort::after {
    font-family: 'Glyphicons Halflings';
    position: relative;
    top: 2px;
    left: 9px;
}
table > thead > tr > th.sort.desc::after {
    content: "\e253";
}

table > thead > tr > th.sort.asc::after {
    content: "\e252";
}