<app-dialog [visible]="active" [title]="'Assign role'" (onClose)="cancel()">
	<div *ngIf="active">
		<div class="modal-body">
			<form class="form-horizontal" #userRoleForm="ngForm">
				<div class="form-group">
					<div class="col-sm-12">
						<span class="mandatory-asterisk"></span> Indicates a mandatory field when field is enabled
					</div>
				</div>
				<div class="col-sm-12"><br></div>
				<div class="row form-group required">
					<div class="col-md-3" style="padding-left: 25px;">
						<label class="control-label pull-right">Role type</label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select class="form-control" id="roleTypeCombo" [(ngModel)]="roleTypeSelected" name="roleTypeSelected" (ngModelChange)="changeRole()" name="roleTypeSelected">
							<option value="">Please select a role type</option>
							<option *ngFor="let roleType of roleTypes" [ngValue]="roleType.id">{{roleType.name}}</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3" style="padding-left: 25px;">
						<label class="control-label pull-right">Role name<span class="mandatory-asterisk"></span></label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select class="form-control" id="roleNameCombo" [(ngModel)]="roleSelected" [disabled]="isRoleNameComboDisable()" name="roleSelected">
							<option value="">Please select a role</option>
							<option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3" style="padding-left: 25px;">
						<label class="control-label pull-right">Crop<span class="mandatory-asterisk"></span></label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select class="form-control" id="cropCombo" [(ngModel)]="cropSelected" (ngModelChange)="changeCrop()" [disabled]="isCropComboDisable()" name="cropSelected">
							<option value="">Please select a crop</option>
							<option *ngFor="let crop of crops" [ngValue]="crop">{{crop.cropName}}</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-3" style="padding-left: 25px;">
						<label class="control-label pull-right">Program<span class="mandatory-asterisk"></span></label>
					</div>
					<div class="col-xs-7 col-md-7">
						<select class="form-control" id="programCombo" [(ngModel)]="programSelected" [disabled]="isProgramComboDisable()" name="programSelected">
							<option value="">Please select a program</option>
							<option *ngFor="let program of programs" [ngValue]="program">{{program.name}}</option>
						</select>
					</div>
				</div>
				<div [class]="errorClass" role="alert" *ngIf="errorUserRoleMessage">Errors: {{errorUserRoleMessage}}</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" (click)="cancel()">Cancel
			</button>
			<button type="button" class="btn btn-primary" (click)="assignRole()" [disabled]="isAssignRoleButtonDisable()" aria-hidden="true">Assign role
			</button>
		</div>
	</div>
</app-dialog>