<section>
  <div class="om-panel-content">
      <button class="btn btn-default om-add-new-btn form-group pull-right"
              (click)="showNewUserForm()">Add user
      </button>
  </div>
  <div class="om-panel-header">
        <h2 class="om-panel-title ">
            Manage users</h2>
      <div>Click a <strong>User name</strong> to inspect or edit their personal information.</div>
  </div>
  <br/>
    <div class="row">
        <div class="col-xs-12">
            <div id="filters" class="form-inline">
                <div class="form-group">
                  <label class="">Status: </label>
                   &nbsp;
                  <select class="form-control" name="active"
                      [(ngModel)]="table.searchValue.active">
                      <option value="all">All</option>
                      <option value="true">Active</option>
                      <option value="false">Inactive</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="">Role: </label>
                  &nbsp;
                    <select class="form-control" name="role" [(ngModel)]="table.searchValue.roleNames">
                    <option value="undefined">All</option>
                    <option  *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12">
            <span class="throbber throbber-lg" *ngIf="loading"></span>
            <table class="table table-striped" *ngIf="!loading">
                <thead>
                    <tr>
                        <th [ngClass]="{ sort: isSorted('username'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('username')">User Name</th>
                        <th [ngClass]="{ sort: isSorted('firstName'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('firstName')">First Name</th>
                        <th [ngClass]="{ sort: isSorted('lastName'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('lastName')">Last Name</th>
                        <th [ngClass]="{ sort: isSorted('email'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('email')">Email</th>
                        <th>Crop</th>
                        <th>Roles</th>
                        <th [ngClass]="{ sort: isSorted('active'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('active')">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!table.totalFilteredRows" class="clickable-row">
                        <td colspan="7" class="text-center">No records found.</td>
                    </tr>
                    <tr *ngFor="let user of table.itemsOnCurrentPage">
                        <td *ngIf="hasSuperAdminRole(user.userRoles)"> {{user.username}} </td>
                        <td *ngIf="!hasSuperAdminRole(user.userRoles)">
                          <a href="javascript:void(0)" (click)="showEditUserForm(user)"> {{user.username}} </a>
                        </td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <span *ngIf="user.crops.length === crops.length" class="site-admin-badge">All crops</span>
                            <span *ngIf="user.crops.length !== crops.length && user.crops.length > 0" >
                                <span *ngIf="user.crops[0]" class="site-admin-badge">{{user.crops[0].cropName}}</span>
                                <span *ngIf="user.crops.length > 1"
                                      [title]="getCropsTitleFormat(user.crops)"
                                      style="padding-left: 5px; color: #428bca;"> and {{user.crops.length - 1}} more</span>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="(user.userRoles | dedupRoleNames)">
                                <span *ngIf="(user.userRoles | dedupRoleNames)[0]" class="site-admin-badge">{{(user.userRoles | dedupRoleNames)[0]}}</span>
                                <span *ngIf="(user.userRoles | dedupRoleNames).length > 1"
                                      [title]="getRoleNamesTitleFormat((user.userRoles | dedupRoleNames))"
                                      style="padding-left: 5px; color: #428bca;"> and {{(user.userRoles | dedupRoleNames).length - 1}} more</span>
                            </span>
                        </td>
                        <td *ngIf="hasSuperAdminRole(user.userRoles) && user.active === true">Active</td>
                        <td *ngIf="hasSuperAdminRole(user.userRoles) && user.active === false">Inactive</td>
                        <td *ngIf="!hasSuperAdminRole(user.userRoles)">
                          <a href="javascript:void(0)" *ngIf="user.active === true" (click)="showUserStatusConfirmPopUp(user)">Deactivate</a>
                          <a href="javascript:void(0)" *ngIf="user.active === false" (click)="showUserStatusConfirmPopUp(user)">Activate</a>
                        </td>
                    </tr>
                    <div class="popup">
                      <app-dialog [(visible)]="showConfirmStatusDialog" [title]="confirmStatusTitle" (onClose)="closeUserStatusConfirmPopUp()">
                          <div class="modal-body">
                              <form class="form-horizontal">
                                  <div class="popup-center-text">
                                      {{confirmMessage}}
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeUserStatusConfirmPopUp()">Cancel</button>
                              <button type="button" class="btn btn-primary" (click)="changedActiveStatus()">Accept</button>
                          </div>
                      </app-dialog>
                    </div>
                    <div class="popup">
                        <notification [(visible)]="showErrorNotification" title="Error" [classes]="'error-notify'">
							<p>{{errorServiceMessage}}</p>
                        </notification>
                    </div>
                 </tbody>
            </table>
        </div>
    </div>
    <pagination [maxPageIndex]="table.maxPageIndex"
                (pageNumberChanged)="table.currentPageIndex = $event">
    </pagination>
</section>
<notification [(visible)]="message" title="Success" (visibleChange)="message = ''" >
    {{message}}
</notification>
