<app-dialog [(visible)]="active" [title]="dialogTitle" (onClose)="cancel()">
<div *ngIf="active">
    <div class="modal-body">
        <form class="form-horizontal" #form="ngForm" >
            <div class="form-group">
                <div class="col-sm-12">
                    <span class="mandatory-asterisk"></span> Indicates a mandatory field
                </div>
            </div>
            <div class="form-group required has-inline-form-controls" >
                <div [class.has-feedback]="!(firstName?.valid || firstName?.pristine) || !(lastName?.valid || lastName?.pristine)"
                    [class.has-error]="!(firstName?.valid || firstName?.pristine) || !(lastName?.valid || lastName?.pristine)"
                    class="col-sm-3 ">
                    <label for="firstName" class="control-label pull-right" >Name</label>
                </div>
                <div class="col-sm-4" [class.has-feedback]="!(firstName?.valid || firstName?.pristine)" [class.has-error]="!(firstName?.valid || firstName?.pristine)">
                    <input type="text" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" required name="firstName" id="firstName"
                        placeholder="First Name" maxlength="20">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                </div>
                <div class="col-sm-5" [class.has-feedback]="!(lastName?.valid || lastName?.pristine)" [class.has-error]="!(lastName?.valid || lastName?.pristine)">
                    <input type="text" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel" required name="lastName" id="lastName"
                        placeholder="Last Name" maxlength="50">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                </div>
            </div>
            <div class="form-group required" [class.has-feedback]="!(username?.valid || username?.pristine)" [class.has-error]="!(username?.valid || username?.pristine)">
                <label for="username" class="col-sm-3 control-label">username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="model.username" #username="ngModel" required name="username" id="username"
                           [pattern]="EMAIL_LOCAL_PART_REGEX"
                           title="username field only accepts letters, numbers and special characters - _ . (e.g. user_name, user.name, user-name.company)"
                           placeholder="username" maxlength="30">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                </div>
            </div>
            <div class="form-group required" [class.has-feedback]="!(email?.valid || email?.pristine)" [class.has-error]="!(email?.valid || email?.pristine)">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" validateEmail name="email" id="email"
                        placeholder="Email" maxlength="255">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                </div>
            </div>
			<div class="form-group required" [class.has-feedback]="!model.crops?.length" [class.has-error]="!model.crops?.length">
                <label for="userCrops" class="col-sm-3 control-label">Crops</label>
                <div class="col-sm-9">
                    <select2 required id="userCrops" name="userCrops"
                             [data]="crops | toSelect2OptionData"
                             [options]="select2Options"
                             [value]="model.crops | toSelect2OptionId"
                             [width]="'100%'"
                             (valueChanged)="onChangeCrop($event)"></select2>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
					<label>
						<input type="checkbox" id="selectAllCrops" [checked]="model.crops.length === crops.length"  (click)="onSelectAllCrops($event)" />
						Select all
					</label>
                </div>
            </div>
            <div class="form-group">
                <label for="userRoles" class="col-sm-3 control-label">Role(s)</label>
                <div class="col-sm-9">
                    <div>
                        <a (click)="AssignRole()">+ Assign role</a>
                    </div>
                    <div *ngIf="model.userRoles?.length > 0" style="overflow-x: auto">
                        <table id="userRoles" class="table table-striped">
                            <thead>
                            <th>Role name</th>
                            <th>Role type</th>
                            <th>Crop</th>
                            <th>Program</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let userRole of model.userRoles">
                                <td>{{userRole.role.name}}</td>
                                <td>{{userRole.role.type}}</td>
                                <td>{{userRole.crop?.cropName}}</td>
                                <td>{{userRole.program?.name}}</td>
                                <td><a href="javascript:void(0)" (click)="showDeleteUserRoleConfirmPopUp(userRole)"><span class="glyphicon glyphicon-remove" style="color:red"></span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group required">
                <label for="status" class="col-sm-3 control-label">User status</label>
                <div class="col-sm-9">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsStatus" [(ngModel)]="model.status" id="statuson" value="true" checked>
                            Active
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsStatus"  [(ngModel)]="model.status" id="statusoff" value="false">
                            Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label *ngIf="!isEditing">
                            <input type="checkbox" [(ngModel)]="sendMail" name="sendMail"> Send an invitation email for the user to set their password
                        </label>
                        <label *ngIf="isEditing">
                            <input type="checkbox" [(ngModel)]="sendMail" name="sendMail"> Send an email for the user to reset their password
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="sendingEmail">
        <span class="throbber throbber-lg"></span>
        </div>
        <div class="popup">
            <app-dialog [(visible)]="showDeleteUserRoleConfirmPopUpDialog" [title]="modalTitle" (onClose)="closeUserRoleDeleteConfirmPopUp()" >
                <div class="modal-body">
                    <div class="separator"></div>
                    <form class="form-horizontal">
                        <div class="popup-center-text">
                            {{modalMessage}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeUserRoleDeleteConfirmPopUp()">No</button>
                    <button type="button" class="btn btn-primary" (click)="deleteUserRole()">Yes</button>
                </div>
            </app-dialog>
        </div>
        <div [class]="errorClass" role="alert" *ngIf="errorUserMessage">Errors: {{errorUserMessage}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid(form)" (click)="addUser()" *ngIf="!isEditing && !userSaved">Add user</button>
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid(form)" (click)="editUser()" *ngIf="isEditing && !userSaved">Update user</button>
        <button type="submit" class="btn btn-success" [disabled]="!isFormValid(form)" *ngIf="userSaved">User saved!</button>
    </div>
</div>
</app-dialog>