<app-dialog [visible]="modalContext.popupVisible['assign-roles']" [title]="'Assign role'">
	<div *ngIf="active">
		<div class="modal-body">
			<div class="row form-group">
				<div class="col-xs-4 col-md-4">
					<span class="mandatory-asterisk"></span> Indicates a mandatory field
				</div>
			</div>
			<div class="col-sm-12"><br></div>
			<div class="row form-group">
				<div class="col-xs-3 col-md-3" style="padding-left: 25px;">
					<label class="control-label add_top_padding label-bold">Role type:<span class="mandatory-asterisk"></span></label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" id="roleTypeCombo" [(ngModel)]="roleTypeSelected" (ngModelChange)="changeRole()">
						<option value=0>Please select a role type</option>
						<option *ngFor="let roleType of roleTypes" [ngValue]="roleType.id">{{roleType.name}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-3 col-md-3" style="padding-left: 25px;">
					<label class="control-label add_top_padding label-bold">Role name:<span class="mandatory-asterisk"></span></label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" id="roleNameCombo" [(ngModel)]="roleSelected" [disabled]="isRoleNameComboDisable">
						<option value="">Please select a role</option>
						<option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-3 col-md-3" style="padding-left: 25px;">
					<label class="control-label add_top_padding label-bold">Crop:<span class="mandatory-asterisk"></span></label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" id="cropCombo" [(ngModel)]="cropSelected" (ngModelChange)="changeCrop()" [disabled]="isCropComboDisable">
						<option value="">Please select a crop</option>
						<option *ngFor="let crop of crops" [ngValue]="crop">{{crop.cropName}}</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-3 col-md-3" style="padding-left: 25px;">
					<label class="control-label add_top_padding label-bold">Program:<span class="mandatory-asterisk"></span></label>
				</div>
				<div class="col-xs-7 col-md-7">
					<select class="form-control" id="programCombo" [(ngModel)]="programSelected" [disabled]="isProgramComboDisable">
						<option value="">Please select a program</option>
						<option *ngFor="let program of programs" [ngValue]="program">{{program.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" (click)="cancel()">Cancel
			</button>
			<button type="button" class="btn btn-primary" (click)="assignRole()" aria-hidden="true">Assign role
			</button>
		</div>
	</div>
</app-dialog>