<jhi-app-modal modalId="{{modalId}}" modalTitle="{{modalTitle}}" modalSize="small" closebtn="true" (onClose)="close()">
	<div class="modal-body">
		<div class="separator"></div>
		<div class="row">
			<br>
			<div class="col-xs-offset-1 col-xs-11 col-md-offset-1 col-md-11">
				<label class="control-label">{{modalMessage}}</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="proceed()" aria-hidden="true">Yes
		</button>
		<button type="button" class="btn btn-default" (click)="close()">No
		</button>
	</div>
</jhi-app-modal>