<div *ngIf="isOpen" class="modal-backdrop fade" [ngClass]="{ 'in' : animate }"></div>
<div *ngIf="isOpen" class="modal fade" [ngClass]="{ 'in' : animate }" id="{{modalId}}" tabindex="-1" role="dialog"
     aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-{{modalSize}}">
            <div class="modal-body">
                <div class="row form-group-lg">
                    <div class="col-md-11">
                        <label class="modal-title fbk-modal-title" id="heading-modal">{{modalTitle}}</label>
                    </div>
                    <div class="col-md-1">
                        <button *ngIf="closebtn" type="button" class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal"
                                aria-hidden="true" (click)="close()"></button>
                    </div>
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>