<div class="tags-wrapper">
	<label for="searchInput">{{label}}</label>

	<div class="tags-cloud">
		<span class="tag" ng-repeat="selectedTag in selectedTags">
			<span class="tagName">{{selectedTag}}</span>
			<span>
				&nbsp;
				<span class="cross" ng-click="removeTag($index)">x</span>
			</span>
		</span>
		<input id="searchInput" class="searchInput" type="text" placeholder="{{'multiSelect.placeholder' | translate}}" ng-keydown="checkKeyDown($event)" ng-model="searchText" ng-change="search()"/>
	</div>

	<ul class="suggestions-list">
		<li class="blockSpan" ng-repeat="suggestion in suggestions" ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active: selectedIndex === $index}">{{suggestion}}</li>
	</ul>
</div>
