@import url(../reindeer/styles.css);

.v-panel-content-gcp-login > div {
    background-image: url(images/login.png);
    background-repeat: no-repeat;
    background-color: transparent;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel {
	background-color: rgb(204,213,173)
}

.v-splitpanel-vsplitter-gcp-workbench-vsplit-panel-locked {
	height: 0px !important;
}

.v-splitpanel-hsplitter-gcp-workbench-content-split-panel-locked {
	width: 0px !important;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel {
	background-color: rgb(233,233,233)
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-verticallayout {
	margin-top: 20px;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel {
	background-color: white;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout div.v-button span.v-button-wrap span.v-button-caption {
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 5px;
	color: black;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout
div div div div.v-horizontallayout div div div div.v-label-undef-w {
	position: relative;
	bottom: 3px;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout div.v-button span.v-button-wrap span.v-button-caption:hover {
	text-decoration: underline;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel
div.v-verticallayout div div div div.v-horizontallayout div div div div.v-horizontallayout
div div div div.v-button span.v-button-wrap span.v-button-caption {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding-right: 5px;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel
div.v-verticallayout div div div div.v-horizontallayout div div div div.v-horizontallayout
div div div div.v-button span.v-button-wrap span.v-button-caption:hover {
	text-decoration: underline;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel
div.v-verticallayout div div div div.v-horizontallayout div div div div.v-horizontallayout div div div div.v-label-undef-w {
	position: relative;
	bottom: 2px;
}


.gcp-window-title {
    font-size: 20px;
	color: rgb(68,72,55);
}

.gcp-window-title H1:first-child {
	text-transform: uppercase;
	font-weight: normal;
    font-size: 24px;
	margin-left: 20px;	
	color: rgb(68,72,55);
}

.gcp-window-title H1 {
	text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(68,72,55);
}

.gcp-window-title H2 {
    font-size: 14px;
    font-weight: normal;
    display: inline-block; 
	color: rgb(128,134,106);
}


.gcp-content-title {
    font-size: 16px;
    text-transform: uppercase;
}

.gcp-section-title {
    font-size: 12px;
    text-transform: uppercase;
}

.gcp-section-title-large {
    font-size: 16px;

}

.gcp-form-title {
    font-weight: bold;
}

.gcp-mars-workflow-step {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    
    /* rounded border */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid;
}

.v-verticallayout-gcp-mars-workflow-step
        .v-verticallayout-margin {
    padding-top:    10px;
}

.gcp-hand-cursor {
    cursor: pointer;
}

/* add support for multi-line buttons */
.v-button-multiline,.v-button-caption {
    white-space: pre;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal,.v-select-option {
    display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
    white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal,.v-select-option.v-radiobutton {
    align-bottom: 10px;
}

.addTopSpace {
    margin-top: 10px;
    margin-left: 10px
}

.v-table-row-project-table, .v-table-cell-content-project-table {
    cursor: pointer;
}

.v-table-row-gcp-highlight, .v-table-cell-content-gcp-highlight {
    cursor: pointer;
    background: #dfffcf;
}

.v-table-row-gcp-selected-project, .v-table-cell-content-gcp-selected-project {
    cursor: pointer;
    background: #ffffaa
}

.gcp-highlight {
    background: #dfffcf !important;
}

.gcp-selected-project {
    background: #ffffaa !important;
}

/* Modify default styles for the progress indicator */
.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
    position: absolute;
    /* change indicator position from top-right to center from top-left */
    top: 50%;
    left: 50%;
    /* double the size of the default gif, might need to create new gif to avoid pixellation */
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    /* reduce opacity of progress indicator since it will sit on top of other elements */
    opacity: 0.8;
}