@import url(../vaadin-bootstrap/styles.css);

.v-app-IBPWorkbenchApplication * {
    outline:none !important; /*removes the dotted border*/
}

.v-app-IBPWorkbenchApplication {
	background: rgb(233,233,233);
}

.v-table-body {
	background: rgba(255,255,255,0.7);
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel {
	background: white url(images/workbench_bg.jpg) no-repeat right bottom !important;
    overflow: hidden;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-csslayout {
    margin-top: 20px;
}

.v-table-row {
	background: rgba(255,255,255,0.5);
}

.v-table-row-odd {
	background: rgba(249, 249, 249,0.7);
}

.gcp-light-grey .v-table-row {
	background: rgba(255,255,255,1);
	
}

.gcp-light-grey .v-table-row-odd {
	background: rgba(249, 249, 249,1);
	
}

.gcp-tblroles .v-table-cell-content {
	background: url(images/workflow_icn.png) no-repeat 3px center;
	padding-left: 18px;
	cursor: pointer; 
}

.v-table-row-project-table .v-table-cell-content {
    cursor: pointer;
}

.gcp-tblroles .v-table-cell-content:hover {
	background: #ffffaa url(images/workflow_icn.png) no-repeat 3px center !important;
}

.gcp-tblroles.gcp-selected .v-table-body {
	background: rgba(230,239,199,0.7);
}

.gcp-tblroles.gcp-selected .v-table-row {
	background: transparent;
}

.gcp-tblroles.gcp-selected .v-table-row-odd {
	background: transparent;
}

span.v-checkbox-hidecheckbox input {
    display: none !important;
}


.v-panel-content-gcp-login > div {
    background-image: url(images/login.png);
    background-repeat: no-repeat;
    background-color: transparent;
}

.v-panel-content-gcp-createuser > div {
    background-image: url(images/createuser.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
   
}


.v-splitpanel-first-container-gcp-workbench-vsplit-panel {
	background-color: #045d91;
}

.v-splitpanel-hsplitter-small {
    width: 0px;
    background: transparent;
}

.v-splitpanel-vsplitter-gcp-workbench-vsplit-panel-locked {
	height: 0px !important;
}

.v-splitpanel-hsplitter-gcp-workbench-content-split-panel-locked {
	width: 0px !important;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel {
	background-color: rgb(233,233,233)
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-verticallayout {
	margin-top: 20px;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel {
	background-color: white;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout div.v-button span.v-button-wrap span.v-button-caption {
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	color: #dde5ec;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout
div div div div.v-horizontallayout div div div div.v-label-undef-w {
	position: relative;
	bottom: 3px;
	color: #dde5ec !important;
}

.v-splitpanel-first-container-gcp-workbench-vsplit-panel div.v-horizontallayout div.v-button span.v-button-wrap span.v-button-caption:hover {
	text-decoration: underline;
}

.v-splitpanel-second-container-gcp-workbench-content-split-panel
div.v-verticallayout div div div div.v-horizontallayout div div div div.v-horizontallayout
div div div div.v-button span.v-button-wrap span.v-button-caption {
	text-transform: uppercase;
	padding-right: 4px;
    padding-left: 4px;
}

.gcp-window-title {
    font-size: 20px;
	color: #dde5ec;
	font-family: "Helvetica Neue", "Segoe UI Light", "Segoe UI", "Helvetica Neue Light","Arial", sans-serif; !important;
	
}

.gcp-window-title H1:first-child {
	text-transform: uppercase;
	font-weight: normal;
    font-size: 24px;
    font-weight: 100;
	margin-left: 20px;	
	color: #dde5ec;
	font-family: "Helvetica Neue", "Segoe UI Light", "Segoe UI", "Helvetica Neue Light","Arial", sans-serif; !important;
}

.gcp-window-title H1 {
	text-transform: uppercase;
    font-size: 20px;
    display: inline-block; 
	color: #dde5ec;
	font-family: "Helvetica Neue", "Segoe UI Light", "Segoe UI", "Helvetica Neue Light","Arial", sans-serif; !important;
	font-weight: 100;
}

.gcp-window-title H2 {
    font-size: 14px;
    font-weight: normal;
    display: inline-block; 
	color: #02385a;
	font-family: "Helvetica Neue", "Segoe UI Light", "Segoe UI", "Helvetica Neue Light","Arial", sans-serif; !important;
}


.gcp-content-title {
    font-size: 16px;
    text-transform: uppercase;
}

.gcp-content-header {
    font-size:24px;
    line-height: 32px;
    font-weight:300;
}

.gcp-table-header-bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.gcp-btn-link-brown span span  {
	color: #045d91 !important;
	position: relative;
	top: 1px;
	text-decoration: none !important;
}

.gcp-btn-link-brown span span:hover  {
	color: #4185d8 !important;
	position: relative;
	top: 1px;
	text-decoration: none !important;
}

.gcp-popup-view {
	background-color: #ff8109;
	font-size: 12px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	padding: 1px 3px;
	text-decoration: none;
	border-radius: 1px;
	color: white;
	
	margin-right: 20px;
}

.gcp-popup-view:hover {
	color: white;
}

.v-popupview-popup-gcp-popup-view {
	background-color: #ff8109;
	color: white;
}

.gcp-section-title {
	font-weight: bold;
    font-size: 12px;
}

.gcp-section-title-large {
	font-weight: bold;
	font-size: 16px;
	
}

.gcp-workflow-link span span {
	color: #045d91 !important;
	display: block;
	text-align: center;
}

.gcp-workflow-link span span:hover {
	color: #4185d8 !important;
}

.gcp-workflow-step .gcp-section-title {
	font-size: 12px;
	text-align: center;
		
	background-color: #045d91;
	color: white;
	padding-top: 3px; padding-bottom: 3px;
	text-transform: uppercase;
	font-weight: normal;
}

.gcp-workflow-step .gcp-section-title-large {
		font-size: 13px;
		text-align: center;
		
		background-color: #045d91;
		color: white;
		padding-top: 5px; padding-bottom: 5px;
		text-transform: uppercase;
		font-weight: normal;
}

.gcp-form-title {
    font-weight: bold;
}

.gcp-mars-workflow-step, .gcp-workflow-step {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    
    /* rounded border */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #045d91;
}

.v-verticallayout-gcp-mars-workflow-step
        .v-verticallayout-margin {
    padding-top:    10px;
}

.gcp-hand-cursor {
    cursor: pointer;
}

/* Create new project btn */
.gcp-createproject-btn {
	height: 48px !important;
}

.gcp-createproject-btn:hover {
	background-color: rgb(213,215,217);
}


.gcp-createproject-btn .v-button-wrap {
	display: block;
	width: 100%;
}

.gcp-createproject-btn .v-button-wrap .v-button-caption {
	display: block;
	color: rgb(68, 72, 55) !important;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
	white-space:normal;
	line-height: 15px;
	padding-right: 15px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.gcp-createproject-btn .v-button-wrap .v-button-caption:hover {
	background-color: rgb(213,215,217);
}

/* add support for multi-line buttons */
.v-button-multiline,.v-button-caption {
    white-space: pre;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal,.v-select-option {
    display: inline-block;
}

/* Avoid wrapping if the layout is too tight */
.v-select-optiongroup-horizontal {
    white-space: nowrap;
}

/* Some extra spacing is needed */
.v-select-optiongroup-horizontal,.v-select-option.v-radiobutton {
    align-bottom: 10px;
}

.addTopSpace {
    margin-top: 10px;
    margin-left: 10px
}

.v-table-program-table, .v-table-cell-content-program-table {
    cursor: pointer;
}

.v-table-program-table .v-table-row {
    padding-left: 6px;
}

.v-table-row-gcp-highlight, .v-table-cell-content-gcp-highlight {
    cursor: pointer;
    color: #468847;
    background-color: #dff0d8;

}

.v-table-row-gcp-selected-project .v-table-cell-content-gcp-selected-project:first-child {
    border-left: 3px solid #3276b1;
    padding-left: 3px;
}

.v-table-row-gcp-selected-project .v-table-cell-content-gcp-selected-project {
    cursor: pointer;

    color: #3a87ad;
    background-color: #d9edf7;
}

.gcp-tblproject .v-table-row:hover .v-table-cell-content,
.gcp-tblproject .v-table-row-odd:hover .v-table-cell-content {
    cursor: pointer;
    background: #ffffaa;
}

.gcp-highlight {
    background: #dfffcf !important;
}

.gcp-selected-project {
    background: #ffffaa !important;
}

/* color styles */
.gcp-light-grey {
	background-color: rgb(223,223,223) !important;
}
.v-button-gcp-enabled,
.gcp-enabled {
	background-color: rgb(213,215,217) !important;
}

.gcp-crumb-active .v-button-caption {
	font-weight: bold;
}

.gcp-login-title {
	line-height: 24px;
	font-size: 21px;
	color: #dde5ec;
	margin-left: 104px;
	margin-top: 17px;
	text-transform: uppercase;
	font-family: "Helvetica Neue", "Segoe UI Light", "Segoe UI", "Helvetica Neue Light","Arial", sans-serif; !important;
	font-weight: 100;
}

.gcp-login-subtitle {
	line-height: 16px;
	font-size: 16px;
	color: #02385a;
	margin-top: 100px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

.gcp-loginform-lbl {
	text-transform: uppercase;
	position: relative;
	top: 4px;
	color: #02385a;
}

.v-button.v-button-link.link.v-button-gcp-workflow-link-disabled.gcp-workflow-link-disabled {
	cursor: default !important;
}

.gcp-removelink .gcp-workflow-link {
	cursor: default !important;
}

.gcp-removelink .gcp-workflow-link * {
	cursor: default !important;
	text-align: center;
}

.gcp-removelink .gcp-workflow-link span span {
	color: #02385a !important;
	text-decoration: none !important;
}

.gcp-removelink .gcp-workflow-link span span:hover {
	color: #02385a !important;
	text-decoration: none !important;
}

.gcp-linkwrap {
	max-width: 250px;
}

.gcp-linkwrap span span {
	text-align: center !important;
	white-space: normal;
}

.no-stripes  .v-table-row,  .no-stripes  .v-table-row-odd {
      background-color: white;
 }

/* Delete project btn */
.prj-delete-button {
	height: 25px !important;
	background-color: #ee432e!important;
    border: 1px solid #951100;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  	width: 150px;
}

.prj-delete-button:hover {
	background: #f37873 !important;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  	color: #f37873;
}

.prj-delete-button .v-button-wrap {
	display: block;
	width: 100%;
}

.prj-delete-button .v-button-wrap .v-button-caption {
	
	display: block;
	color: #fff;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	text-decoration: none !important;
	text-transform: uppercase;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	white-space:normal;
	line-height: 15px;
	padding: 5px;
}

.prj-delete-button {
	position: absolute;
	right:330px;
}

.no-stripes td {
 	height: 20px;
 }

.create_project_member_current_user_msg {
    color: red;
    font-weight: bold;
    margin-left: 300px;
}


.loc-filterlbl {
	line-height: 26px;
}

.loc-add-btn {
	color: black;
	height: 35px !important;
	/* background-color: #4d90fe !important;
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed) !important;
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#4d90fe),to(#4787ed)) !important;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed) !important;
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed) !important;
	background-image: linear-gradient(top,#4d90fe,#4787ed) !important;
	background-repeat: repeat-x !important;

    -webkit-box-shadow: inset 0 0 1px 2px #f6f6f6;
  	
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe',endColorstr='#4787ed',GradientType=0);


	border: 0;*/
	
	background: #e3e3e3 !important;
	border: 1px solid #bbb;
	width: 200px;	
}

.loc-add-btn:hover {
	/* background-color: #0072bb !important;
	background-image: -moz-linear-gradient(top,#0072bb,#0072bb) !important;
	background-image: -ms-linear-gradient(top,#0072bb,#0072bb) !important;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#0072bb),to(#0072bb)) !important;
	background-image: -webkit-linear-gradient(top,#0072bb,#0072bb) !important;
	background-image: -o-linear-gradient(top,#0072bb,#0072bb) !important;
	background-image: linear-gradient(top,#0072bb,#0072bb) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0072bb',endColorstr='#0072bb',GradientType=0); */

	background-color: #d9d9d9 !important;
}

.loc-add-btn .v-button-wrap {
	display: block;
	width: 100%;
}

.loc-add-btn .v-button-wrap .v-button-caption {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	font: bold 13px/1 "helvetica neue", helvetica, arial, sans-serif;
	white-space:normal;
	line-height: 25px;
	padding: 5px;
}

.loc-select-btn {
	background: #7f7f7f url('images/add_16.png') no-repeat center center !important;
	background-size: 10px 10px !important;
	border-radius: 50%;

}

.loc-select-btn:hover {
	background: #b4b4b4 url('images/add_16.png') no-repeat center center !important;
	background-size: 10px 10px !important;
	
}

.loc-remove-btn {
	background: #7f7f7f url('images/close_16.png') no-repeat center center !important;
	background-size: 8px 8px !important;
	border-radius: 50%;
}

.loc-remove-btn:hover {
	background: #b4b4b4  url('images/close_16.png') no-repeat center center !important;
	background-size: 8px 8px !important;
}



.loc-table .v-table-cell-content {
	vertical-align: middle;
}

.v-table-cell-content-locationName,
.v-table-cell-content-mname {
	font-weight: bold;
}

.gcp-dashboard-main > div {
	overflow-y: auto !important;
}

.project-select-btn {
	background:  url('images/select_16.png') no-repeat center center !important;
	background-size: 16px 16px !important;
	border-radius: 50%;
	width: 30px;

}

.preview-tab{
}

.preview-tab .v-tabsheet-content {
}

.program-tab{
	padding-top: 3px;
}

.v-table-program-tab {
    font-size: 16px;
    font-weight: 300;
}


.dashboard-horizontal-label-top{
	padding-top: 0px;
}
.label-bold{
	font-weight: bold;
}

.v-button-toolbar .v-button-caption {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    right: 6px;
}

.v-button-toolbar.v-button-button-open .v-button-caption:before {
    content: "\e167";
}

.v-button-toolbar.v-button-button-plus .v-button-caption:before {
    content: "\2b";
}

.v-button-toolbar.v-button-button-trash .v-button-caption:before {
    content: "\e020";
}

.v-button-toolbar.v-button-button-pencil .v-button-caption:before {
    content: "\270f";
}

/* launcher button */
.v-button-launch:hover .v-button-wrap,
.v-button-launch:focus .v-button-wrap
{
    border: none;
    background: none;
}

.v-button-launch:active .v-button-wrap,
.v-pressed.v-button-launch .v-button-wrap {
    border: none;
    background: none;
}

.v-button-launch,
.v-disabled.v-button-launch {
    border-radius: 100%;
}

.v-button-launch .v-button-wrap,
.v-disabled.v-button-launch .v-button-wrap {
    background: none;
    border: none;
    border-radius: 100%;
    position: relative;
    right: 14px;
}

/* TAB + TABSHEETS */
.v-tabsheet-tabs .v-tabsheet-spacertd div,
.white .v-tabsheet-tabs .v-tabsheet-spacertd div {
    border-bottom: 1px solid #bfbfbf;
    height: auto;
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitemcell,
.v-tabsheet-tabs .v-tabsheet-spacertd {
    height: auto;
    background: transparent;
    padding-left: 0;
}
.v-tabsheet-spacertd div {
    margin-right: 0px;
}

.v-tabsheet-tabs .v-tabsheet-tabitem,
.white .v-tabsheet-tabs .v-tabsheet-tabitem {
    border: none;
    border-bottom: 1px solid #bfbfbf;
    color: #4d748f;
    padding: 0;
    height: auto;
    background: transparent;
    text-shadow: none;
}
.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption {
    padding: 5px 16px;
    height: auto;
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitemcell-selected {
    background: transparent;
}
.v-tabsheet-tabs .v-tabsheet-tabitem-selected,
.white .v-tabsheet-tabs .v-tabsheet-tabitem-selected {
    background: transparent;
    border: 1px solid #bfbfbf;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222;
}
.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption {
    background: transparent;
    padding: 4px 15px 6px 15px;
}
.v-tabsheet-tabs .v-tabsheet-tabitem .v-caption-closable,
.v-tabsheet-tabs .v-tabsheet-tabitem-selected .v-caption-closable {
    padding-right: 6px;
}

.v-sa .v-tabsheet-content,
.v-ff3 .v-tabsheet-content {
    border-color: #bfbfbf;
}

.v-tabsheet-tabsheetpanel {
    background: rgba(255,255,255,0.8);
}

/* tabs close ICON */
.v-tabsheet-tabs .v-tabsheet-caption-close,
.v-tabsheet-tabs .v-tabsheet-caption-close:hover,
.v-tabsheet-tabs .v-tabsheet-caption-close:active {
    text-indent: 0;
    background: transparent;
    margin-left: 3px;
    margin-right: -3px;
    padding: 0;
    color: #999;
    width: 14px;
    height: 14px;
    line-height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.v-tabsheet-tabs .v-tabsheet-caption-close {
    margin-top: 1px;
}
.v-ff .v-tabsheet-tabs .v-tabsheet-caption-close,
.v-ie7 .v-tabsheet-tabs .v-tabsheet-caption-close {
    margin-top: -15px;
}
.v-tabsheet-tabs .v-tabsheet-caption-close:hover,
.white .v-tabsheet-tabs .v-tabsheet-caption-close:hover {
    color: #fff;
    background: #aaa;
}
.v-tabsheet-tabs .v-tabsheet-caption-close:active,
.white .v-tabsheet-tabs .v-tabsheet-caption-close:active {
    background: #777;
}

/* SIDEBAR styles */
.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-children-root {
    padding: 0px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-children-root .v-tree-node-caption {
    margin-left: 0px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-children-root .v-tree-node-leaf span {
    display: block;
    padding-left: 34px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-children-root .v-tree-node-leaf span:hover {
    display: block;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-children-root .v-tree-node-leaf span {
    display: block;
    padding-left: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-selected span {
    display: block;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 0;
    text-shadow: none;
    padding-left: 34px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-root > .v-tree-node-caption span {
    color: black;
    text-shadow:none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px;  margin-left: 3px;
}

.v-splitpanel-first-container-gcp-workbench-content-split-panel .v-tree-node-root > .v-tree-node-caption.v-tree-node-selected span {
    padding: 0px !important;  margin-left: 3px !important;
    background: none;
}

/* move to commons */