<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Forgot Password</title>
</head>

<style type="text/css">
	.bms-logo {
		border-radius: 64px;
	}
</style>

<body>

	<div>
		<img class="bms-logo" width="128px" src="static/images/logo.png" th:src="'cid:' + ${bmsLogo}"/>
	</div>
	<p th:text="#{forgot.mail.greeting(${recipientName})}">Hello, world</p>

	<p th:text="#{forgot.mail.request.msg}">
		We’ve received a request to reset the password for this BMS account. Click on the link below (or copy and paste the URL into your
		browser):
	</p>

	<p><a th:href="${forgotPasswordUrl}" class="bms-forgot-password-url"><span th:text="${forgotPasswordUrl}"></span></a></p>

	<p th:text="#{forgot.mail.link.expire.hours(${expireHrs})}">This URL will expire after 24 hrs</p>

	<p>
		If you no longer wish to make this change or if you did not initiate this request, please disregard this e-mail.
	</p>

</body>

</html>
