
<div *ngIf="sampleList">
    <h2><span jhiTranslate="bmsjHipsterApp.sampleList.detail.title">Sample List</span> {{sampleList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.listName">List Name</span></dt>
        <dd>
            <span>{{sampleList.listName}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.description">Description</span></dt>
        <dd>
            <span>{{sampleList.description}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.hierarchy">Hierarchy</span></dt>
        <dd>
            <span>{{sampleList.hierarchy}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.createdDate">Created Date</span></dt>
        <dd>
            <span>{{sampleList.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.notes">Notes</span></dt>
        <dd>
            <span>{{sampleList.notes}}</span>
        </dd>
        <dt><span jhiTranslate="bmsjHipsterApp.sampleList.type">Type</span></dt>
        <dd>
            <span>{{sampleList.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sample-list/'+ sampleList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
