<section>
    <header>
        <h1><span jhiTranslate="study.manager.title"></span>&nbsp;
            <a href="{{helpLink}}" target="_blank"><i class="fa fa-question-circle bms-helpicon" aria-hidden="true"></i></a>
        </h1>
        <div class="row col md-g">
            <div class="row col-md-4">
                <img src="/ibpworkbench/VAADIN/themes/breeding-manager/images/review-list-details.png" class="image-padding browse-action"/>
                <div style="padding-top: 6px;">
                    <a href jhiTranslate="study.manager.browse-link" (click)="browseStudy($event)"></a>&nbsp;
                    <span jhiTranslate="study.manager.browse-text"></span>
                </div>
            </div>
            <div class="col-md-8">
                <button class="btn btn-info float-right" jhiTranslate="study.manager.actions.new-study" (click)="urlService.createStudy()">
                </button>
            </div>
        </div>
    </header>

    <div class="row mt-3">
        <section class="col">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#study-search" jhiTranslate="study.manager.nav.search"
                           [routerLink]="['study-search']" [routerLinkActive]="['active']">Search</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content p-3">
                <router-outlet></router-outlet>
                <jhi-alert></jhi-alert>
            </div>
        </section>
    </div>
</section>
