.bms-icon {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 6px;
  vertical-align: middle;
}

.bms-mgt-details {
  color: #263798;
}

.bms-variates {
  color: #A9DD28;
}

.bms-factors {
  color: #C4A01B;
}

.bms-treatment-factors {
  color: #C95B05;
}

.bms-environments {
  color: #0074AC;
}

.bms-exp-design {
  color: #9E8376;
}
