<div ng-show="editable()">
	<ol>
		<li ng-repeat="category in model[property].categories">
			<label for="om-category-label">Name</label>
			<input type="text" name="om-category-label" id="om-category-label" ng-model="category.name"/>

			<label for="om-category-value">Description</label>
			<input type="text" name="om-category-value" id="om-category-value" ng-model="category.description"/>
			<a href="#" ng-click="removeCategory($event, $index)">Remove</a>
		</li>
	</ol>
	<button ng-click="addCategory($event)">Add another category</button>
</div>

<div ng-hide="editable()">
	<ol>
		<li ng-repeat="category in model[property].categories">
			<p>{{category.name}}: {{category.description}}</p>
		</li>
	</ol>
</div>
