table > thead > tr > th {
    cursor: pointer;
}
table > thead > tr > th.sort::after {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    margin-left: 5px;
    top: 9px;
}
table > thead > tr > th.sort.desc::after {
    content: "\e253";
}

table > thead > tr > th.sort.asc::after {
    content: "\e252";
}