<section>
	<div class="om-panel-content">
		<a class="btn btn-default form-group pull-right"
		   [routerLink]="['role-card']"
		   [queryParams]="{isEditing: false}">
			Create role
		</a>
	</div>
	<div class="om-panel-header">
		<h2 class="om-panel-title ">
			Manage Roles</h2>
		<div>Click a <strong>role names</strong>
			to inspect or edit their associated permissions and accessibility.
		</div>
	</div>
	<br/><br/>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th [ngClass]="{ sort: isSorted('name'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('name')">Name</th>
					<th [ngClass]="{ sort: isSorted('description'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('description')">Description</th>
					<th [ngClass]="{ sort: isSorted('type'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('type')">Type</th>
					<th [ngClass]="{ sort: isSorted('permissions'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('permissions')">Permissions</th>
					<th [ngClass]="{ sort: isSorted('active'), asc: table.sortAsc, desc: !table.sortAsc }" (click)="sort('active')">Status</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngIf="!table.totalFilteredRows" class="clickable-row">
					<td colspan="6" class="text-center">No records found.</td>
				</tr>
				<tr *ngFor="let role of table.itemsOnCurrentPage">
					<td> {{role.name}} </td>
					<td>{{role.description}}</td>
					<td>{{role.type}}</td>
					<td>
						<span>
                                <span *ngIf="role.permissions[0]" class="crop-badge">{{role.permissions[0].description}}</span>
                                <span *ngIf="role.permissions.length > 1"
									  [title]="getPermissionsTitleFormat(role.permissions)"
									  style="padding-left: 5px; color: #428bca;"> and {{role.permissions.length - 1}} more</span>
                            </span>
					</td>
					<td *ngIf="role.name.indexOf('Admin')!=-1 && role.active == 'true'">Active</td>
					<td *ngIf="role.name.indexOf('Admin')!=-1 && role.active == 'false'">Inactive</td>
					<td  *ngIf="role.name.indexOf('Admin')==-1">
						<a href="javascript:void(0)" *ngIf="role.active == 'true'">Deactivate</a>
						<a href="javascript:void(0)" *ngIf="role.active == 'false'">Activate</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<pagination [maxPageIndex]="table.maxPageIndex"
				(pageNumberChanged)="table.currentPageIndex = $event">
	</pagination>
</section>
