<div class="container">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold">
				<!--<span *ngIf="attributeId" jhiTranslate="germplasm-attribute-modal.edit.header"></span> --><!--Header dinamico-->
				<span>Add Entry details</span>
			</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="clear()">&times;
			</button>
		</div>
	</div>
	<div class="modal-body">
		<form name="form" #f="ngForm">
			<div class="form-group row required">
				<label for="dropdownvariable" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="germplasm-attribute-modal.variable">Variable</label>
				<div class="col-sm-9">
					<jhi-variable-select name="dropdownvariable" id="dropdownvariable"
										 [allowClear]="true"
										 (onVariableSelectedChange)="variable = $event"
										 [variableTypeIds]="VARIABLE_TYPE_IDS"
										 [germplasmUUID]="germplasmUUID">
					</jhi-variable-select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="cancel"></span>
		</button>
		<button (click)="save()" [disabled]="!isFormValid(f)" class="btn btn-primary">
			<span *ngIf="isLoading" class="throbber throbber-btn"></span>
			<span class="fa fa-save"></span>&nbsp;
		</button>
	</div>
</div>
