<div class="row col-xs-12 col-md-12">
	<div class="page-header">
		<h1>
			LABEL PRINTING <a class="bms-fa-question-circle fbk-help" data-help-link="MAKE_LABELS"></a>
		</h1>
	</div>
</div>
<div id="specifyLabelDetailsForm" role="form-horizontal" action="#" class="lblprnt-label-details">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">

				<!-- Navigation Buttons -->
				<div class="form-group">
					<div class="col-xs-12 col-md-12 fbk-center">
						<input type="button" onclick="window.history.back();" value="Cancel" class="btn btn-default"/>
						<input type="button" id="fbk-lbl-printing-save-preset" value="Save Preset" class="btn btn-info fbk-hide"/>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

