<table class="table table-striped" ng-blur="deselectItem()">
	<thead>
		<tr>
			<th ng-repeat="header in colHeaders">
				<span class="om-li-header-cell-test" ng-if="isNotActionHeader(header)">{{'list.' + header | translate}}</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in filteredData = (data | filter:filterByOptions | filter:filterByProperties | paginate:rowsPerPage) track by item.id" ng-click="selectItem($index, item.id)" class="clickable-row" ng-class="{'active': activeItemId === item.id}">
			<td ng-repeat="header in colHeaders" ng-class="{'action-icon': isAction(item[header])}">
				<span class="om-li-data-cell-test" ng-if="isString(item[header])">{{item[header]}}</span>
				<span class="om-li-data-cell-test glyphicon favourite-icon" ng-if="isAction(item[header])" ng-class="item[header].iconValue ? 'glyphicon-' + item[header].iconValue : ''"
					  ng-click="toggleFavourites($index, item.id, $event, item[header])" title="{{item[header].tooltip ? item[header].tooltip : ''}}"></span>
			</td>
		</tr>
		<tr class="om-no-items"><td colspan="{{colHeaders.length}}">{{'list.noResultsFound' | translate}}</td></tr>
	</tbody>
</table>
<om-paginator ng-if="pagination && filteredData.length > 0"></om-paginator>
