<table class="table table-striped table-clickable" tabIndex="1">
	<thead>
		<tr>
			<th ng-repeat="header in colHeaders">
				<span class="om-li-header-cell-test" ng-if="isNotActionHeader(header)">{{'list.' + header | translate}}</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data track by item.id" ng-click="selectItem($index, item.id)" ng-hide="item.isHidden">
			<td ng-repeat="header in colHeaders" ng-class="{'action-icon' : isAction(item[header])}">
				<span class="om-li-data-cell-test" ng-if="isString(item[header])">{{item[header]}}</span>
				<span class="om-li-data-cell-test glyphicon favourite-icon" ng-if="isAction(item[header])" ng-class="'glyphicon-' + item[header].iconValue" ng-click="toggleFavourites($index, item.id, $event, item[header])"></span>
			</td>
		</tr>
		<tr ng-hide="isAnyItemShown"><td colspan="{{colHeaders.length}}">No results were found</td></tr>
	</tbody>
</table>
