<div class="table-responsive">
	<div style="overflow-y: scroll; max-height: 250px;">
		<table class="table table-striped table-bordered table-curved">
			<thead>
			<tr>
				<th><span jhiTranslate="merge-germplasm.column.stockid"></span>
				<th><span jhiTranslate="merge-germplasm.column.storageLocation"></span>
				<th><span jhiTranslate="merge-germplasm.column.units"></span>
				<th><span jhiTranslate="merge-germplasm.column.amount"></span>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let lot of lots">
				<td>{{lot.stockId}}</td>
				<td>{{lot.locationName}}</td>
				<td>{{lot.unitName}}</td>
				<td>{{lot.actualBalance}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="form-group row">
		<div class="col">
			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" [name]="'migrateLotsOption' + nonSelectedGermplasm.germplasmId" [attr.id]="'radioCloseLots' + nonSelectedGermplasm.germplasmId"
					   [(ngModel)]="selectedOption" [value]="LOT_OPTIONS_CLOSE" (change)="onLotOptionChanged()">
				<label class="form-check-label" [attr.for]="'radioCloseLots' + nonSelectedGermplasm.germplasmId" jhiTranslate="merge-germplasm.action.closeLots">
				</label>
			</div>
			<br/>
			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" [name]="'migrateLotsOption' + nonSelectedGermplasm.germplasmId" [attr.id]="'radioAssociateLots' + nonSelectedGermplasm.germplasmId"
					   [(ngModel)]="selectedOption" [value]="LOT_OPTIONS_MIGRATE" (change)="onLotOptionChanged()">
				<label class="form-check-label" [attr.for]="'radioAssociateLots' + nonSelectedGermplasm.germplasmId" jhiTranslate="merge-germplasm.action.associateLots">
				</label>
			</div>
			<br/>
			<div class="form-check form-check-inline">
				<input type="radio" class="form-check-input" [name]="'migrateLotsOption' + nonSelectedGermplasm.germplasmId" [attr.id]="'radioOmit' + nonSelectedGermplasm.germplasmId"
					   [(ngModel)]="selectedOption" [value]="LOT_OPTIONS_OMIT" (change)="onLotOptionChanged()">
				<label class="form-check-label" [attr.for]="'radioOmit' + nonSelectedGermplasm.germplasmId" jhiTranslate="merge-germplasm.action.omitLots">
				</label>
			</div>
		</div>
	</div>
</div>
