/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
Generic styles
========================================================================== */

/*
.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}
*/
.error {
    color: white;
    background-color: red;
}
.pad {
    padding: 10px;
}
.w-40 {
    width: 40% !important;
}
.w-60 {
    width: 60% !important;
}
.break {
    white-space: normal;
    word-break: break-all;
}
.readonly {
    background-color: #eee;
    opacity: 1;
}
.footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}
/* To be useful for elements that has display attribute */
[hidden] {
    display: none !important;
}
/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}
/*
.hand, [jhisortby] {
    cursor: pointer;
}
*/
/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert span {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
.alert .popover span {
    font-size: 10px;
}
.alerts .toast {
    position: fixed;
    width: 100%;
    z-index: 10000000;
}
.alerts .toast.left {
    left: 20px;
}
.alerts .toast.right {
    right: 20px;
}
.alerts .toast.top {
    top: 20px;
}
.alerts .toast.bottom {
    bottom: 55px;
}
@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 400px;
    }
}
/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}
/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }
    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}
/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .card-title a {
    cursor: pointer;
}
.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}
.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}
.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ==========================================================================
BMS
========================================================================== */

/* Fieldbook styles */
body {
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    margin: 0 !important;
}
.lead {
    font-size: 10pt;
}
.input-group-btn > .btn {
    font-size: 14px;
}
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input, .select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
    color: #333333 !important;
    font-size: 13px;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.fbk-hide {
    display: none;
}
.modal-footer {
    text-align: center;
    padding: 10px;
}
.btn-primary {
    color: #ffffff;
    background-color: #ff8109;
    border-color: #ff8109;
}
.btn-default {
    color: #ffffff;
    background-color: #828282;
    border-color: #828282;
}
/* TODO use bootstrap 4 spacing. see vendor.css  */
.add_top_padding {
    padding-top: 10px;
}
.add-top-padding-small {
    padding-top: 5px;
}
table > thead > tr > th > span.fa.fa-sort {
    padding-left: 5px;
}
table > thead > tr > th[jhisortby] {
    cursor: pointer;
}
.fbk-close-tab {
    float: right;
    cursor: pointer;
}
.modal-extra-large {
    width: 950px;
}
.modal-large {
    width: 800px;
}
.modal-extra-medium {
    width: 700px;
}
.modal-medium {
    width: 650px;
}
.modal-small {
    width: 500px;
}
.modal-extra-small {
    width: 400px;
}
.disable-image {
    opacity: 0.5
}

#treeTableContainer {
    max-height: 350px;
    overflow: auto;
}

/* PrimeNg
 TODO use theming https://www.primefaces.org/primeng/#/theming */

.ui-treetable .ui-state-highlight {
    background: none repeat scroll 0% 0% #BED6B2 !important;
}
.ui-treetable table {
    border-collapse: separate;
    white-space: nowrap;
}
.ui-treetable tr:nth-child(even) {
    background-color: #f0eeee;
}
.ui-treetable tr:nth-child(odd) {
    background-color: #e3e3e3;
}
.tree-table .folder,
.tree-table .file
{
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0.2em 0px 0.2em 1.5em;
}
.tree-table .folder {
    background-image: url("../images/folder.png");
}
.tree-table .file {
    background-image: url("../images/document-icon.png");
}

/* jhipster-needle-css-add-main JHipster will add new css style */

.bms-helpicon {
    font-size: 20px!important;
    color: #5A5A5A;
    top: 10px;
    left: 20px;
    font-weight: bold;
}

/* ========================================================================== Navigation & Table ========================================================================== */

.nav-tabs .nav-item .nav-link {
    font-weight: bold;
}
.nav-tabs .nav-item .nav-link:not(.active) {
    background-color: #cecece;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: #f6f6f6;
    border-bottom-color: #f6f6f6;
}
.tab-content {
    background: #f6f6f6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
.table {
    white-space: nowrap;
    border-spacing: 0;
}
.table > thead {
    background-color: #c8c6c6;
}
.table, .table > thead > tr > th, .table > tbody > tr > td {
    border: 0;
}
.table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e3e3e3;
}
.table.table-striped tbody tr:nth-of-type(even) {
    background-color: #f0eeee;
}
.table.table-bordered {
    border: 0 !important;
}
.table.table-bordered > thead > tr > th {
    border-bottom: 1px solid #c2c3c4;
}
.table.table-bordered > tbody > tr > td {
    border-right: 1px solid #c2c3c4;
}
.table.table-bordered > tbody > tr > td:last-child {
    border-right: 0;
}
.table-curved {
    border-collapse: separate;
    border-radius: 0.625rem;
}
.table-curved > thead > tr > th:first-child {
    border-top-left-radius: 0.625rem;
}
.table-curved > thead > tr > th:last-child {
    border-top-right-radius: 0.625rem;
}
.table-curved > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 0.625rem;
}
.table-curved > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 0.625rem;
}
.btn-primary {
    color: #fff;
}
/* modal */
.modal-extra-small .modal-dialog {
    width: 400px;
}
#columnVisibility {
    width: 180px;
}
#columnVisibility button {
    white-space: nowrap;
    width: 100%;
    padding: 0.5em 1em;
    margin-bottom: 4px;
}

/* ========================================================================== Column filters ========================================================================== */
.column-filter-badge {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.column-filter-badge button div {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.column-filter-badge button i {
    float: right;
    line-height: 1.5;
    margin-left: 5px;
}

/* ========================================================================== Pagination FIXME Using Nested Flex Containers workaround for now https://stackoverflow.com/a/33856609/1384743 Until something like justify-self is available https://stackoverflow.com/a/32583512/1384743 ========================================================================== */
.pagination-container {
    display: flex;
    margin-top: 1rem;
}
.pagination-container .pagination-box {
    flex: 1;
    display: flex;
    justify-content: center;
}
.pagination-container .pagination-box-right > div {
    margin-left: auto;
}
.pagination-container .pagination-box-left > div {
    margin-right: auto;
}