<section>
    <header>
        <div class="modal-header pl-0">
            <h5 class="modal-title">Inventory details for {{preferredName}} ({{gid}})</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">&times;
            </button>
        </div>
    </header>
    <br/>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['lot']"
                   [routerLinkActive]="['active']">View Lots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['transaction']"
                   [routerLinkActive]="['active']">View Transactions</a>
            </li>
        </ul>
    </nav>
    <div class="tab-content p-3">
        <router-outlet></router-outlet>
		<jhi-alert></jhi-alert>
    </div>
</section>
