<div ng-show="editable()">
	<label for="om-as-min">{{'range.edit.min' | translate}}</label>
	<input type="number" name="om-as-min" id="om-as-min" ng-model="model[property].min"></input>

	<label for="om-as-max">{{'range.edit.max' | translate}}</label>
	<input type="number" name="om-as-max" id="om-as-max" ng-model="model[property].max"></input>
</div>

<div ng-hide="editable()">
	<p>{{'range.readOnly.min' | translate: model[property]}}</p>
	<p>{{'range.readOnly.max' | translate: model[property]}}</p>
</div>
