.label-type-list {
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radio-inline-label {
    padding-left: 0;
}

.sub-content-heading {
    margin-bottom: 15px;
}

.row {
    margin-bottom: 5px;
}

.availableFields,
#leftSelectedFields,
#rightSelectedFields,
.non-pdf-selected-fields {
    list-style-type: none;
    min-height: 50px;
    background: #eee;
}

#leftSelectedFields,
#rightSelectedFields,
.non-pdf-selected-fields {
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 100%;
}

#availableFields li,
#leftSelectedFields li,
#rightSelectedFields li,
.non-pdf-selected-fields li {
    padding: 10px;
    font-size: 13px;
}

.list-group-content {
    height: 50vh;
    overflow-y: auto;
}

.field-group{
    margin-bottom: 0px
}
.field-group .list-group-item{
    padding: 5px 10px;
    background-color: #c8c6c6;
}

/* Fix the overlapping with the labels when the scroll is activated */
.fix-list-group {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
