<div>
	<div class="row page-header">
		<div class="col-xs-12 col-md-12">
			<h1>
				LABEL PRINTING <a class="bms-fa-question-circle fbk-help" data-help-link="MAKE_LABELS"></a>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-12 col-md-12">

						<div class="row">
							<div class="col-xs-12 col-md-12">
								<h2 jhiTranslate="label-printing.header.print.labels">Print labels</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-12">
								<h3 jhiTranslate="label-printing.header.create.labels">Create labels</h3>
							</div>
						</div>
						<div class="row lblprnt-study-details">
							<div class="col-xs-6 col-md-6">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.selected.study">Selected study</h2>
								<div *ngIf="metadata else loading">
									<div class="form-group" *ngFor="let key of metadataKeys">
										<label class="control-label">
											<strong>{{key}}</strong>:
										</label>
										<span>{{metadata.get(key)}}</span>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6" *ngIf="labelsNeededSummary else loading">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h2 class="sub-content-heading" jhiTranslate="label-printing.summary.of.labels.needed">
											SUMMARY OF LABELS NEEDED</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<table class="table table-curved table-condensed">
											<thead>
												<tr>
													<th *ngFor="let header of labelsNeededSummary.headers">{{header}}</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let row of labelsNeededSummary.values; odd as odd; even as even">
													<td *ngFor="let header of labelsNeededSummary.headers"
														[ngClass]="{ odd: odd, even: even }">{{row[header]}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12 text-right">
										<label class="control-label label-bold" jhiTranslate="label-printing.total.number.of.labels">
											Total # of Labels to Print</label>: &nbsp;
										<span>{{labelsNeededSummary.totalNumberOfLabelsNeeded}}</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6 col-md-6">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h2 class="sub-content-heading" jhiTranslate="label-printing.choose.label.type">
											CHOOSE LABEL TYPE
										</h2>
									</div>
									<div class="col-xs-12 col-md-12">
										&nbsp;
									</div>
									<div class="col-xs-12 col-md-12 form-group">
										<div class="row">
											<label class="control-label add_top_padding col-xs-4 col-md-4">
												<input type="checkbox" [(ngModel)]="loadSavedSettings" name="loadSavedSettings" checked=""/>   Load saved settings: </label>
											<div class="col-xs-8 col-md-6" style="padding-left: 0px;">
												<select *ngIf="loadSavedSettings" class="form-control" [(ngModel)]="presetSettingId" (ngModelChange)="applySelectedSetting()">
													<option [value]="0">Please Choose</option>
													<option *ngFor="let presetSetting of presetSettings" [value]="presetSetting.id">{{presetSetting.name}}</option>
												</select>
											</div>
											<div class="add_top_padding saved-settings pull-left fbk-left-padding">
												<a *ngIf="loadSavedSettings &&  presetSettingId!=0" href="javascript: void(0);" class="fb-delete-settings"><span
													class="glyphicon glyphicon-trash delete-saved-settings" (click)="deleteSelectedSetting()"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<h2 class="sub-content-heading" jhiTranslate="label-printing.choose.label.output">
											CHOOSE LABEL OUTPUT
										</h2>
									</div>
									<div class="col-xs-12 col-md-12">
										<label class="control-label " jhiTranslate="label-printing.choose.label.use.formats">
											Choose the format you would like to use for your labels:</label>
									</div>
									<div class="col-xs-12 col-md-12 form-group">
										<div class="row">
											<label class="control-label add_top_padding col-xs-4 col-md-4">
												<strong jhiTranslate="label-printing.output.format"></strong>:</label>
											<div class="col-xs-8 col-md-6">
												<select class="form-control" [(ngModel)]="fileType" (ngModelChange)="initDragAndDrop()">
													<option [value]="FILE_TYPES.NONE">Please Choose</option>
													<option [value]="FILE_TYPES.PDF" disabled>Formatted PDF Label Sheets (not available)</option>
													<option [value]="FILE_TYPES.EXCEL" disabled>Excel Data (not available)</option>
													<option [value]="FILE_TYPES.CSV">CSV Data</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="label-printing-details" *ngIf="fileType">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h2 class="sub-content-heading" jhiTranslate="label-printing.choose.label.fields">
										CHOOSE LABEL FIELDS
									</h2>
									<div class="row">
										<label class="control-label add_top_padding col-xs-12 col-md-12" *ngIf="fileType !== FILE_TYPES.PDF">
											Drag fields from the <strong>{{labelTypes[0].title}} </strong>and <strong>{{labelTypes[1].title}}</strong> into <strong>Selected Fields</strong> to add them to your export file.</label>{{diego}}
										<label class="control-label add_top_padding col-xs-12 col-md-12" *ngIf="fileType === FILE_TYPES.PDF">
											Drag fields from the <strong>{{labelTypes[0].title}} </strong>and <strong>{{labelTypes[1].title}}</strong> into <strong>Left Side Fields</strong> and <strong>Right Side Fields</strong> to add them to your export file.</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<div class="row">
													<!-- Usually there are two columns
														 To simplify we split it in two and if there are more (rare)
														 the following ones will just accommodate -->
													<div ngClass="col-xs-6 col-md-6"
														 *ngFor="let labelType of labelTypes">
														<div class="label-type-list">
															<ul class="list-group field-group">
																<li class="list-group-item">
																	<label class="control-label label-bold text-truncate">
																		{{labelType.title}}
																	</label>
																</li>
															</ul>
															<ul id="label-type-fields" class="list-group droppable availableFields"
																[attr.data-label-type-key]="labelType.key">
																<li class="list-group-item text-truncate" *ngFor="let item of labelType.fields"
																	[attr.id]="item.id"
																	[attr.data-label-type-key]="labelType.key">{{item.name}}</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-md-6">
												<div class="row">
													<div class="col-xs-6 col-md-6">
														<ul class="list-group field-group">
															<li class="list-group-item">
																<label class="control-label label-bold" *ngIf="fileType === FILE_TYPES.PDF"
																	   jhiTranslate="label-printing.left.selected.fields">
																</label>
																<label class="control-label label-bold" *ngIf="fileType !== FILE_TYPES.PDF"
																	   jhiTranslate="label-printing.main.selected.fields">
																</label>
															</li>
														</ul>
														<ul id="leftSelectedFields" class="list-group droppable print-fields">
														</ul>

													</div>
													<div class="col-xs-6 col-md-6">
														<div *ngIf="fileType === FILE_TYPES.PDF">
															<ul class="list-group field-group">
																<li class="list-group-item">
																	<label class="control-label label-bold"
																		   jhiTranslate="label-printing.right.selected.fields">
																	</label>
																</li>
															</ul>
															<ul id="rightSelectedFields" class="list-group droppable print-fields">
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="row">
										<div class="col-xs-6 col-md-6">
											<h2 class="sub-content-heading" jhiTranslate="label-printing.barcode.options">
												Barcode Options
											</h2>
											<div class="form-group">
												<label class="control-label label-bold" jhiTranslate="label-printing.do.you.need.bar.codes">Do you need
													barcodes on your labels?</label>
												<label class="radio-inline" style="padding-left: 30px">
													<input type="radio" name="barcodeNeededRadio" [value]="true"
														   [(ngModel)]="labelPrintingData.barcodeNeeded"/>
													<span jhiTranslate="label-printing.do.you.need.bar.codes.yes">Yes</span>
												</label>
												<label class="radio-inline">
													<input checked="checked" type="radio" name="barcodeNeededRadio" [value]="false"
														   [(ngModel)]="labelPrintingData.barcodeNeeded"/>
													<span jhiTranslate="label-printing.do.you.need.bar.codes.no">No</span>
												</label>
											</div>
											<div class="form-group" *ngIf="labelPrintingData.barcodeNeeded">
												<label class="control-label label-bold"
													   jhiTranslate="label-printing.do.you.want.automatically.unique.bar.codes">
													Do you want to use automatically generated unique barcodes?</label>
												<label class="radio-inline" style="padding-left: 30px">
													<input checked="checked" type="radio" name="barcodeGeneratedAutomaticallyRadio"
														   [value]="true" [(ngModel)]="labelPrintingData.barcodeGeneratedAutomatically"/>
													<span jhiTranslate="common.form.yes.text">Yes</span>
												</label>
												<label class="radio-inline">
													<input type="radio" [value]="false" name="barcodeGeneratedAutomaticallyRadio"
														   [(ngModel)]="labelPrintingData.barcodeGeneratedAutomatically"/>
													<span jhiTranslate="common.form.no.text">No</span>
												</label>
											</div>
										</div>
										<div class="col-xs-6 col-md-6" *ngIf="labelPrintingData.barcodeNeeded && !labelPrintingData.barcodeGeneratedAutomatically">
											<div>
												<label class="control-label" jhiTranslate="label-printing.bar.code.note"></label>
											</div>
											<div class="form-group row">
												<div class="col-xs-4 col-md-4">
													<label class="control-label label-bold add_top_padding"
														   jhiTranslate="label-printing.first.bar.code.field"></label>:
												</div>
												<div class="col-xs-8 col-md-8">
													<select [(ngModel)]="labelPrintingData.firstBarcodeField" class="form-control">
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of labelTypesBarCode | allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-4 col-md-4">
													<label class="control-label label-bold add_top_padding"
														   jhiTranslate="label-printing.second.bar.code.field"></label>:
												</div>
												<div class="col-xs-8 col-md-8">
													<select [(ngModel)]="labelPrintingData.secondBarcodeField" class="form-control" >
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of labelTypesBarCode | allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-4 col-md-4">
													<label class="control-label label-bold add_top_padding"
														   jhiTranslate="label-printing.third.bar.code.field"></label>:
												</div>
												<div class="col-xs-8 col-md-8">
													<select [(ngModel)]="labelPrintingData.thirdBarcodeField" class="form-control">
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of labelTypesBarCode | allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<h2 class="sub-content-heading" jhiTranslate="label-printing.set.the.filename">
													Specify the name of the label file
												</h2>
												<div class="row">
													<div class="col-xs-4 col-md-4">
														<label class="control-label label-bold add_top_padding"
															   jhiTranslate="label-printing.filename">:</label><span class="required">*</span>
													</div>
													<div class="col-xs-8 col-md-8">
														<input type="text" class="form-control" [(ngModel)]="labelPrintingData.filename"
															   placeholder="Filename"/>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-md-6">
												<h2 class="sub-content-heading" jhiTranslate="label-printing.save.label.settings">
													Save label settings
												</h2>
												<div>
													<label class="control-label"
														   jhiTranslate="label-printing.choose.preset.text"></label>
												</div>
												<div class="row">
														<label class="control-label add_top_padding col-xs-4 col-md-3"><strong
															   jhiTranslate="label-printing.save.label.settings.name.note"></strong>:</label>
													<div class="col-xs-8 col-md-5">
														<input type="text" class="form-control" [(ngModel)]="labelPrintingData.settingsName"
															   placeholder="Settings Name"/>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div> <!-- /label-printing-details -->
						</div>

						<div class="row">
							<div class="col-xs-12 col-md-12">
								&nbsp;
							</div>
						</div>

						<div class="row">
							<!-- Navigation Buttons -->
							<div class="form-group">
								<div class="col-xs-12 col-md-12 fbk-center">
									<input type="button" onclick="window.history.back();" value="Cancel" class="btn btn-default"/>
									<!-- TODO -->
									<input type="button" id="fbk-lbl-printing-save-preset" (click)="savePresets()" value="Save Preset" class="btn btn-info"/>
									<input type="button" *ngIf="fileType" (click)="printLabels()" value="Export Label" class="btn btn-primary" />
								</div>
							</div>
						</div>

						<div class="row">
							&nbsp;
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div style=" display: flex; justify-content: center; align-items: center; ">
		<span class="throbber throbber-2x"></span>
	</div>
</ng-template>
<jhi-alert></jhi-alert>
