<div>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-md-12">
			<h1>
				<span jhiTranslate="label-printing.title">EXPORT DATA / LABEL PRINTING</span>&nbsp;
				<a href="{{helpLink}}" target="_blank"><i class="fa fa-info-circle bms-helpicon"></i></a>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card panel-default">
				<div class="card-body">
					<div *ngIf="initComplete else loading">
						<div class="row">
							<h2 class="col-md-12" *ngIf="isLabelPrinting()" jhiTranslate="label-printing.header.print.labels">Print labels</h2>
							<h2 class="col-md-12" *ngIf="!isLabelPrinting()" jhiTranslate="label-printing.header.export.data">Export data</h2>
						</div>
						<div class="row" *ngIf="hasHeader()">
							<div class="col-md-6">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.selected.study">Selected study</h2>
								<div>
									<div *ngFor="let key of metadataKeys">
										<label class="col-form-label font-weight-bold">
											{{key}}:&nbsp;
										</label>
										<span>{{metadata.get(key)}}</span>
									</div>
								</div>
							</div>
							<div class="col-md-6" *ngIf="isLabelPrinting()">
								<div class="row">
									<div class="col-md-12">
										<h2 class="sub-content-heading" jhiTranslate="label-printing.summary.of.labels.needed">
											SUMMARY OF LABELS NEEDED</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table table-striped table-bordered">
											<thead>
											<tr>
												<th *ngFor="let header of labelsNeededSummary.headers">{{header}}</th>
											</tr>
											</thead>
											<tbody>
											<tr *ngFor="let row of labelsNeededSummary.values;">
												<td *ngFor="let header of labelsNeededSummary.headers">{{row[header]}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-right">
										<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.total.number.of.labels">
											Total # of Labels to Print</label>:&nbsp;
										<span>{{labelsNeededSummary.totalNumberOfLabelsNeeded}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="isForGermplasmListLabelPrinting()">
							<div class="col-md-6">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.selected.germplasm.list">Selected List</h2>
								<div>
									<div *ngFor="let key of metadataKeys">
										<label class="col-form-label font-weight-bold">
											{{key}}:&nbsp;
										</label>
										<span>{{metadata.get(key)}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.preset.heading">
									Preset options
								</h2>
								<div class="col-md-12 ">
									<div class="row">
										<div class="form-check col-md-4">
											<input type="checkbox" class="form-check-input" [(ngModel)]="loadSavedSettings" name="loadSavedSettings" checked=""/>
											<label class="form-check-label"> Load saved settings: </label>
										</div>
										<div class="col-md-6" style="padding-left: 0px;">
											<select *ngIf="loadSavedSettings" class="form-control" [(ngModel)]="presetSettingId" (ngModelChange)="applySelectedSetting()">
												<option [value]="0">Please Choose</option>
												<option *ngFor="let presetSetting of presetSettings" [value]="presetSetting.id">{{presetSetting.name}}</option>
											</select>
										</div>
										<div class="col-md-1 form-control-plaintext">
											<a *ngIf="loadSavedSettings &&  presetSettingId!=0"><span class="fa fa-trash" (click)="deleteSelectedSetting()"></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.choose.output">
									CHOOSE OUTPUT
								</h2>
								<div class="col-md-12 row" style="margin-bottom: 0px;">
									<label class="col-form-label " jhiTranslate="label-printing.choose.format">
										Choose the format you would like to use:</label>
								</div>
								<div class="row">
									<label class="col-md-5 col-form-label font-weight-bold" jhiTranslate="label-printing.output.format">:</label>
									<div class="col-md-6">
										<select class="form-control" [(ngModel)]="fileType" (ngModelChange)="reset()">
											<option [value]="FILE_TYPES.NONE">Please Choose</option>
											<option [value]="FILE_TYPES.PDF">Formatted PDF Label Sheets</option>
											<option [value]="FILE_TYPES.EXCEL">Excel Data</option>
											<option [value]="FILE_TYPES.CSV">CSV Data</option>
										</select>
									</div>
								</div>
								<div *ngIf="sortableFields != null && sortableFields.length !=0" class="row">
									<label class="col-md-5 col-form-label font-weight-bold" jhiTranslate="label-printing.sort.label.by">:</label>
									<div class="col-md-6">
										<select class="form-control" [(ngModel)]="sortBySelected">
											<option value="">Please Choose</option>
											<ng-container *ngFor="let sortableField of sortableFields">
												<option [value]="sortableField.sortBy">
													<label>{{sortableField.fieldName}}</label>
												</option>
											</ng-container>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="fileType === FILE_TYPES.PDF">
							<div class="col-md-12">
								<h2 class="sub-content-heading" jhiTranslate="label-printing.specify.label.stock">
								</h2>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<label class="col-form-label" jhiTranslate="label-printing.enter.specs.for.label"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.size.of.label.sheet"></label>:
									</div>
									<div class="col-md-5">
										<select [(ngModel)]="labelPrintingData.sizeOfLabelSheet" class="form-control">
											<option value="1" jhiTranslate="label-printing.label.size.a4">A4</option>
											<option value="2" jhiTranslate="label-printing.label.size.letter">Letter</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.number.of.rows.per.page"></label>:
									</div>
									<div class="col-md-5">
										<select [(ngModel)]="labelPrintingData.numberOfRowsPerPage" class="form-control">
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="10">10</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-12">&nbsp;</div>
								<div class="col-md-12">
									<br/>
									<em jhiTranslate="label-printing.specify.label.details.message"></em>
								</div>
							</div>
						</div>
						<div *ngIf="fileType">
							<div class="col-md-12">
								<h2 class="row sub-content-heading" jhiTranslate="label-printing.choose.fields">
									CHOOSE FIELDS
								</h2>
								<div class="row" *ngIf="fileType !== FILE_TYPES.PDF">
									<label class="form-check form-check-inline font-weight-bold" jhiTranslate="label-printing.include.headings">Include column headings in XLS export?</label>
									<label class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="include-heading-options" [value]="true" [(ngModel)]="labelPrintingData.includeHeadings">
										<span jhiTranslate="label-printing.include.headings.yes">Yes</span>
									</label>
									<label class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="include-heading-options" [value]="false" [(ngModel)]="labelPrintingData.includeHeadings">
										<span jhiTranslate="label-printing.include.headings.no">No</span>
									</label>
								</div>
								<div class="row">
									<div [innerHTML]="getChooseLabelDescription()"></div>
								</div>
							</div>
							<div class="col-md-12">
								<h2 class="row sub-content-heading">
									&nbsp;
								</h2>
								<div class="row" cdkDropListGroup>
									<div class="col-md-6">
										<div class="row">
											<div *ngFor="let labelType of labelTypes">
												<div class="label-printing-container">
													<div class="field-group">
														<div class="list-group-item col-form-label font-weight-bold">
															<label  (click)="collapsedMap[labelType.title] = !collapsedMap[labelType.title]">
																<i [ngClass]="collapsedMap[labelType.title]?'fa fa-caret-right fa-lg':'fa fa-caret-down fa-lg'" aria-hidden="true"> </i>
																{{labelType.title}}
															</label>
															<div *ngIf="!collapsedMap[labelType.title]">
																<div class="input-group mb-3">
																	<input #search type="text" class="form-control" placeholder="Search list" aria-label="Search list" aria-describedby="clearSearch"
																		   [(ngModel)]="selectedFilterTextMap[labelType.title]">
																	<button class="btn btn-secondary" type="button" id="clearSearch" (click)="selectedFilterTextMap[labelType.title] = ''">Clear</button>
																</div>
															</div>
														</div>
													</div>
													<div *ngIf="!collapsedMap[labelType.title]" id="{{labelType.title}}"
														 cdkDropList
														 [cdkDropListData]="labelType.fields"
														 class="label-printing-list"
														 (cdkDropListDropped)="drop($event)">
														<div class="label-box"
															 cdkDrag [cdkDragData]="item"
															 *ngFor="let item of labelType.fields | fieldListFilter: selectedFilterTextMap[labelType.title]">
															<div class="label-printing-custom-placeholder" *cdkDragPlaceholder></div>
															{{item.name}}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div *ngFor="let labelType of fieldsSelected">
												<div class="label-printing-container">
													<div class="field-group">
														<label class="list-group-item col-form-label font-weight-bold">
															{{labelType.title}}
															<a class="float-right" href (click)="resetSelectedFieldsTable($event,labelType)"
															   jhiTranslate="label-printing.remove.selected.fields"> Remove all</a>
															<div class="input-group mb-3" style="padding-top: 5px;">
																<input #search type="text" class="form-control" placeholder="Search list" aria-label="Search list" aria-describedby="clearSearch"
																	   [(ngModel)]="selectedFilterTextMap[labelType.title]">
																<button class="btn btn-secondary" type="button" id="clearSearch" (click)="selectedFilterTextMap[labelType.title] = ''">Clear</button>
															</div>
														</label>
													</div>
													<div id="{{labelType.title}}"
														 cdkDropList
														 [cdkDropListData]="labelType.fields"
														 class="label-printing-list"
														 (cdkDropListDropped)="drop($event)">
														<div class="label-box"
															 cdkDrag [cdkDragData]="item"
															 *ngFor="let item of labelType.fields | fieldListFilter: selectedFilterTextMap[labelType.title]">
															<div class="label-printing-custom-placeholder" *cdkDragPlaceholder></div>
															<div>
																<button (click)="removeItem(labelType.fields,item)" type="button" class="btn label-printing-remove-item">
																	<span class="fa fa-times-circle"></span>
																</button>
																<label class="form-label" style="margin-left: 5px;">{{item.name}}</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Barcodes section -->
							<div class="row" *ngIf="isLabelPrinting()">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-6">
											<h2 class="sub-content-heading" jhiTranslate="label-printing.barcode.options">
												Barcode Options
											</h2>
											<div>
												<label class="form-check form-check-inline font-weight-bold" jhiTranslate="label-printing.do.you.need.bar.codes"> Do you need barcodes on your labels?</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="barcodeNeededRadio" [value]="true" [(ngModel)]="labelPrintingData.barcodeNeeded"/>
													<span jhiTranslate="label-printing.do.you.need.bar.codes.yes">Yes</span>
												</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" checked="checked" type="radio" name="barcodeNeededRadio" [value]="false" [(ngModel)]="labelPrintingData.barcodeNeeded"/>
													<span jhiTranslate="label-printing.do.you.need.bar.codes.no">No</span>
												</label>
											</div>
											<div *ngIf="labelPrintingData.barcodeNeeded">
												<label class="form-check form-check-inline font-weight-bold" jhiTranslate="label-printing.do.you.want.automatically.unique.bar.codes"> Do you want to use automatically generated unique barcodes?</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" checked="checked" type="radio" name="barcodeGeneratedAutomaticallyRadio" [value]="true" [(ngModel)]="labelPrintingData.barcodeGeneratedAutomatically"/>
													<span jhiTranslate="common.form.yes.text">Yes</span>
												</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" type="radio" [value]="false" name="barcodeGeneratedAutomaticallyRadio" [(ngModel)]="labelPrintingData.barcodeGeneratedAutomatically"/>
													<span jhiTranslate="common.form.no.text">No</span>
												</label>
											</div>
										</div>
										<div class="col-md-6" *ngIf="labelPrintingData.barcodeNeeded && !labelPrintingData.barcodeGeneratedAutomatically">
											<div>
												<label class="col-form-label" jhiTranslate="label-printing.bar.code.note"></label>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label class="col-form-label font-weight-bold"
																   jhiTranslate="label-printing.first.bar.code.field"></label>:
												</div>
												<div class="col-md-8">
													<select [(ngModel)]="labelPrintingData.firstBarcodeField" class="form-control">
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.second.bar.code.field"></label>:
												</div>
												<div class="col-md-8">
													<select [(ngModel)]="labelPrintingData.secondBarcodeField" class="form-control">
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.third.bar.code.field"></label>:
												</div>
												<div class="col-md-8">
													<select [(ngModel)]="labelPrintingData.thirdBarcodeField" class="form-control">
														<option [value]="0" jhiTranslate="label-printing.bar.code.please.choose.field">Please choose</option>
														<option *ngFor="let field of allLabels" [value]="field.id">
															{{field.name}}
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- /Barcodes section -->
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-6">
											<h2 class="sub-content-heading" jhiTranslate="label-printing.filename.description">
												Specify the name of the file
											</h2>
											<div class="row">
												<div class="col-md-3">
													<label class="col-form-label font-weight-bold" jhiTranslate="label-printing.filename">:</label>
												</div>
												<div class="col-md-5">
													<input type="text" class="form-control" [(ngModel)]="labelPrintingData.filename" placeholder="Filename" required/>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<h2 class="sub-content-heading" jhiTranslate="label-printing.save.preset.heading">
												Save settings
											</h2>
											<div>
												<label class="col-form-label"
													   jhiTranslate="label-printing.choose.preset.text"></label>
											</div>
											<div class="row">
												<label class="col-form-label col-md-3 font-weight-bold" jhiTranslate="label-printing.save.preset.name.note">:</label>
												<div class="col-md-5">
													<input type="text" class="form-control" [(ngModel)]="labelPrintingData.settingsName" placeholder="Settings Name"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> <!-- /label-printing-details -->
						</div>
						<div class="row">
							<div class="col-md-12">
								&nbsp;
							</div>
						</div>
						<div class="modal-footer">
							<button onclick="javascript:window.history.back();" type="button" class="btn btn-secondary" value="Cancel">
								<span class="fa fa-ban"></span>&nbsp;Cancel
							</button>
							<button *ngIf="fileType" id="fbk-lbl-printing-save-preset" (click)="savePresets()" class="btn btn-info">
								<span class="fa fa-save"></span>&nbsp;Save Preset
							</button>
							<button *ngIf="fileType" (click)="export()" class="btn btn-primary" [disabled]="isLoading">
								<span *ngIf="isLoading" class="throbber throbber-btn"></span>
								Export
							</button>
						</div>
						<div class="row">
							&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #loading>
	<div style=" display: flex; justify-content: center; align-items: center; margin: 20px ">
		<span class="throbber throbber-2x"></span>
	</div>
</ng-template>
