<!-- main app container -->
<div class="container">
	<div class="modal-header">
		<h4 class="modal-title font-weight-bold" id="updatePersonalHeader" jhiTranslate="program.create.title">Add a new Program</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;
		</button>
	</div>
	<div class="modal-body">
		<form name="form" #f="ngForm">
			<div class="form-group row required">
				<label for="crop" class="col-sm-4 col-form-label font-weight-bold" jhiTranslate="program.crop">Crop</label>
				<div class="col-sm-6">
					<ng-select2 name="cropDropdown" id="cropDropdown" width="100%" data-test="cropDropdown"
								[data]="crops | CropSelect2Data"
								[(ngModel)]="cropName"
								placeholder="Select crop"
								[allowClear]="true"
								(ngModelChange)="onCropChange()">
					</ng-select2>
				</div>
				<div class="col-sm-auto">
					<div class="throbber" *ngIf="isLoading"></div>
				</div>
			</div>
			<div class="form-group row required">
				<label for="programName" class="col-sm-4 col-form-label font-weight-bold" jhiTranslate="program.program-name">Program Name</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="name" id="name" data-test="programNameTextbox"
						   [(ngModel)]="program.name" #programName="ngModel" [maxLength]="50" required/>
				</div>
			</div>
			<div class="form-group row required">
				<label class="col-sm-4 col-form-label font-weight-bold" jhiTranslate="program.program-start-date">Program Start Date</label>
				<div class="input-group col-sm-4">
					<input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="startDate" data-test="startDateTextbox"
						   ngbDatepicker #date="ngbDatepicker" id="date" name="date" required/>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"></button>
					</div>
				</div>
			</div>
			<div class="form-group row required">
				<label for="dropdownLocations" class="col-sm-4 col-form-label font-weight-bold" jhiTranslate="program.program-default-location">Location</label>
				<div class="col-sm-7">
					<jhi-locations-select [(value)]="defaultLocationId" [cropName]="cropName" [showFilterOptions]="true" [disabled]="!cropName"></jhi-locations-select>
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
				<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
			</button>
			<button (click)="create(f)" [disabled]="!isFormValid(f)" class="btn btn-primary" data-test="saveProgramButton">
				<span *ngIf="isLoading" class="throbber throbber-btn"></span>
				<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
			</button>
		</div>
	</div>
</div>

