<div class="om-am-view">

	<button class="btn btn-default" ng-click="goBack()">{{'button.back' | translate}}</button>

	<h2>{{'addNew.method.title' | translate}}</h2>

	<div ng-if="serverErrors.general" class="alert alert-danger" role="alert">
		<ul>
			<li ng-repeat="error in serverErrors.general">{{error}}</li>
		</ul>
	</div>

	<form class="form-horizontal" name="amForm" ng-submit="saveMethod($event, method)" novalidate>
		<div ng-class="formGroupClass('omName')">
			<label for="omName" class="col-sm-2 control-label">{{'formField.name' | translate}}</label>
			<div class="col-sm-10">
				<om-input om-name="omName" om-property="name" om-adding="true" om-model="method" om-required="true" om-max-length="200"></om-input>
				<ng-messages for="amForm.omName.$error" ng-if="amForm.$submitted || amForm.omName.$touched">
					<ng-message when="required"><p class="text-danger">{{'validation.method.nameRequired' | translate}}</p></ng-message>
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-repeat="error in serverErrors.name">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omDescription')">
			<label for="omDescription" class="col-sm-2 control-label">{{'formField.description' | translate}}</label>
			<div class="col-sm-10">
				<om-text-area om-name="omDescription" om-property="description" om-adding="true" om-model="method" om-max-length="255"></om-text-area>
				<ng-messages for="amForm.omDescription.$error" ng-if="amForm.$submitted || amForm.omDescription.$touched">
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "255"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-repeat="error in serverErrors.description">{{error}}</p>
			</div>
		</div>
		<input class="btn btn-primary" type="submit" value="{{'button.save' | translate}}"></input>
	</form>
</div>
