.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f3f5f7;
}
.om-title {
    margin-top: 24px;
    margin-top: 1.5rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}
.table>tbody .clickable-row {
    cursor: pointer
}
tr + .om-no-items {
    display: none;
}
.h1,
h1 {
    font-size: 24px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit
}

h1 {
    margin: .67em 0
}

header > nav > ol > li {
	text-align: center;
	font-weight: bold;
}

/* FIXME */
/* Temp Fix for form control feedback */
.form-control-feedback {
    display: none;
}
.has-error .form-control-feedback {
    display: block;
}

users-admin app-dialog div.modal-footer {
    text-align: center;
}

users-admin app-dialog div.modal-footer > .message {
    position: absolute;
    left: 15px;
    padding: 6px 12px;
}

@media (max-width: 768px){
    /* XXX */
    .has-inline-form-controls input {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px){
    .popup .modal-dialog {
        width: 470px;
        margin: 30px auto;
    }

    .popup-center-text{
      text-align: center;
      color: #6F889B;
    }

    #filters.form-inline .form-group {
        margin-right: 15px;
    }
}

.crop-badge {
    border-radius: 4px;
    background-color: #e6e6e6;
    padding: 6px 12px;
    border: 1px solid #cac8c8;
    margin: -5px 0;
    display: inline-block;
}
