<div class="container" data-test="editNameTypeDialog">
	<div class="modal-header">
		<div class="col-xs-11 col-md-11">
			<h4 class="modal-title font-weight-bold">
				<span *ngIf="nameTypeId" jhiTranslate="crop-settings-manager.name-type.modal.edit.header"></span>
				<span *ngIf="!nameTypeId" jhiTranslate="crop-settings-manager.name-type.modal.create.header"></span>
			</h4>
		</div>
		<div class="col-xs-1 col-md-1">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
					(click)="clear()">&times;
			</button>
		</div>
	</div>
	<div class="modal-body">
		<form name="form" #f="ngForm">
			<div class="form-group row">
				<label for="nameTypeCode" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="crop-settings-manager.name-type.code">Code</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="code" id="code" [(ngModel)]="nameType.code" #nameTypeCode="ngModel" [maxLength]="50" [required]="true"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="nameTypeName" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="crop-settings-manager.name-type.name">Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="name" id="name" [(ngModel)]="nameType.name" #nameTypeName="ngModel" [maxLength]="50" [required]="true"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="nameTypeDescription" class="col-sm-3 col-form-label font-weight-bold" jhiTranslate="crop-settings-manager.name-type.description">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="description" id="description" [(ngModel)]="nameType.description" #nameTypeDescription="ngModel" [maxLength]="255"/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="cancel"></span>
		</button>
		<button (click)="save()" [disabled]="!isFormValid(f)" class="btn btn-primary" data-test="createNameTypeButton">
			<span *ngIf="isLoading" class="throbber throbber-btn"></span>
			<span class="fa fa-save"></span>&nbsp;
			<span *ngIf="nameTypeId" jhiTranslate="update"></span>
			<span *ngIf="!nameTypeId" jhiTranslate="create"></span>
		</button>
	</div>
</div>

