<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <base href="./">
  <title>BMS Angular 2 frontend</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/controller/static/lib/angular-ui-select/angular-ui-select.min.css}" rel="stylesheet"></link>
  <link th:href="@{/controller/static/lib/styleGuide/css/styleGuide.min.css}" rel="stylesheet"></link>
  <link th:href="@{/controller/static/lib/font.css}" rel="stylesheet"></link>
  <link th:href="@{/controller/static/lib/bootstrap-modal/bootstrap-modal.css}" rel="stylesheet"></link>
  <link th:href="@{/controller/static/lib/notify/ui.notify.css}" rel="stylesheet"></link>
  <link th:href="@{/controller/static/css/access-denied.css}" rel="stylesheet"/>
  <link th:href="@{/controller/static/lib/font-awesome-4.2.0/css/font-awesome.css}" rel="stylesheet"/>

  <!-- Polyfill(s) for older browsers -->
  <script th:src="@{/controller/static/js/lib/shim/shims_for_IE.js}"></script>

  <script th:src="@{/controller/static/js/lib/polyfill/typedarray.js}"></script>
  <script th:src="@{/controller/pages/angular2/lib/es6-shim/es6-shim.min.js}"></script>
  <script th:src="@{/controller/pages/angular2/lib/zone.js/dist/zone.js}"></script>
  <script th:src="@{/controller/pages/angular2/lib/reflect-metadata/Reflect.js}"></script>
  <script th:src="@{/controller/pages/angular2/lib/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/controller/pages/angular2/lib/select2/dist/js/select2.min.js}" charset="utf-8"></script>
  <script th:src="@{/controller/pages/angular2/lib/systemjs/dist/system.src.js}"></script>
  <script th:src="@{/controller/pages/angular2/admin/systemjs.config.js}"></script>

  <script type="text/javascript" th:src="@{/controller/static/js/lib/modernizr-custom.js}"></script>
  <script type="text/javascript" th:src="@{/controller/static/js/access-denied.js}"></script>

  <style type="text/css">
    .throbber {
      margin: 20px;
    }
  </style>

  <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>

  <script th:inline="javascript">
    /*<![CDATA[*/
    // Add enableTwoFactorAuthentication to the window variable
    // to pass its value to the Angular app.
    // Passing the value through @Input() doesn't work in root component (https://github.com/angular/angular/issues/36898)
    window.enableTwoFactorAuthentication = /*[[${enableTwoFactorAuthentication}]]*/ false;
    /*]]>*/
  </script>
</head>

<!-- 3. Display the application -->

<body>
  <app>
    <span class="throbber throbber-lg"></span>
  </app>
</body>

</html>
