<div class="container-fluid pt-3">
	<jhi-collapsible heading="{{translateService.instant('inventory.inventory-information.title')}}">
		<div class="container-fluid">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-curved" *ngIf="lots.length else nodata">
					<thead>
					<tr>
						<th scope="col" jhiTranslate="inventory.inventory-information.location">Location</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.actual-balance">Actual Balance</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.available">Available</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.lot-status">Lot Status</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.comment">Comment</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.stockid">StockID</th>
						<th scope="col" jhiTranslate="inventory.inventory-information.lot_id">Lot_ID</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let lot of lots">
						<td>{{lot.locationName}}</td>
						<td>{{lot.actualBalance}}</td>
						<td>{{lot.availableBalance}}</td>
						<td>{{lot.status}}</td>
						<td>{{lot.notes}}</td>
						<td>{{lot.stockId}}</td>
						<td>{{lot.lotId}}</td>
					</tr>
					</tbody>
				</table>
				<ng-template #nodata>
					<table class="table table-striped table-bordered table-curved">
						<thead>
						<tr>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td jhiTranslate="no.data"></td>
						</tr>
						</tbody>
					</table>
				</ng-template>
			</div>
		</div>
	</jhi-collapsible>
</div>