<div class="modal-header">
	<h4 class="modal-title">
		<span jhiTranslate="cop.matrix.header"></span>
	</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</button>
</div>
<div class="modal-body">
	<div>
		<i class="throbber" *ngIf="isLoading"></i>
	</div>
	<div class="table-responsive" *ngIf="!isProcessing() else asyncInProgress">
		<table class="table table-striped table-bordered table-curved">
			<thead>
			<tr>
				<th *ngFor="let gid of array[0]">{{gid}}</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let row of array.slice(1)">
				<td *ngFor="let col of row; index as i" [class.font-weight-bold]="i === 0">{{col}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<ng-template #asyncInProgress>
		<div class="alert alert-success" role="alert">
			<i class="fa fa-check"></i><span class="pl-3" jhiTranslate="cop.async.in.progress"></span>
		</div>
	</ng-template>
</div>
