<style type="text/css">
.bmPopupLayout { max-width: 360px; padding-left: 5px !important; padding-right: 5px !important;}
.bmPopupWrap td { font-size: 10pt; }
.bmPopupWrap span.b { font-weight: bold; }
.bmPopupWrap tr.label {margin-top: 5px;}

div.blPopupWrap h1 div.v-label {
	word-wrap: break-word !important;
	font-weight: bold !important; line-height: 30px !important;
}

div.blPopupWrap div.v-label {
	display: inline; width: 100% !important;
}

.odd { background-color: #F5F5F5;  }

</style>

<div class="blPopupWrap">
	<h1 location='mtitle'>Test</h1>
	
	<table width="350">
		<tr>
			<!-- <td class="label">Description:</td> -->
			<td colspan="2"><span location="ldesc"></span></td>
		</tr>
		<tr>
			<td class="label" width="50"><span class="b"><b>Location Name:</b></span></td><td> <span location="lname"></span></td>
		</tr><tr>
			<td class="label" width="50"><span class="b"><b>Country Full Name:</b></span> </td><td><span location="lcountry"></span></td>
		</tr><tr>	
			<td class="label" width="50"><span class="b"><b>Location Abbreviation:</b></span> </td><td><span location="labbrv"></span></td>
		</tr><tr>	
			<td class="label" width="50"><span class="b"><b>Location Type:</b></span> </td><td><span location="ltype"></span></td>
		</tr>
	</table>	
</div>
	   		 