<style type="text/css">
.bmPopupLayout { max-width: 360px; }
.bmPopupWrap .v-label { display: inline; }

.bmPopupWrap td { font-size: 10pt; }
.bmPopupWrap td.v-label { font-weight: bold; vertical-align: top; }
.bmPopupWrap h1 .v-label { line-height: 25px; }
</style>

<div class="bmPopupWrap">
	<h1 location='mtitle'>Test</h1>
	
	<table>
		<tr>
			<td class="label">Description:</td>
			<td><span location="mdesc"></span></td>
		</tr>
		<tr>
			<td class="label">mgrp:</td>
			<td><span location="mgrp"></span></td>
		</tr>
		<tr>
			<td class="label">mcode:</td>
			<td><span location="mcode"></span></td>
		</tr>
		<tr>
			<td class="label">Date:</td>
			<td><span location="mdate"></span></td>
		</tr>
	</table>
	
</div>
	   		 