<style type="text/css">
    .v-app-WorkbenchContentApp{background:#EE8033 url("/ibpworkbench/VAADIN/themes/gcp-default/images/ibp_logo2.jpg") no-repeat}
    .wrap{margin:7em}
    #error_title{color: white;font-weight: 300;font-size: 5em;text-align: right;}
    #error_message{color: white;font-size: 3em;text-align: right;}
    .wrap .v-label {line-height: inherit}
    .wrap strong{color:#f7d08c}
</style>

<div class="wrap">
    <h1 id="error_title">Baka~ I..it's not like there's a bug in my system or anything. It's just that you did something wrong.. you bakaaa!! hmph. >_<</h1>
    <div id="error_message" location="error_message"></div>
</div>