<style type="text/css">
.helpPopup { margin-top: 50px; }
.helpPopup #help_download_section { text-align: center; }
.helpPopup #help_pdf_link, .helpPopup #help_html_link  { display: inline-block; margin: 20px; text-align: center; }
.helpPopup #help_mail { text-decoration: none; } 
</style>

<div class="helpPopup">
	<h1 id="help_header">HELP</h1>
	<div id="help_section1">The user manual for the Breeding Management System is available in a PDF and an HTML version, which you can access using the links below.</div>
	<div id="help_download_section">
		<div id="help_pdf_link" location="pdf_link">&nbsp;</div>
		<div id="help_html_link" location="html_link">&nbsp;</div>
	</div>
	<div id="help_section2">You can also find a range of tutorials and sample files in the <i>Documents</i> and <i>Examples</i> folder inside your BMS Installation directory. If you need additional assistance installing or using the application, you can contact our support team at 
	<a id="help_mail" href="mailto:support@vsni.co.uk" target="_blank">support@vsni.co.uk</a>.</div>
</div>
	   		 