<html>
<head>
<title></title>
</head>
<script type="text/javascript" src="/ibpworkbench/VAADIN/themes/gcp-default/jquery-1.7.2.js"></script>
<div style="display: none">
<form id="loginForm" name="LoginForm" method="post" action="http://localhost:8080/GDMS/login.do">
    <input type="text" name="uname" value="kalyani">
    <input type="text" name="password" value="gdms">
    <input type="submit" value="Submit" name="login">
</form>
</div>

<script type="text/javascript">
    jQuery("#loginForm").submit();
</script>

</html>