<div class="om-as-view">

	<button ng-click="goBack()">{{'button.back' | translate}}</button>

	<h2>{{'add-new.scale.title' | translate}}</h2>
	<form>
		<button ng-click="saveScale($event, scale)" type="submit">{{'button.save' | translate}}</button>

		<om-input om-id="om-name" om-label="{{'form-field.name' | translate}}" om-property="name" om-adding="true" om-model="scale"></om-input>

		<om-text-area om-id="om-description" om-label="{{'form-field.description' | translate}}" om-property="description" om-adding="true" om-model="scale"></om-text-area>

		<div>
			<label for="om-as-type">{{'form-field.data-type' | translate}}</label>

			<ui-select name="om-as-type" id="om-as-type" ng-model="scale.dataType" theme="select2">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="type in types | filter: $select.search">
					{{type.name}}
				</ui-select-choices>
			</ui-select>
		</div>

		<om-range ng-show="showRangeWidget" om-property="validValues" om-adding="true" om-model="scale"></om-range>

		<om-categories ng-show="showCategoriesWidget" om-property="validValues" om-adding="true" om-model="scale"></om-categories>
	</form>
</div>

