<div class="om-as-view">

	<h2 class="om-title">{{'addNew.scale.title' | translate}}</h2>

	<om-error-list om-errors-already-translated="serverErrors.general" om-errors-to-translate="serverErrors.someListsNotLoaded">
	</om-error-list>

	<form class="form-horizontal" name="asForm" ng-submit="saveScale($event, scale)" novalidate>

		<div ng-class="formGroupClass('omName', 'name')">
			<label for="omName" class="col-sm-2 control-label label-required">{{'formField.name' | translate}}</label>
			<div class="col-sm-7">
				<om-input om-name="omName" om-property="name" om-adding="true" om-model="scale" om-required="true" om-max-length="200"></om-input>
				<ng-messages for="asForm.omName.$error" ng-if="asForm.$submitted || asForm.omName.$touched">
					<ng-message when="required"><p class="text-danger">{{'validation.scale.nameRequired' | translate}}</p></ng-message>
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="asForm.omName.$touched" ng-repeat="error in serverErrors.name">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omDescription', 'description')">
			<label for="omDescription" class="col-sm-2 control-label">{{'formField.description' | translate}}</label>
			<div class="col-sm-7">
				<om-text-area om-name="omDescription" om-property="description" om-adding="true" om-model="scale" om-max-length="1024"></om-text-area>
				<ng-messages for="asForm.omDescription.$error" ng-if="asForm.$submitted || asForm.omDescription.$touched">
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "1024"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="asForm.omDescription.$touched" ng-repeat="error in serverErrors.description">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omDataType', 'dataType')">
			<label for="omDataType" class="col-sm-2 control-label label-required">{{'formField.dataType' | translate}}</label>
			<div class="col-sm-7">
				<om-select name="omDataType" om-name="om-data-type" om-property="dataType" om-adding="true" ng-model="scale" om-options="types" om-required="true"></om-select>
				<ng-messages for="asForm.omDataType.$error" ng-if="asForm.$submitted || asForm.omDataType.$touched">
					<ng-message when="required"><p class="text-danger">{{'validation.scale.dataTypeRequired' | translate}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="asForm.omDataType.$touched" ng-repeat="error in serverErrors.dataType">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omRange', 'validValues')" ng-show="showRangeWidget">
			<label for="omRange" class="col-sm-2 control-label">{{'addNew.scale.validRange' | translate}}</label>
			<div class="col-sm-7">
				<om-range name="omRange" om-property="validValues" om-adding="true" ng-model="scale" om-numeric="showRangeWidget" om-min="-999999999" om-max="999999999"></om-range>
				<ng-messages for="asForm.omRange.$error" ng-messages-include="range-validation-messages" multiple ng-if="asForm.$submitted || asForm.omRange.$touched"></ng-messages>
				<p class="text-danger" ng-hide="asForm.omRange.$touched" ng-repeat="error in serverErrors.validValues">{{error}}</p>
			</div>
		</div>

		<div ng-show="showCategoriesWidget">
			<div ng-class="formGroupClass('omCategories', 'validValues')">
				<label for="omCategories" class="col-sm-2 control-label label-required">{{'addNew.scale.categories' | translate}}</label>
				<div class="col-sm-7">
					<om-categories name="omCategories" om-property="validValues" om-adding="true" ng-model="scale" om-categorical="showCategoriesWidget"></om-categories>
					<ng-messages for="asForm.omCategories.$error" ng-if="asForm.$submitted || asForm.omCategories.$touched">
						<ng-message when="emptyValue"><p class="text-danger">{{'validation.scale.emptyValue' | translate}}</p></ng-message>
						<ng-message when="nonUniqueName"><p class="text-danger">{{'validation.scale.nonUniqueName' | translate}}</p></ng-message>
						<ng-message when="nonUniqueValue"><p class="text-danger">{{'validation.scale.nonUniqueValue' | translate}}</p></ng-message>
					</ng-messages>
					<p class="text-danger" ng-hide="asForm.omCategories.$touched" ng-repeat="error in serverErrors.validValues">{{error}}</p>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div ng-hide="confirmationNecessary" class="col-sm-offset-2 col-sm-7">
				<button class="btn btn-primary" type="submit" data-test="saveScaleButton">
					{{'button.save' | translate}}
					<span ng-show="submitted" class="throbber-btn-wrapper">
						<span class="throbber throbber-btn throbber-white"></span>
					</span>
				</button>
				<a href="#" ng-click="cancel($event)">{{'button.cancel' | translate}}</a>
			</div>
			<div ng-show="confirmationNecessary" class="col-sm-offset-2 col-sm-7">
				<div class="alert alert-danger">{{'warnings.discardConfirmation' | translate}}</div>
				<button class="btn btn-danger" ng-click="confirm($event)">
					{{'button.discard' | translate}}
				</button>
				<a href="#" ng-click="deny($event)">{{'button.continueEditing' | translate}}</a>
			</div>
		</div>
	</form>
</div>

