<section>
	<header>
		<h1>Manage Program Settings <a href="{{helpLink}}" target="_blank"><i class="fa fa-question-circle bms-helpicon" aria-hidden="true"></i></a>
		</h1>
	</header>
	<nav>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['basic-details']" [routerLinkActive]="['active']" queryParamsHandling="merge"
				   jhiTranslate="program-settings-manager.tabs.basic-details"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['members']" [routerLinkActive]="['active']" queryParamsHandling="merge"
				   jhiTranslate="program-settings-manager.tabs.members"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['locations']" [routerLinkActive]="['active']" queryParamsHandling="merge"
				   jhiTranslate="program-settings-manager.tabs.locations"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['breeding-methods']" [routerLinkActive]="['active']" queryParamsHandling="merge"
				   jhiTranslate="program-settings-manager.tabs.breeding-methods"></a>
			</li>
		</ul>
	</nav>
	<div class="tab-content p-3">
		<router-outlet></router-outlet>
		<jhi-alert></jhi-alert>
	</div>
</section>
