<div class="om-as-view">
		<h2>Add New Scale</h2>
	<form>
		<button ng-click="saveScale($event)" type="submit">Sase</button>
		<div>
			<label for="om-as-name">Name</label>
			<input type="text" name="om-as-name" id="om-as-name"></input>
		</div>

		<div>
			<label for="om-as-description">Description</label>
			<textarea type="text" name="om-as-description" id="om-as-description"></textarea>
		</div>

		<div>
			<label for="om-as-type">Data Type</label>
			<select name="om-as-type" id="om-as-type">
				<option value="" selected>Select a Data Type..</option>
				<option ng-repeat="type in dataTypes" value="type.id">{{type.name}}</option>
			</select>
		</div>

		<div ng-show="selectedDataType === 'numeric'">
			<label for="om-as-min">Minimum Expected Value</label>
			<input type="text" name="om-as-min" id="om-as-min"></input>

			<label for="om-as-max">Maximum Expected Value</label>
			<input type="text" name="om-as-max" id="om-as-max"></input>
		</div>

		<div ng-show="selectedDataType === 'categorical'">
			<span>Put some awesome repeating categories input control here</span>
		</div>

	</form>
</div>

