<div class="row">
	<div class="col">
		Hover over studies to display information
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-curved" (mouseleave)="onMouseLeave()">
				<thead>
				<tr>
					<th>NAME</th>
					<th>TYPE</th>
					<th>DATE</th>
					<th>FOLDER</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let study of studies" [class.selected]="study.selected"
					(mouseenter)="onMouseEnter(study)">
					<td>{{study.name}}</td>
					<td>{{study.type}}</td>
					<td>{{study.date}}</td>
					<td>{{study.folder}}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="studies && studies.length">
			<div class="row">
				<div class="col">
					<div class="pagination-container">
						<div class="pagination-box pagination-box-left"></div>
						<div class="pagination-box">
							<ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" [disabled]="isLoading"
											[maxSize]="5" [rotate]="true" (pageChange)="load()"></ngb-pagination>
						</div>
						<div class="pagination-box pagination-box-right"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Workaround for right overlap (md-5) and min-height -->
	<div class="col-md-5" style="min-height: 400px">
		<ngx-charts-bar-vertical-normalized
			[view]="view"
			[results]="study.metadata.observations"
			[scheme]="colorScheme"
			[gradient]="gradient"
			[xAxis]="showXAxis"
			[yAxis]="showYAxis"
			[legend]="showLegend"
			[showXAxisLabel]="showXAxisLabel"
			[showYAxisLabel]="showYAxisLabel"
			[xAxisLabel]="xAxisLabel"
			[yAxisLabel]="yAxisLabel"
			[animations]="animations"
		></ngx-charts-bar-vertical-normalized>
	</div>
</div>
<!--[yAxisTicks]="study?.metadata?.yAxisTicks"-->
