<div class="row">
	<div class="col">
		Hover over studies to display information
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-curved" (mouseleave)="onMouseLeave()">
				<thead>
				<tr>
					<th>NAME</th>
					<th>TYPE</th>
					<th>DATE</th>
					<th>FOLDER</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let study of studies" [class.selected]="study.selected"
					(mouseenter)="onMouseEnter(study)" >
					<td>{{study.name}}</td>
					<td>{{study.type}}</td>
					<td>{{study.date}}</td>
					<td>{{study.folder}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-5">
	</div>
</div>

