table {
  font-weight: 300;
}

thead {
  text-transform: uppercase;
}

tbody tr {
  cursor: pointer;
}
tr.selected {
  color: olivedrab;
  background-color: #bed6b2 !important;

  td:first-child {
    border-left: 3px solid olivedrab !important;
    padding-left: 3px !important;
  }
}

