<section>
	<!-- TODO leaving header placeholder just in case, although no-header plays better with institute image -->
	<!--<header>
		<h1>
			<img src="/ibpworkbench/controller/static/images/programs.png" style="width: 18px; height: 18px;"/>
			Programs <a href="{{helpLink}}" target="_blank">
			<i class="fa fa-question-circle bms-helpicon" aria-hidden="true"></i></a>
		</h1>
	</header>-->
	<div class="row mt-3">
		<div class="col-sm-4">
			<form>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="cropDropdown" jhiTranslate="program.crop"></label>
					<div class="col-sm-7">
						<select class="form-control" id="cropDropdown" name="cropDropdown"
								(change)="onCropChange()" [(ngModel)]="cropName" #cropDropdown="ngModel" >
							<option *ngFor="let crop of crops" [value]="crop">{{crop}}</option>
						</select>
					</div>
					<div class="col-sm-auto">
						<div class="throbber" *ngIf="isLoading"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="programDropdown" jhiTranslate="program.program"></label>
					<div class="col-sm-7">
						<select class="form-control" id="programDropdown" name="programDropdown"
								(change)="onProgramChange()"
								[(ngModel)]="program" #programDropdown="ngModel" >
							<option *ngFor="let program of programs" [ngValue]="program">{{program.name}}</option>
						</select>
					</div>
					<div class="col-sm-auto">
						<button class="btn btn-info" jhiTranslate="program.launch"
								[disabled]="!program" (click)="onOpenProgram()"></button>
					</div>
				</div>
			</form>
		</div>
		<div class="col"><!-- filler --></div>
		<div class="col-auto">
			<img [src]="instituteLogoPath" alt="" style="max-height: 100px;"/>
		</div>
	</div>
	<div class="row mt-3" *ngIf="programSelected">
		<div class="col">
			<nav>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" jhiTranslate="program.my.studies" [routerLink]="['my-studies']"
						   [routerLinkActive]="['active']"
						   [queryParams]="{ programUUID: programSelected.uniqueID, cropName: cropName }"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" jhiTranslate="program.my.lists" [routerLink]="['my-lists']"
						   [routerLinkActive]="['active']"
						   [queryParams]="{ programUUID: programSelected.uniqueID, cropName: cropName }"></a>
					</li>
				</ul>
			</nav>
			<div class="tab-content p-3">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
<jhi-alert></jhi-alert>
