<section>
	<!-- TODO leaving header placeholder just in case, although no-header plays better with institute image -->
	<!--<header>
		<h1>
			<img src="/ibpworkbench/controller/static/images/programs.png" style="width: 18px; height: 18px;"/>
			Programs <a href="{{helpLink}}" target="_blank">
			<i class="fa fa-question-circle bms-helpicon" aria-hidden="true"></i></a>
		</h1>
	</header>-->
	<div class="row mt-3">
		<div class="col-sm-4">
			<form>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="cropDropdown" jhiTranslate="program.crop"></label>
					<div class="col-sm-7">
						<ng-select2 name="cropDropdown" id="cropDropdown" width="100%"
									[data]="crops | CropSelect2Data"
									[(ngModel)]="cropName"
									placeholder="All"
									[allowClear]="true"
									(ngModelChange)="onCropChange()">
						</ng-select2>
					</div>
					<div class="col-sm-auto">
						<div class="throbber" *ngIf="isLoading"></div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="programDropdown" jhiTranslate="program.program"></label>
					<div class="col-sm-7">
						<!-- ngIf -> workaround to fire ajax load -->
						<ng-select2 name="programDropdown" id="programDropdown" width="100%"
									*ngIf="crops?.length"
									[(ngModel)]="programModel"
									[value]="programModel"
									[data]="initialData"
									[options]="programDropdownOptions"
									(valueChanged)="onProgramChange($event)">
						</ng-select2>
					</div>
					<div class="col-sm-auto">
						<button class="btn btn-info" jhiTranslate="program.launch"
								[disabled]="!programModel" (click)="onOpenProgram()"></button>
					</div>
				</div>
			</form>
		</div>
		<div class="col"><!-- filler --></div>
		<div class="col-auto">
			<img [src]="instituteLogoPath" alt="" style="max-height: 100px;"/>
		</div>
	</div>
	<div class="row mt-3" *ngIf="programModel" >
		<div class="col" *jhiHasAnyAuthority="PERMISSIONS">
			<nav>
				<ul class="nav nav-tabs">
					<li class="nav-item" *jhiHasAnyAuthority="MANAGE_STUDIES_VIEW_PERMISSIONS">
						<a class="nav-link" jhiTranslate="program.my.studies.tab.name" [routerLink]="['my-studies']"
						   [routerLinkActive]="['active']"
						   [queryParams]="{ programUUID: programModel }"></a>
					</li>
					<li class="nav-item" *jhiHasAnyAuthority="GERMPLASM_LISTS_PERMISSIONS">
						<a class="nav-link" jhiTranslate="program.my.lists.tab.name" [routerLink]="['my-lists']"
						   [routerLinkActive]="['active']"
						   [queryParams]="{ programUUID: programModel }"></a>
					</li>
				</ul>
			</nav>
			<div class="tab-content p-3">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>
<jhi-alert></jhi-alert>
