<div class="om-am-view">

	<button ng-click="goBack()">Back</button>

	<h2>Add New Method</h2>
	<form>
		<button ng-click="saveMethod($event, method)" type="submit">Save</button>
		<div>
			<label for="om-am-name">Name</label>
			<input type="text" name="om-am-name" id="om-am-name" ng-model="method.name"></input>
		</div>

		<div>
			<label for="om-am-description">Description</label>
			<textarea type="text" name="om-am-description" id="om-am-description" ng-model="method.description"></textarea>
		</div>
	</form>
</div>
