<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ibpworkbench</display-name>
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>

  <filter>
      <filter-name>HTTPRequestAwareFilter</filter-name>
      <filter-class>org.generationcp.commons.hibernate.HTTPRequestAwareServletFilter</filter-class>
  </filter>

  <filter-mapping>
      <filter-name>HTTPRequestAwareFilter</filter-name>
      <url-pattern>/main/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
      <filter-name>HTTPRequestAwareFilter</filter-name>
      <url-pattern>/content/*</url-pattern>
  </filter-mapping>



    <servlet>
    <servlet-name>ibpworkbench</servlet-name>
    <servlet-class>org.generationcp.commons.vaadin.spring.SpringApplicationServlet</servlet-class>

    <init-param>
        <param-name>applicationBeanName</param-name>
        <param-value>workbenchMain</param-value>
    </init-param>

    <init-param>
      <param-name>application</param-name>
      <param-value>org.generationcp.ibpworkbench.IBPWorkbenchApplication</param-value>
    </init-param>
  </servlet>

    <servlet>
        <servlet-name>workbenchcontent</servlet-name>
        <servlet-class>org.generationcp.commons.vaadin.spring.SpringApplicationServlet</servlet-class>

        <init-param>
            <param-name>applicationBeanName</param-name>
            <param-value>workbenchContent</param-value>
        </init-param>

        <init-param>
            <param-name>application</param-name>
            <param-value>org.generationcp.ibpworkbench.WorkbenchContentApp</param-value>
        </init-param>
    </servlet>


    <servlet>
    <servlet-name>web_login_forward</servlet-name>
    <servlet-class>org.generationcp.ibpworkbench.servlet.WebLoginForwardServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>mvcdispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:ibpworkbench-servlet.xml</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
    <servlet-mapping>
        <servlet-name>mvcdispatcher</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ibpworkbench</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ibpworkbench</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>workbenchcontent</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>web_login_forward</servlet-name>
    <url-pattern>/web_login_forward/*</url-pattern>
  </servlet-mapping>
</web-app>