@import 'bootstrap-variables';
@import 'fonts.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/mixins/breakpoints";

/* ==============================================================
Angular material
===============================================================*/
@import './theme';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

.fa-sort {
    margin-left: 0.5em;
}

.footer .btn {
    margin-left: 0.25em;
}

/* make disabled links look like actual links. Transparency added automatically by bootstrap */
.btn-link:disabled, .btn-link.disabled {
    color: $link-color !important;
    pointer-events: unset !important;
    user-select: text;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid green;
}

.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

// Highlighting labels (custom components, e.g ng-select2)
.mandatory-asterisk:after,
.form-group.required .col-form-label:after {
    content:"*";
    color:red;
    margin-left: 2px;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}
/* To be useful for elements that has display attribute */
[hidden] {
    display: none !important;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        span{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover span {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        z-index: 10000000;
        &.left {
            left: 20px;
        }
        &.right {
            right: 20px;
        }
        &.top {
            top: 20px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 400px;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
BMS bootstrap styleGuide
========================================================================== */

.nav-tabs {
    .nav-item {
        .nav-link {
            font-weight: bold;

            &:not(.active) {
                background-color: #cecece;
            }
            &.active {
                background-color: $tab-active-color;
                border-bottom-color: $tab-active-color;
            }
        }
    }
}

$tab-border: $border-width solid $nav-tabs-border-color;
.tab-content {
    background: $tab-active-color;
    border-bottom: $tab-border;
    border-left: $tab-border;
    border-right: $tab-border;
}

.table {
    white-space: nowrap;
    border-spacing: 0;
}

.table tr.selected {
    color: olivedrab;
    background-color: #bed6b2 !important;
}

.table tr.selectable {
    cursor: pointer;
}

.table > thead {
    background-color: #c8c6c6;
}

.table,
.table > thead > tr > th,
.table > tbody > tr > td {
    border: 0;
}

.table.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: #e3e3e3;
    }
    tbody tr:nth-of-type(even) {
        background-color: #f0eeee;
    }
}

$table-bordered-border: 1px solid #c2c3c4;
.table.table-bordered {
    & {
        border: 0 !important;
    }
    > thead > tr > th {
        border-bottom: $table-bordered-border;
    }

    > tbody {
        > tr > td {
            border-right: $table-bordered-border;
        }

        > tr > td:last-child {
            border-right: 0;
        }
    }

}

$table-curved-border-radius: 0.625rem; // 10 px default
.table-curved {
    border-collapse: separate;
    border-radius: $table-curved-border-radius;

    > thead {
        > tr {
            > th:first-child {
                border-top-left-radius: $table-curved-border-radius;
            }

            > th:last-child {
                border-top-right-radius: $table-curved-border-radius;
            }
        }
    }

    > tbody {
        > tr:last-child > td:first-child {
            border-bottom-left-radius: $table-curved-border-radius;
        }

        > tr:last-child > td:last-child {
            border-bottom-right-radius: $table-curved-border-radius;
        }
    }
}
tr.selected {
    color: olivedrab;
    background-color: #bed6b2 !important;
}

#listBuilderDrop {
    height: 80%;
    background-color: #e3e3e3;
    border-radius: $table-curved-border-radius;
}

// FIXME github.com/twbs/bootstrap/issues/23499#issuecomment-346845362
.btn-primary {
    color: #fff;
}

/* modal */

.modal-autofit .modal-dialog {
    width: 90%;
    /* FIXME find jquery-ui media query that's setting max-width
        and remove this workaround. Same with the others modal-extra-* */
    max-width: 90%;
}
.modal-extra-large .modal-dialog {
    width: 950px;
    max-width: 950px;
}
.modal-large .modal-dialog {
    width: 800px;
    max-width: 800px;
}
.modal-extra-medium .modal-dialog {
    width: 700px;
    max-width: 700px;
}
.modal-medium .modal-dialog {
    width: 650px;
    max-width: 650px;
}
.modal-small .modal-dialog {
    width: 500px;
    max-width: 500px;
}
.modal-extra-small .modal-dialog {
    width: 400px;
    max-width: 400px;
}
.modal-fillview .modal-dialog {
    width: 90vw;
    max-width: 90vw;
    height: 90vh;
    max-height: 90vh;
}


#columnVisibility {
    width: 180px;

    button {
        white-space: nowrap;
        width: 100%;
        padding: 0.5em 1em;
        margin-bottom: 4px;
    }
}

/* ==========================================================================
PrimeNg
TODO use theming https://www.primefaces.org/primeng/#/theming
========================================================================== */

/* tree-table */
.ui-treetable .ui-state-highlight {
    background: none repeat scroll 0% 0% #BED6B2 !important;
}
.ui-treetable table {
    border-collapse: separate;
}
.tree-table .folder,
.tree-table .file
{
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0.2em 0px 0.2em 1.5em;
}
.tree-table .folder {
    background-image: url("../images/folder.png");
}
.tree-table .file {
    background-image: url("../images/document-icon.png");
}
/* tree */
.ui-tree {
    width: 100% !important;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    height: 350px;
    overflow: auto;
}
.ui-tree .ui-state-highlight {
    background: none repeat scroll 0% 0% #BED6B2 !important;
    border-radius: 6pt;
}
/* Fix Chrome highlight issue */
button:focus,
.ui-tree [tabindex] {
    outline: none !important;
}

/* ==========================================================================
Column filters
========================================================================== */
.column-filter-badge {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

    button {
        div {
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        i {
            float: right;
            line-height: $btn-line-height;
            margin-left: 5px;
        }
    }
}
/* ==========================================================================
Pagination
FIXME Using Nested Flex Containers workaround for now https://stackoverflow.com/a/33856609/1384743
 Until something like justify-self is available https://stackoverflow.com/a/32583512/1384743
========================================================================== */
.pagination-container {
    display: flex;
    margin-top: $spacer;
    flex-wrap: wrap;

    .pagination-box {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .pagination-box-right > div {
        margin-left: auto;
    }

    .pagination-box-left > div {
        margin-right: auto;
    }
}
/* FIXME using wrap workaround for now
     https://github.com/ng-bootstrap/ng-bootstrap/issues/2877 */
@include media-breakpoint-down(md) {
    .pagination-wrap ul.pagination {
        flex-wrap: wrap;
    }
}

.bms-helpicon {
    font-size: 20px!important;
    color: #5A5A5A;
    top: 10px;
    left: 20px;
    font-weight: bold;
}

.add_right_margin-10 {
    margin-right: 10px;
}

.disable-image {
    opacity: 0.5
}

.alert-overflow {
    max-height: 400px;
    overflow: auto;
}

.close-nav-tab {
    padding-left: 10px;
}

/* ==========================================================================
Angular cdk
========================================================================== */
tr.cdk-drag-preview {
    display: table;
}

.cdk-drop-list-receiving,
#listBuilderDrop.cdk-drop-list-dragging {
    border: 2px dashed olivedrab;
}
/* ==========================================================================
Variable select
========================================================================== */
.variable-select-icon {
    width: 13px;
    height: 13px;
}
/* ==========================================================================
Other
========================================================================== */
.table-fixed {
    white-space: break-spaces !important;
    border-spacing: 0;
}

.word-wrap {
    word-break: break-all;
}
