<div ng-hide="model" class="om-details-throbber-wrapper">
	<span class="throbber throbber-2x"></span>
</div>
<form ng-show="model" class="form-horizontal" name="mdForm" ng-submit="saveChanges($event, methodId, model)" novalidate>
	<div class="om-panel-header">
		<h2 class="om-panel-title underlined-heading">
			{{methodName}}
		</h2>
	</div>

	<div class="om-panel-content">
		<om-error-list om-errors-already-translated="serverErrors.general"></om-error-list>

		<div ng-if="showNoneditableFieldsAlert" class="alert alert-warning" role="alert">
			<span>{{'validation.method.noneditableFields' | translate }}</span>
		</div>

		<div ng-class="formGroupClass('omName', 'name')">
			<label for="omName" class="col-sm-3 control-label" ng-class="{'label-required': editing}">
				{{'formField.name' | translate}}
			</label>
			<div class="col-sm-9">
				<om-input om-name="omName" om-property="name" om-editing="editing" om-model="model" om-required="true" om-max-length="200"></om-input>
				<ng-messages for="mdForm.omName.$error" ng-if="mdForm.$submitted || mdForm.omName.$touched">
					<ng-message when="required"><p class="text-danger">{{'validation.method.nameRequired' | translate}}</p></ng-message>
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "200"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="mdForm.omName.$touched" ng-repeat="error in serverErrors.name">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omDescription',  'description')">
			<label for="omDescription" class="col-sm-3 control-label">{{'formField.description' | translate}}</label>
			<div class="col-sm-9">
				<om-text-area om-name="omDescription" om-property="description" om-editing="editing" om-model="model" om-max-length="1024"></om-text-area>
				<ng-messages for="mdForm.omDescription.$error" ng-if="mdForm.$submitted || mdForm.omDescription.$touched">
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "1024"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="mdForm.omDescription.$touched" ng-repeat="error in serverErrors.description">{{error}}</p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">

				<div ng-if="clientErrors.failedToDelete" class="alert alert-danger" role="alert">
					{{'warnings.deleteUnsuccessful' | translate}}
				</div>
				<div ng-if="!isSystemMethod">
					<div ng-hide="editing || confirmationNecessary">
						<button class="btn btn-primary" ng-click="editMethod($event)">{{'button.edit' | translate}}</button>

						<button ng-hide="!deletable" type="button" class="btn btn-danger btn-icon" aria-label="{{'button.delete' | translate}}" ng-click="deleteMethod($event, methodId)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</div>
					<div ng-show="editing && !confirmationNecessary">
						<div ng-hide="confirmationNecessary">
							<button class="btn btn-primary" type="submit">
								{{'button.save' | translate}}
								<span ng-show="showThrobber" class="throbber-btn-wrapper">
								<span class="throbber throbber-btn throbber-white"></span>
							</span>
							</button>
							<a href="#" ng-click="cancel($event)">{{'button.cancel' | translate}}</a>
						</div>
					</div>

					<div ng-show="confirmationNecessary">
						<div class="alert alert-danger">
							<span ng-show="confirmCancel">{{'warnings.discardConfirmation' | translate}}</span>
							<span ng-show="confirmDelete">{{'warnings.methods.deleteConfirmation' | translate}}</span>
						</div>
						<button class="btn btn-danger" ng-click="confirm($event)">
							<span ng-show="confirmCancel">{{'button.discard' | translate}}</span>
							<span ng-show="confirmDelete">{{'button.delete' | translate}}</span>
						</button>
						<a href="#" ng-click="deny($event)">
							<span ng-show="confirmCancel">{{'button.continueEditing' | translate}}</span>
							<span ng-show="confirmDelete">{{'button.cancel' | translate}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="om-details-subheader">
			<om-expand-collapse-heading om-text="{{'formField.metadata' | translate}}" om-is-open="showMetadata"></om-expand-collapse-heading>
		</div>
		<div ng-show="showMetadata">
			<div class="form-group" ng-show="model.metadata.usage.variables">
				<label for="omInUse" class="col-sm-3 control-label">{{'formField.inUseInVariables' | translate}}</label>
				<div class="col-sm-9">
					<div class="form-control-static">{{formatListForDisplay(model.metadata.usage.variables)}}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="omLists" class="col-sm-3 control-label">{{'formField.system.method' | translate}}</label>
				<div class="col-sm-9">
					<div class="form-control-static">{{model.metadata.usage.system ? 'formField.yes.text' : 'formField.no.text' | translate}}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="omDateCreated" class="col-sm-3 control-label">{{'formField.date.dateCreated' | translate}}</label>
				<div class="col-sm-9">
					<div class="form-control-static">{{model.metadata.dateCreated ? (model.metadata.dateCreated | date) : '-'}}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="omDateLastModified" class="col-sm-3 control-label">{{'formField.date.dateLastModified' | translate}}</label>
				<div class="col-sm-9">
					<div class="form-control-static">{{model.metadata.dateLastModified ? (model.metadata.dateLastModified | date) : '-'}}</div>
				</div>
			</div>
		</div>

	</div>
</form>
