<div [@dialog] *ngIf="visible" class="dialog modal-dialog" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn close"
              data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <ng-content></ng-content>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>