<div class="om-av-view">

	<h2 class="om-title">{{'addNew.variable.title' | translate}}</h2>

	<om-error-list om-errors-already-translated="serverErrors.general" om-errors-to-translate="serverErrors.someListsNotLoaded">
	</om-error-list>

	<form class="form-horizontal" name="avForm" ng-submit="saveVariable($event, variable)" novalidate>

		<div ng-class="formGroupClass('omName', 'name')">
			<label for="omName" class="col-sm-2 control-label label-required">{{'formField.name' | translate}}</label>
			<div class="col-sm-7">
				<om-input om-name="omName" om-property="name" om-adding="true" om-model="variable" om-required="true" om-max-length="32" om-pattern="^[a-zA-Z_%][a-zA-Z_%0-9]*$"></om-input>
				<ng-messages for="avForm.omName.$error" ng-if="avForm.$submitted || avForm.omName.$touched">
					<ng-message when="required"><p class="text-danger">{{'validation.variable.nameRequired' | translate}}</p></ng-message>
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "32"}'}}</p></ng-message>
					<ng-message when="pattern"><p class="text-danger">{{'validation.variable.pattern' | translate:'{field: "Name"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omName.$touched" ng-repeat="error in serverErrors.name">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omAlias', 'alias')">
			<label for="omAlias" class="col-sm-2 control-label">{{'formField.alias' | translate}}</label>
			<div class="col-sm-7">
				<om-input om-name="omAlias" om-property="alias" om-disabled="isAliasDisabled" om-adding="true" om-model="variable" om-max-length="32" om-pattern="^[a-zA-Z_%][a-zA-Z_%0-9]*$"></om-input>
				<small ng-show="isAliasDisabled">{{'validation.variable.alias' | translate}}</small>
				<ng-messages for="avForm.omAlias.$error" ng-if="avForm.$submitted || avForm.omAlias.$touched">
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "32"}'}}</p></ng-message>
					<ng-message when="pattern"><p class="text-danger">{{'validation.variable.pattern' | translate:'{field: "Alias"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omAlias.$touched" ng-repeat="error in serverErrors.alias">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omDescription', 'description')">
			<label for="omDescription" class="col-sm-2 control-label">{{'formField.description' | translate}}</label>
			<div class="col-sm-7">
				<om-text-area om-name="omDescription" om-property="description" om-adding="true" om-model="variable" om-max-length="1024"></om-text-area>
				<ng-messages for="avForm.omDescription.$error" ng-if="avForm.$submitted || avForm.omDescription.$touched">
					<ng-message when="maxlength"><p class="text-danger">{{'validation.tooLong' | translate:'{maxLength: "1024"}'}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omDescription.$touched" ng-repeat="error in serverErrors.description">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omProperty', 'property')">
			<label for="omProperty" class="col-sm-2 control-label label-required">{{'formField.property' | translate}}</label>
			<div class="col-sm-7">
				<om-select name="omProperty" om-name="om-property" om-property="property" om-adding="true" ng-model="variable" om-options="data.properties" om-required="true"></om-select>
				<a href="#" ng-click="addNew($event, 'property')" data-test="addNewPropertyButton">{{'addNew.variable.addProperty' | translate}}</a>
				<ng-messages for="avForm.omProperty.$error" ng-if="avForm.$submitted">
					<ng-message when="required"><p class="text-danger">{{'validation.variable.propertyRequired' | translate}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omProperty.$touched" ng-repeat="error in serverErrors.property">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omMethod', 'method')">
			<label for="omMethod" class="col-sm-2 control-label label-required">{{'formField.method' | translate}}</label>
			<div class="col-sm-7">
				<om-select name="omMethod" om-name="om-method" om-property="method" om-adding="true" ng-model="variable" om-options="data.methods" om-required="true"></om-select>
				<a href="#" ng-click="addNew($event, 'method')" data-test="addNewMethodButton">{{'addNew.variable.addMethod' | translate}}</a>
				<ng-messages for="avForm.omMethod.$error" ng-if="avForm.$submitted">
					<ng-message when="required"><p class="text-danger">{{'validation.variable.methodRequired' | translate}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omMethod.$touched" ng-repeat="error in serverErrors.method">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omScale', 'scale')">
			<label for="omScale" class="col-sm-2 control-label label-required">{{'formField.scale' | translate}}</label>
			<div class="col-sm-7">
				<om-select name="omScale" om-name="om-scale" om-property="scale" om-adding="true" ng-model="variable" om-options="data.scales" om-required="true"></om-select>
				<a href="#" ng-click="addNew($event, 'scale')" data-test="addNewScaleButton">{{'addNew.variable.addScale' | translate}}</a>
				<ng-messages for="avForm.omScale.$error" ng-if="avForm.$submitted">
					<ng-message when="required"><p class="text-danger">{{'validation.variable.scaleRequired' | translate}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omScale.$touched" ng-repeat="error in serverErrors.scale">{{error}}</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omVariableTypes', 'variableTypes')">
			<label for="omVariableTypes" class="col-sm-2 control-label label-required">{{'formField.variableType' | translate}}</label>
			<div class="col-sm-7">
				<om-multi-select name="omVariableTypes" om-property="variableTypes" om-adding="true" ng-model="variable" om-options="data.types"></om-multi-select>
				<ng-messages for="avForm.omVariableTypes.$error" ng-if="avForm.$submitted">
					<ng-message when="emptyValue"><p class="text-danger">{{'validation.variable.variableTypeEmpty' | translate}}</p></ng-message>
				</ng-messages>
				<p class="text-danger" ng-hide="avForm.omVariableTypes.$touched" ng-repeat="error in serverErrors.variableTypes">{{error}}</p>
				<p class="text-warning" ng-show="showTreatmentFactorAlert">
					{{'validation.variable.treatmentFactor' | translate }}
				</p>
			</div>
		</div>

		<div ng-class="formGroupClass('omRange', 'expectedRange')" ng-show="showRangeWidget">
			<label for="omRange" class="col-sm-2 control-label">{{'addNew.variable.expectedRange' | translate}}</label>
			<div class="col-sm-7">
				<om-range name="omRange" om-property="expectedRange" om-adding="true" ng-model="variable" om-numeric="showRangeWidget" om-min="variable.scale.validValues.min" om-max="variable.scale.validValues.max"></om-range>
				<small ng-show="variable.scale.validValues">{{'validation.variable.expectedRange' | translate: variable.scale.validValues}}</small>
				<ng-messages for="avForm.omRange.$error" ng-messages-include="range-validation-messages" multiple ng-if="avForm.$submitted || avForm.omRange.$touched"></ng-messages>
				<p class="text-danger" ng-hide="avForm.omRange.$touched" ng-repeat="error in serverErrors.expectedRange">{{error}}</p>
			</div>
		</div>

		<div class="form-group">
			<div ng-hide="confirmationNecessary" class="col-sm-offset-2 col-sm-7">
				<button class="btn btn-primary" type="submit" data-test="saveVariableButton">
					{{'button.save' | translate}}
					<span ng-show="submitted" class="throbber-btn-wrapper">
						<span class="throbber throbber-btn throbber-white"></span>
					</span>
				</button>
				<a href="#" ng-click="cancel($event)">{{'button.cancel' | translate}}</a>
			</div>
			<div ng-show="confirmationNecessary" class="col-sm-offset-2 col-sm-7">
				<div class="alert alert-danger">{{'warnings.discardConfirmation' | translate}}</div>
				<button class="btn btn-danger" ng-click="confirm($event)">
					{{'button.discard' | translate}}
				</button>
				<a href="#" ng-click="deny($event)">{{'button.continueEditing' | translate}}</a>
			</div>
		</div>
	</form>
</div>
